force-app/main/default/flows/AAREG_Decision_create_agreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addValuesToAgreement</name>
        <label>Add values to agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_Agreement.account__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.Status__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.DataProcessorName__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.DataProcessorName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.DataProcessorOrganizationNumber__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.DataProcessorOrganizationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.OrganizationNumber__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.OrganizationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.Application__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createAgreement</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Check status for decision. If decision is Avslått it should not create an agreement, but close the decision and archive in public 360 when its in place</description>
        <name>checkStatus</name>
        <label>Check status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isDecisionFinished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNotAvslaat</defaultConnectorLabel>
        <rules>
            <name>isAvslaat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDecisionRecord.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_StatusAvslaat</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_finished1</targetReference>
            </connector>
            <label>isAvslaat</label>
        </rules>
    </decisions>
    <description>Oppretter en avtale basert på vedtak, søknad og relaterte kontakter</description>
    <environments>Default</environments>
    <interviewLabel>Application decision - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG Decision create agreement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAgreement</name>
        <label>Create agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_related_contacts</targetReference>
        </connector>
        <inputReference>rec_Agreement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getApplicationRecords</name>
        <label>Get application record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addValuesToAgreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDecisionRecord.Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDecisionRecord</name>
        <label>Get decision record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application_Decision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_decision_details</name>
        <label>Update decision details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Decision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>rec_Agreement.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Decision_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_contacts</name>
        <label>Update related contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_decision_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getApplicationRecords.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>rec_Agreement.Id</elementReference>
            </value>
        </inputAssignments>
        <object>RelatedContact__c</object>
    </recordUpdates>
    <screens>
        <name>decision_finished1</name>
        <label>decision finished</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_isFinishedText</name>
            <fieldText>&lt;p&gt;You are about to finish the decision&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>isDecisionFinished</name>
        <label>decision finished</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getApplicationRecords</targetReference>
        </connector>
        <fields>
            <name>isFinishedText</name>
            <fieldText>&lt;p&gt;You are about to finish the decision and create an agreement&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getDecisionRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rec_Agreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agreement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_StatusAvslaat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Avslått</stringValue>
        </value>
    </variables>
</Flow>
