force-app/main/default/flows/AAREG_deactivateAgreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>checkYesStatement</name>
        <label>checkYesStatement</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>youHaveNotSetYesToDeactivate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>yesDeactivateAgreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateStatusOnAgreement</targetReference>
            </connector>
            <label>isYes</label>
        </rules>
    </decisions>
    <formulas>
        <name>varSetDescription</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&apos; &apos;+{!$User.LastName} +&apos;  has deactivated the agreement&apos;</expression>
    </formulas>
    <interviewLabel>AAREG_deactivateAgreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_deactivateAgreement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAgreement</name>
        <label>getAgreement</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deactivateAgreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>AA_ConfirmedAgreementCancellation__c</queriedFields>
        <queriedFields>AA_ConfirmedAgreementCancellationDate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateStatusOnAgreement</name>
        <label>updateStatusOnAgreement</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_ConfirmedAgreementCancellationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AA_ConfirmedAgreementCancellation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deactivated</stringValue>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordUpdates>
    <screens>
        <name>deactivateAgreement</name>
        <label>deactivateAgreement</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkYesStatement</targetReference>
        </connector>
        <fields>
            <name>yesDeactivateAgreement</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Yes, I want to deactivate the agreement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>youHaveNotSetYesToDeactivate</name>
        <label>You have not choosen yes to deactivate</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAgreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSetSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Agreement deactivated</stringValue>
        </value>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Agreement deactivated</stringValue>
        </value>
    </variables>
</Flow>
