force-app/main/default/flows/AAREG_SupportSendNotificationToCasehandler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send notification to case owner on a inquiry when new message is added</description>
        <name>supportNotificationsToCaseOwner</name>
        <label>supportNotificationsToCaseOwner</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>varNotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Ny melding har kommet inn på henvendelsen.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Ny melding</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>setRecepient</name>
        <label>setRecepient</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varInquiryOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getNotificationId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkIfInquiry</name>
        <label>checkIfInquiry</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isInquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inquiry__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInquiryOwner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInquiryOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRecepient</targetReference>
            </connector>
            <label>isInquiry</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AAREG_SupportSendNotificationToCasehandler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_SupportSendNotificationToCasehandler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getInquiry</name>
        <label>getInquiry</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfInquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <object>Inquiry__c</object>
        <outputAssignments>
            <assignToReference>varInquiryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInquiryOwner</assignToReference>
            <field>InquiryOwner__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getNotificationId</name>
        <label>getNotificationId</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>supportNotificationsToCaseOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_threadNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>varNotificationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getThread</name>
        <label>getThread</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getInquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <object>Thread__c</object>
        <outputAssignments>
            <assignToReference>varObjectName</assignToReference>
            <field>CRM_Related_Object_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRecordId</assignToReference>
            <field>CRM_Related_Object__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getThread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_From_Contact__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_EXT</stringValue>
            </value>
        </filters>
        <object>Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varInquiryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInquiryOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
