force-app/main/default/flows/AAREG_applicationFinished.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AccessTypeMultiSelect</name>
        <label>AccessTypeMultiSelect</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <actionName>AAREG_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loopTextCollectionMultiPicklistSelect</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>getApplication.AA_AccessTypes__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AAREG_MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Agreement_creation_failed</name>
        <label>Agreement creation failed</label>
        <locationX>754</locationX>
        <locationY>4598</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Agreement__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>AAREG_applicationFinished_failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Application_update_failed</name>
        <label>Application update failed</label>
        <locationX>1722</locationX>
        <locationY>5354</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>AAREG_applicationFinished_failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
            <value>
                <elementReference>getApplication</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Related_Contact_update_failed</name>
        <label>Related Contact update failed</label>
        <locationX>490</locationX>
        <locationY>4706</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>RelatedContact__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>AAREG_applicationFinished_failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Thread_updationg_failed</name>
        <label>Thread updationg failed</label>
        <locationX>1458</locationX>
        <locationY>5462</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Thread__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>AAREG_applicationFinished_failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_County_Fields</name>
        <label>Add County Fields</label>
        <locationX>534</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hjemmel: {!Loop_over_Application_Basis_Codes.LegalBasisCounty__c} {!LineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Formål: {!Loop_over_Application_Basis_Codes.PurposeCounty__c} {!LineBreak}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Municipality_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Electricity_Fields</name>
        <label>Add Electricity Fields</label>
        <locationX>534</locationX>
        <locationY>3914</locationY>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hjemmel: {!Loop_over_Application_Basis_Codes.LegalBasisElectricitySupervision__c} {!LineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Formål: {!Loop_over_Application_Basis_Codes.PurposeElectricitySupervision__c} {!LineBreak}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ProcessingBasis_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Municipality_Fields</name>
        <label>Add Municipality Fields</label>
        <locationX>534</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hjemmel: {!Loop_over_Application_Basis_Codes.LegalBasisMunicipality__c} {!LineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Formål: {!Loop_over_Application_Basis_Codes.PurposeMunicipality__c} {!LineBreak}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckStateFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Other_Fields</name>
        <label>Add Other Fields</label>
        <locationX>270</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hjemmel: {!Loop_over_Application_Basis_Codes.OtherLegalBasis__c} {!LineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Formål: {!Loop_over_Application_Basis_Codes.OtherPurpose__c} {!LineBreak}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ProcessingBasis_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Pension_Fields</name>
        <label>Add Pension Fields</label>
        <locationX>534</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hjemmel: {!Loop_over_Application_Basis_Codes.LegalBasisPension__c} {!LineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Formål: {!Loop_over_Application_Basis_Codes.PurposePension__c} {!LineBreak}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckElectricityFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ProcessingBasis_field</name>
        <label>Add ProcessingBasis field</label>
        <locationX>468</locationX>
        <locationY>4190</locationY>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Behandlingsgrunnlag: {!Loop_over_Application_Basis_Codes.ProcessingBasis__c} {!LineBreak} {!LineBreak}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Application_Basis_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddStateFields</name>
        <label>Add State Fields</label>
        <locationX>534</locationX>
        <locationY>3314</locationY>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hjemmel: {!Loop_over_Application_Basis_Codes.LegalBasisState__c} {!LineBreak}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Formål: {!Loop_over_Application_Basis_Codes.PurposeState__c} {!LineBreak}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPensionFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>applyCurrentStatus</name>
        <label>applyCurrentStatus</label>
        <locationX>688</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>currCaseHandlerStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.Casehandler_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isApplicationDone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>applyOwnerId</name>
        <label>applyOwnerId</label>
        <locationX>688</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>applyCurrentStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAPI</name>
        <label>setAPI</label>
        <locationX>138</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>API</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTextCollectionMultiPicklistSelect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDataProcessor</name>
        <label>setDataProcessor</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>dataProcessorOrgNr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.DataProcessorOrganizationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataProcessorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.DataProcessorName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkAccessType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEvent</name>
        <label>setEvent</label>
        <locationX>930</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>Event</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTextCollectionMultiPicklistSelect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setExtract</name>
        <label>setExtract</label>
        <locationX>666</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>Extract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTextCollectionMultiPicklistSelect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOnline</name>
        <label>setOnline</label>
        <locationX>402</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>Online</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTextCollectionMultiPicklistSelect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setSingleAcessType</name>
        <label>setSingleAcessType</label>
        <locationX>666</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>varSingleAccessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTextCollectionMultiPicklistSelect</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkAccessTypes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_County_Fields</name>
        <label>Check County Fields</label>
        <locationX>666</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Check_Municipality_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CountyNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Application_Basis_Codes.LegalBasisCounty__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Application_Basis_Codes.PurposeCounty__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_County_Fields</targetReference>
            </connector>
            <label>County Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Municipality_Fields</name>
        <label>Check Municipality Fields</label>
        <locationX>666</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>CheckStateFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MunicipalityNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Application_Basis_Codes.LegalBasisMunicipality__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Application_Basis_Codes.PurposeMunicipality__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Municipality_Fields</targetReference>
            </connector>
            <label>Municipality Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkAccessType</name>
        <label>checkAccessType</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Get_All_Application_Basis_Codes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNull</defaultConnectorLabel>
        <rules>
            <name>isAccessTypesNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getApplication.AA_AccessTypes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccessTypeMultiSelect</targetReference>
            </connector>
            <label>isAccessTypesNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkAccessTypes</name>
        <label>checkAccessTypes</label>
        <locationX>666</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>loopTextCollectionMultiPicklistSelect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAPI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access API with dataprocessor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access API</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access OTP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access OTP with dataprocessor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAPI</targetReference>
            </connector>
            <label>isAPI</label>
        </rules>
        <rules>
            <name>isOnline</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Online with dataprocessor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setOnline</targetReference>
            </connector>
            <label>isOnline</label>
        </rules>
        <rules>
            <name>isExtract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setExtract</targetReference>
            </connector>
            <label>isExtract</label>
        </rules>
        <rules>
            <name>isEvent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event with dataprocessor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setEvent</targetReference>
            </connector>
            <label>isEvent</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkDataProcessor</name>
        <label>checkDataProcessor</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>checkAccessType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotOrganizationSame</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getApplication.DataProcessorOrganizationNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>getApplication.Account__r.INT_OrganizationNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDataProcessor</targetReference>
            </connector>
            <label>isNotOrganizationSame</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckElectricityFields</name>
        <label>Check Electricity Fields</label>
        <locationX>666</locationX>
        <locationY>3806</locationY>
        <defaultConnector>
            <targetReference>Add_ProcessingBasis_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Electricity_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Application_Basis_Codes.LegalBasisElectricitySupervision__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Application_Basis_Codes.PurposeElectricitySupervision__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Electricity_Fields</targetReference>
            </connector>
            <label>Electricity Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOtherFields</name>
        <label>Check Other Fields</label>
        <locationX>468</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Check_County_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Fields_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Application_Basis_Codes.OtherLegalBasis__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Application_Basis_Codes.OtherPurpose__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Other_Fields</targetReference>
            </connector>
            <label>Other Fields Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPensionFields</name>
        <label>Check Pension Fields</label>
        <locationX>666</locationX>
        <locationY>3506</locationY>
        <defaultConnector>
            <targetReference>CheckElectricityFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pension_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Application_Basis_Codes.LegalBasisPension__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Application_Basis_Codes.PurposePension__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Pension_Fields</targetReference>
            </connector>
            <label>Pension Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStateFields</name>
        <label>Check State Fields</label>
        <locationX>666</locationX>
        <locationY>3206</locationY>
        <defaultConnector>
            <targetReference>CheckPensionFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>State_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Application_Basis_Codes.LegalBasisState__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Application_Basis_Codes.PurposeState__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddStateFields</targetReference>
            </connector>
            <label>State Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>isApplicationDone</name>
        <label>isApplicationDone</label>
        <locationX>688</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>IsNotChecked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNot</defaultConnectorLabel>
        <rules>
            <name>isDone</name>
            <conditionLogic>1 AND( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>applicationDoneConfirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currCaseHandlerStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved Partially</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currCaseHandlerStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkDataProcessor</targetReference>
            </connector>
            <label>isDone</label>
        </rules>
        <rules>
            <name>isDoneDeclined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicationDoneConfirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currCaseHandlerStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTaskApplicationFinished</targetReference>
            </connector>
            <label>isDoneDeclined</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsStatus</name>
        <label>IsStatus</label>
        <locationX>688</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>IsNotCorrectStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>IsStatusApproved</name>
            <conditionLogic>3 AND (1 OR 2 )</conditionLogic>
            <conditions>
                <leftValueReference>getApplication.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved Partially</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getApplication.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getApplication.AA_AccessTypes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>applicationDone</targetReference>
            </connector>
            <label>IsStatusApproved</label>
        </rules>
        <rules>
            <name>isStatusDeclined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getApplication.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>applicationDone</targetReference>
            </connector>
            <label>isStatusDeclined</label>
        </rules>
    </decisions>
    <description>Set cashandler status = Closed and status into approved/declined status and create agreement</description>
    <environments>Default</environments>
    <formulas>
        <name>finishDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Søknaden er bekreftet ferdigbehandlet av - &quot; + {!$User.FirstName}+&apos; &apos;+{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>AAREG_applicationFinished {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_applicationFinished</label>
    <loops>
        <name>Loop_over_Application_Basis_Codes</name>
        <label>Loop over Application Basis Codes</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <collectionReference>Get_All_Application_Basis_Codes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckOtherFields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createAgreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTextCollectionMultiPicklistSelect</name>
        <label>loopTextCollectionMultiPicklistSelect</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <collectionReference>AccessTypeMultiSelect</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setSingleAcessType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Application_Basis_Codes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAgreement</name>
        <label>createAgreement</label>
        <locationX>182</locationX>
        <locationY>4382</locationY>
        <assignRecordIdToReference>agreementId</assignRecordIdToReference>
        <connector>
            <targetReference>updateRelatedContacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>APIAccess__c</field>
            <value>
                <elementReference>API</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicationBasisFields__c</field>
            <value>
                <elementReference>varApplicationBasisFields</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>getApplication.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataProcessorName__c</field>
            <value>
                <elementReference>dataProcessorName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataProcessorOrganizationNumber__c</field>
            <value>
                <elementReference>dataProcessorOrgNr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision__c</field>
            <value>
                <elementReference>getApplication.AA_CasehandlerDecisionTemplate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExtractionAccess__c</field>
            <value>
                <elementReference>Extract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OnlineAccess__c</field>
            <value>
                <elementReference>Online</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>account__c</field>
            <value>
                <elementReference>getApplication.Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Application_Basis_Codes</name>
        <label>Get All Application Basis Codes</label>
        <locationX>182</locationX>
        <locationY>2282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Application_Basis_Codes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApplicationBasisCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getApplication</name>
        <label>getApplication</label>
        <locationX>688</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>APIAccess__c</queriedFields>
        <queriedFields>ExtractionAccess__c</queriedFields>
        <queriedFields>OnlineAccess__c</queriedFields>
        <queriedFields>Casehandler_Status__c</queriedFields>
        <queriedFields>AA_CasehandlerDecisionTemplate__c</queriedFields>
        <queriedFields>DataProcessorName__c</queriedFields>
        <queriedFields>DataProcessorOrganizationNumber__c</queriedFields>
        <queriedFields>AA_AccessTypes__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>createdById__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateApplication</name>
        <label>updateApplication</label>
        <locationX>688</locationX>
        <locationY>5138</locationY>
        <connector>
            <targetReference>updateThreadToNotActive</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_DecisionArchiveText__c</field>
            <value>
                <elementReference>getApplication.AA_CasehandlerDecisionTemplate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Casehandler_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DecisionDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>currCaseHandlerStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRelatedContacts</name>
        <label>updateRelatedContacts</label>
        <locationX>182</locationX>
        <locationY>4490</locationY>
        <connector>
            <targetReference>createTaskApplicationFinished</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>agreementId</elementReference>
            </value>
        </inputAssignments>
        <object>RelatedContact__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateThreadToNotActive</name>
        <label>updateThreadToNotActive</label>
        <locationX>688</locationX>
        <locationY>5246</locationY>
        <faultConnector>
            <targetReference>Fault_Screen_4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Related_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getApplication.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_isActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Thread__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>applicationDone</name>
        <label>Application Done</label>
        <locationX>688</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>applyOwnerId</targetReference>
        </connector>
        <fields>
            <name>applicationDoneConfirmation</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes, case is finished</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>754</locationX>
        <locationY>4490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Agreement_creation_failed</targetReference>
        </connector>
        <fields>
            <name>FaultText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Det skjedde en feil. Gi systemadministrator denne feilmeldingen.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_2</name>
        <label>Fault Screen 2</label>
        <locationX>490</locationX>
        <locationY>4598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Related_Contact_update_failed</targetReference>
        </connector>
        <fields>
            <name>FaultText2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Det skjedde en feil. Gi systemadministrator denne feilmeldingen.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_3</name>
        <label>Fault Screen 3</label>
        <locationX>1722</locationX>
        <locationY>5246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Application_update_failed</targetReference>
        </connector>
        <fields>
            <name>FaultText3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Det skjedde en feil. Gi systemadministrator denne feilmeldingen.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_4</name>
        <label>Fault Screen 4</label>
        <locationX>1458</locationX>
        <locationY>5354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Thread_updationg_failed</targetReference>
        </connector>
        <fields>
            <name>FaultText4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Det skjedde en feil. Gi systemadministrator denne feilmeldingen.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IsNotChecked</name>
        <label>IsNotChecked</label>
        <locationX>1194</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;You have not confirmed that case is finished.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>IsNotCorrectStatus</name>
        <label>IsNotCorrectStatus</label>
        <locationX>864</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>changeStatus</name>
            <fieldText>&lt;p&gt;To be able to close the application - it have to be in approved, partially approved or declined status.&lt;/p&gt;&lt;p&gt;Check also that access type has been set.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getApplication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>createTaskApplicationFinished</name>
        <label>createTaskApplicationFinished</label>
        <locationX>688</locationX>
        <locationY>5030</locationY>
        <connector>
            <targetReference>updateApplication</targetReference>
        </connector>
        <flowName>AAREG_subflowCreateTask</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>finishDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedToId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>varTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeOfTask</name>
            <value>
                <stringValue>Ferdigbehandlet</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>agreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>API</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>conDocLinkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currCaseHandlerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dataProcessorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dataProcessorOrgNr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Event</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Extract</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Online</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varApplicationBasisFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSingleAccessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Søknaden er ferdigbehandlet</stringValue>
        </value>
    </variables>
</Flow>
