force-app/main/default/flows/AAREG_deactivateAccess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>AAREG_deactivateAccess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_deactivateAccess</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAgreement</name>
        <label>getAgreement</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deactivateAccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAgreement</name>
        <label>updateAgreement</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>APIAccess__c</field>
            <value>
                <elementReference>apiAccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventAccess__c</field>
            <value>
                <elementReference>eventAccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExtractionAccess__c</field>
            <value>
                <elementReference>extractAccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OnlineAccess__c</field>
            <value>
                <elementReference>onlineAccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isAccessDeactivationThroughFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isDeactivateThroughBatch__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isNoDeactivationAccess__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordUpdates>
    <screens>
        <name>deactivateAccess</name>
        <label>Deaktiver tilgang</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateAgreement</targetReference>
        </connector>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p&gt;Fjern markering fra tilgangen som skal fjernes&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>onlineAccess</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>getAgreement.OnlineAccess__c</elementReference>
            </defaultValue>
            <fieldText>Web-oppslag</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>extractAccess</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>getAgreement.ExtractionAccess__c</elementReference>
            </defaultValue>
            <fieldText>Uttrekk</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>apiAccess</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>getAgreement.APIAccess__c</elementReference>
            </defaultValue>
            <fieldText>API</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>eventAccess</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>getAgreement.EventAccess__c</elementReference>
            </defaultValue>
            <fieldText>Hendelser</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Fullfør</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAgreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
