force-app/main/default/flows/AAREG_populateApplicationFieldAfterSubmit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>addCodeBasisCounty</name>
        <label>addCodeBasisCounty</label>
        <locationX>774</locationX>
        <locationY>591</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisCounty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeCounty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCodeBasisEL</name>
        <label>addCodeBasisEL</label>
        <locationX>1107</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisElectricitySupervision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeElectricitySupervision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCodeBasisMunicipality</name>
        <label>addCodeBasisMunicipality</label>
        <locationX>1036</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisMunicipality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeMunicipality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addLegalBasisOther</name>
        <label>addLegalBasisOther</label>
        <locationX>1183</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherLegalBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherPurpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsCodeBasisOther</name>
        <label>IsCodeBasisOther</label>
        <locationX>1336</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherLegalBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherPurpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsCodeBasisPension</name>
        <label>IsCodeBasisPension</label>
        <locationX>1371</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisPension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposePension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsCodeBasisState</name>
        <label>IsCodeBasisState</label>
        <locationX>1442</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Used for adding newLine</description>
        <name>conGES</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <decisions>
        <name>checkOrganizationType</name>
        <label>checkOrganizationType</label>
        <locationX>1178</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCounty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>County</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisCounty__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCodeBasisCounty</targetReference>
            </connector>
            <label>IsCounty</label>
        </rules>
        <rules>
            <name>IsEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Electricity Supervision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisElectricitySupervision__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCodeBasisEL</targetReference>
            </connector>
            <label>IsEL</label>
        </rules>
        <rules>
            <name>IsMunicipality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Municipality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisMunicipality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCodeBasisMunicipality</targetReference>
            </connector>
            <label>IsMunicipality</label>
        </rules>
        <rules>
            <name>IsPension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisPension__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCodeBasisPension</targetReference>
            </connector>
            <label>IsPension</label>
        </rules>
        <rules>
            <name>IsState</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisState__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCodeBasisState</targetReference>
            </connector>
            <label>IsState</label>
        </rules>
        <rules>
            <name>IsOther</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCodeBasisOther</targetReference>
            </connector>
            <label>IsOther</label>
        </rules>
        <rules>
            <name>IsLegalBasisOther</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisCounty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisElectricitySupervision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisMunicipality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisPension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisState__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addLegalBasisOther</targetReference>
            </connector>
            <label>IsLegalBasisOther</label>
        </rules>
    </decisions>
    <interviewLabel>AAREG_populateApplicationFieldAfterSubmitt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_populateApplicationFieldAfterSubmit</label>
    <loops>
        <name>loopThroughCollection</name>
        <label>loopThroughCollection</label>
        <locationX>600</locationX>
        <locationY>354</locationY>
        <collectionReference>getCodeBasisCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkOrganizationType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateApplicationField</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCodeBasisCollection</name>
        <label>getCodeBasisCollection</label>
        <locationX>658</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApplicationBasisCode__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrganizationType__c</queriedFields>
        <queriedFields>ProcessingBasis__c</queriedFields>
        <queriedFields>LegalBasisCounty__c</queriedFields>
        <queriedFields>PurposeCounty__c</queriedFields>
        <queriedFields>LegalBasisElectricitySupervision__c</queriedFields>
        <queriedFields>PurposeElectricitySupervision__c</queriedFields>
        <queriedFields>LegalBasisMunicipality__c</queriedFields>
        <queriedFields>PurposeMunicipality__c</queriedFields>
        <queriedFields>LegalBasisPension__c</queriedFields>
        <queriedFields>PurposePension__c</queriedFields>
        <queriedFields>LegalBasisState__c</queriedFields>
        <queriedFields>PurposeState__c</queriedFields>
        <queriedFields>OtherLegalBasis__c</queriedFields>
        <queriedFields>OtherPurpose__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateApplicationField</name>
        <label>updateApplicationField</label>
        <locationX>385</locationX>
        <locationY>352</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_register_application_text__c</field>
            <value>
                <elementReference>containerApplication</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <start>
        <locationX>52</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getCodeBasisCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsConfirmationEmailSent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsAppSentToWebsak__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>containerApplication</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;{!$Record.Account__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt;{!$Record.Account__r.BillingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;{!$Record.Account__r.BillingPostalCode} {!$Record.Account__r.BillingCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;Organisasjonsnummer: {!$Record.Account__r.INT_OrganizationNumber__c}&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;                                                                      &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;                                                                                                                                                                          &lt;/span&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;Vår ref:&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!$Record.Name}&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Søknads  dato:&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt; {!$Record.ApplicationSubmittedDate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: serif;&quot;&gt;Søknad om tilgang til arbeidsgiver- og arbeidstaker registeret&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Om søker:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;Virksomhetsnavn: {!$Record.Account__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;Organisasjonsnummer: {!$Record.Account__r.INT_OrganizationNumber__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;Sektor: {!$Record.Account__r.INT_SectorCode__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;Næringskode: {!$Record.Account__r.INT_Industry__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;Organisasjonsform: {!$Record.Account__r.INT_OrganizationalStructureDesc__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Kontaktperson som søker:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;Navn: {!$Record.Contact__r.FirstName} {!$Record.Contact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;E-post: {!$Record.Contact__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Type tilgang det søkes om:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif;&quot;&gt;{!$Record.AA_AccessText__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Grunnlag det søkes på:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Hjemmel:&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;{!legalBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Formål:&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;{!purposeList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Behandlingsgrunnlag:&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;{!processingBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Kontaktperson som er lagt til:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Databehandler:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif;&quot;&gt;{!$Record.DataProcessorOrganizationNumber__c}&amp;nbsp;{!$Record__Prior.DataProcessorName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Søker har godkjent bruksvilkårene. Dette er obligatorisk for å kunne sende inn søknaden.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Dette dokumentet er elektronisk generert for oversendelse til arkivet og skal ikke signeres.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>newLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!conGES}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>legalBasisList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>processingBasisList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>purposeList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
