force-app/main/default/flows/AAREG_applicationChangeStatusAfterMessageFromUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AAREG_send_notification_to_owner_of_application</name>
        <label>Send notification to owner of application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>varNotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varRecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>varNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>AAREG_get_thread_object.CRM_Related_Object__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Update_Application_failed</name>
        <label>Update Application failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <elementReference>var_Category</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AAREG_add_assignment_status</name>
        <label>Add assignment - status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AAREG_get_application_based_on_thread.Casehandler_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AAREG_get_application_based_on_thread.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AAREG_update_application_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AAREG_set_recipient</name>
        <label>Set recipient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AAREG_get_application_based_on_thread.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AAREG_get_notification_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AAREG_is_owner_present</name>
        <label>Is owner present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not present</defaultConnectorLabel>
        <rules>
            <name>is_owner_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AAREG_get_application_based_on_thread.OwnerId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AAREG_get_application_based_on_thread.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AAREG_get_user</targetReference>
            </connector>
            <label>Is owner present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sjekker om objekt type er knyttet til søknad</description>
        <name>AARGE_check_object_type_in_thread</name>
        <label>Check object type in thread</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Is Not</defaultConnectorLabel>
        <rules>
            <name>isApplicationObjectType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AAREG_get_thread_object.CRM_Related_Object_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AAREG_get_application_based_on_thread</targetReference>
            </connector>
            <label>Is application object type</label>
        </rules>
    </decisions>
    <decisions>
        <name>isUserActiveCheck</name>
        <label>isUserActive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not active</defaultConnectorLabel>
        <rules>
            <name>AAREG_is_user_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AAREG_get_user.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AAREG_get_user.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AAREG_set_recipient</targetReference>
            </connector>
            <label>Is user active</label>
        </rules>
    </decisions>
    <description>Arbeidsforhold søknad  - Når ekstern bruker svarer i dialogen settes status til under arbeid</description>
    <environments>Default</environments>
    <formulas>
        <name>var_FlowNameNoLongerThan32Char</name>
        <dataType>String</dataType>
        <expression>LEFT(&apos;AAREG_applicationChangeStatusAfterMessageFromUser&apos;, 32)</expression>
    </formulas>
    <interviewLabel>AAREG_applicationChangeStatusAferMessageFromUser {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG Application message from external user</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Henter søknadsdata basert på samtale</description>
        <name>AAREG_get_application_based_on_thread</name>
        <label>Get application based on thread</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AAREG_add_assignment_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AAREG_get_thread_object.CRM_Related_Object__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Henter id knyttet til varsler</description>
        <name>AAREG_get_notification_Id</name>
        <label>Get notification Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AAREG_send_notification_to_owner_of_application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_threadNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>varNotificationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AAREG_get_thread_object</name>
        <label>Get thread object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AARGE_check_object_type_in_thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AAREG_get_user</name>
        <label>Get user</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isUserActiveCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AAREG_get_application_based_on_thread.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AAREG_update_application_status</name>
        <label>Update application status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AAREG_is_owner_present</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Application_failed</targetReference>
        </faultConnector>
        <inputReference>AAREG_get_application_based_on_thread</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AAREG_get_thread_object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_External_Message__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Application</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCasehandlerOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>En ny melding fra søker knyttet til søknaden.</stringValue>
        </value>
    </variables>
    <variables>
        <name>varNotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ny melding</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
