force-app/main/default/flows/AAREG_populateDecisionText.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Application_failed</name>
        <label>Update Application failed</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>AAREG_populateDecisionText_failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Update_Application_failed_2</name>
        <label>Update Application failed 2</label>
        <locationX>842</locationX>
        <locationY>1355</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>AAREG_populateDecisionText_failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Update_Application_failed_3</name>
        <label>Update Application failed 3</label>
        <locationX>1370</locationX>
        <locationY>1355</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>AAREG_populateDecisionText_failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addCodeBasisCounty</name>
        <label>addCodeBasisCounty</label>
        <locationX>930</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisCounty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeCounty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCodeBasisEL</name>
        <label>addCodeBasisEL</label>
        <locationX>1194</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisElectricitySupervision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeElectricitySupervision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCodeBasisMunicipality</name>
        <label>addCodeBasisMunicipality</label>
        <locationX>1458</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisMunicipality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeMunicipality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addLegalBasisOther</name>
        <label>addLegalBasisOther</label>
        <locationX>2514</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherLegalBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherPurpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsCodeBasisOther</name>
        <label>IsCodeBasisOther</label>
        <locationX>2250</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherLegalBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherPurpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsCodeBasisPension</name>
        <label>IsCodeBasisPension</label>
        <locationX>1722</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisPension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposePension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsCodeBasisState</name>
        <label>IsCodeBasisState</label>
        <locationX>1986</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Used for adding newLine</description>
        <name>conGES</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>applicationDecisionStatus</name>
        <label>applicationDecisionStatus</label>
        <locationX>842</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsApprovedParially</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved Partially</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AA_CasehandlerDecisionTemplate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatePartiallyText</targetReference>
            </connector>
            <label>IsApprovedParially</label>
        </rules>
        <rules>
            <name>IsApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AA_CasehandlerDecisionTemplate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateApprovedText</targetReference>
            </connector>
            <label>IsApproved</label>
        </rules>
        <rules>
            <name>isDeclined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AA_CasehandlerDecisionTemplate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateDeclinedText</targetReference>
            </connector>
            <label>isDeclined</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkOrganizationType</name>
        <label>checkOrganizationType</label>
        <locationX>1854</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCounty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>County</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisCounty__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCodeBasisCounty</targetReference>
            </connector>
            <label>IsCounty</label>
        </rules>
        <rules>
            <name>IsEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Electricity Supervision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisElectricitySupervision__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCodeBasisEL</targetReference>
            </connector>
            <label>IsEL</label>
        </rules>
        <rules>
            <name>IsMunicipality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Municipality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisMunicipality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCodeBasisMunicipality</targetReference>
            </connector>
            <label>IsMunicipality</label>
        </rules>
        <rules>
            <name>IsPension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisPension__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCodeBasisPension</targetReference>
            </connector>
            <label>IsPension</label>
        </rules>
        <rules>
            <name>IsState</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisState__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCodeBasisState</targetReference>
            </connector>
            <label>IsState</label>
        </rules>
        <rules>
            <name>IsOther</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCodeBasisOther</targetReference>
            </connector>
            <label>IsOther</label>
        </rules>
        <rules>
            <name>IsLegalBasisOther</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisCounty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisElectricitySupervision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisMunicipality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisPension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisState__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addLegalBasisOther</targetReference>
            </connector>
            <label>IsLegalBasisOther</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varToDaysDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(TODAY()))+ &quot;-&quot; +TEXT(MONTH(TODAY()) )+ &quot;-&quot;
      +TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <interviewLabel>AAREG_populateDecisionText {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_populateDecisionText</label>
    <loops>
        <name>loopThroughCollection</name>
        <label>loopThroughCollection</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <collectionReference>getCodeBasisCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkOrganizationType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>applicationDecisionStatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountsDetail</name>
        <label>getAccountsDetail</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCodeBasisCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getApplication.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>INT_OrganizationNumber__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getApplication</name>
        <label>getApplication</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountsDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountName__c</queriedFields>
        <queriedFields>OrganizationNumber__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCodeBasisCollection</name>
        <label>getCodeBasisCollection</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApplicationBasisCode__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrganizationType__c</queriedFields>
        <queriedFields>ProcessingBasis__c</queriedFields>
        <queriedFields>LegalBasisCounty__c</queriedFields>
        <queriedFields>PurposeCounty__c</queriedFields>
        <queriedFields>LegalBasisElectricitySupervision__c</queriedFields>
        <queriedFields>PurposeElectricitySupervision__c</queriedFields>
        <queriedFields>LegalBasisMunicipality__c</queriedFields>
        <queriedFields>PurposeMunicipality__c</queriedFields>
        <queriedFields>LegalBasisPension__c</queriedFields>
        <queriedFields>PurposePension__c</queriedFields>
        <queriedFields>LegalBasisState__c</queriedFields>
        <queriedFields>PurposeState__c</queriedFields>
        <queriedFields>OtherLegalBasis__c</queriedFields>
        <queriedFields>OtherPurpose__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateApprovedText</name>
        <label>updateApprovedText</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <faultConnector>
            <targetReference>Update_Application_failed_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_CasehandlerDecisionTemplate__c</field>
            <value>
                <elementReference>approvedDecisionText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateDeclinedText</name>
        <label>updateDeclinedText</label>
        <locationX>1106</locationX>
        <locationY>1247</locationY>
        <faultConnector>
            <targetReference>Update_Application_failed_3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_CasehandlerDecisionTemplate__c</field>
            <value>
                <elementReference>declinedDecisionText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePartiallyText</name>
        <label>updatePartiallyText</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <faultConnector>
            <targetReference>Update_Application_failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_CasehandlerDecisionTemplate__c</field>
            <value>
                <elementReference>partiallyApprovedDecisionText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getApplication</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved Partially</stringValue>
            </value>
        </filters>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>approvedDecisionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;&lt;img
      src=&quot;https://navdialog--c.vf.force.com/resource/1587557877000/logo?&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p
      style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align:
      left;&quot;&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt;{!getAccountsDetail.Name}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align:
      left;&quot;&gt;{!getAccountsDetail.BillingStreet}&lt;/p&gt;&lt;p style=&quot;text-align:
      left;&quot;&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt;{!getAccountsDetail.BillingPostalCode}
      {!getAccountsDetail.BillingCity}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align:
      left;&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);
      color: rgb(68, 68,
      68);&quot;&gt;{!getAccountsDetail.INT_OrganizationNumber__c}&lt;/span&gt;&lt;/p&gt;&lt;p
      style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align:
      right;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Vår dato:
      {!varToDaysDate}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;
      &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color:
      rgb(8, 7, 7);&quot;&gt;Innvilget&amp;nbsp;tilgang til Aa-registeret&lt;/strong&gt;&lt;span
      style=&quot;font-size: 16px; color: rgb(8, 7,
      7);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7,
      7); font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;Vi viser til deres søknad
      {!getApplication.Name} om tilgang til Arbeidsgiver- og
      arbeidstakerregisteret (Aa-registeret) mottatt&amp;nbsp;&lt;/span&gt;&lt;span
      style=&quot;font-size: 14px; color: rgb(62, 62, 60); background-color: rgb(255, 255,
      255);&quot;&gt;{!$Record.ApplicationSubmittedDate__c}&lt;/span&gt;&lt;span
      style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;. Søknaden er
      innvilget.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0,
      0); font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;Formålet&amp;nbsp;som er godkjent er&amp;nbsp;knyttet
      til:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255,
      255, 255); color: rgb(62, 62, 60); font-size:
      14px;&quot;&gt;{!purposeList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;Behandlingsgrunnlaget
      er:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255,
      255, 255); color: rgb(62, 62, 60); font-size:
      14px;&quot;&gt;{!processingBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;Rett til å kreve opplysningene
      er&amp;nbsp;regulert&amp;nbsp;i:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62,
      60);&quot;&gt;{!legalBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;Dere innvilges tilgang av
      typen:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color:
      rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.AA_AccessText__c}
      &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color:
      rgb(8, 7, 7); font-size: 14px;&quot;&gt;Vi legger til grunn at dere har et behov for
      dataelementer i Aa-registeret tilsvarende det som dere har redegjort for i vedlegget til
      søknaden.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);
      font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px; color: rgb(18, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;Nærmere beskrivelse av tjenestene og den tekniske
      løsningen finner dere på våre GitHub-sider, se &lt;/span&gt;&lt;a
      href=&quot;https://urldefense.com/v3/__https:/navikt.github.io/aareg/__;!!M12l6qNq_w!5mLLC1xA3UUqj77r2SDqmM0o_abmUID6YcqyoJ-7W0MWEsbc3x0Xp5jxZWDgiG1P$&quot;
      rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size:
      14px;&quot;&gt;&lt;u&gt;https://navikt.github.io/aareg/&lt;/u&gt;&lt;/a&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;. Her finner dere også en del svar på eventuelle faglige
      og tekniske spørsmål, samt
      kontaktinformasjon.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color:
      rgb(8, 7, 7); font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;[Hvis innvilget
      web-oppslag]&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;Ytterligere informasjon
      om&amp;nbsp;tjenesten&amp;nbsp;web-oppslag, se&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a
      href=&quot;https://www.nav.no/no/bedrift/tjenester-og-skjemaer/aa-registeret-og-a-meldingen/web-oppslag-i-aa-registeret&quot;
      rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;
      color: rgb(0, 0,
      255);&quot;&gt;&lt;u&gt;https://www.nav.no/no/bedrift/tjenester-og-skjemaer/aa-registeret-og-a-meldingen/web-oppslag-i-aa-registeret&lt;/u&gt;&lt;/a&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;For å logge inn i tjenesten web-oppslag Aa-registeret,
      se:&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a
      href=&quot;https://aa-registeret.nav.no/&quot; rel=&quot;noopener noreferrer&quot;
      target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(5, 99,
      193);&quot;&gt;&lt;u&gt;https://aa-registeret.nav.no/&lt;/u&gt;&lt;/a&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;color: rgb(8, 7, 7); font-size:
      14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size:
      14px; color: rgb(8, 7, 7);&quot;&gt;Ansvar og vilkår ved bruk av
      opplysningene &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7,
      7);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;
      color: rgb(8, 7, 7);&quot;&gt;Vi viser til de aksepterte bruksvilkårene som dere godkjente i
      forbindelse med innsendelse av søknaden. Bruksvilkårene finner dere
      igjen&amp;nbsp;på&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;http://www.nav.no/&quot;
      rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;
      color: rgb(5, 99, 193);&quot;&gt;&lt;u&gt;www.nav.no&lt;/u&gt;&lt;/a&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;, se under Samarbeidspartner/Arbeidsgiver- og
      arbeidstakerregisteret (Aa-registeret).&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span
      style=&quot;font-size: 14px; color: rgb(8, 7,
      7);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;
      color: rgb(8, 7, 7);&quot;&gt;Veiledning og klage &lt;/strong&gt;&lt;span
      style=&quot;font-size: 14px; color: rgb(8, 7,
      7);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7,
      7); font-size: 14px;&quot;&gt;Dersom dere har spørsmål om vedtaket, kan dere ta kontakt med
      oss for nærmere opplysninger.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;color: rgb(8, 7, 7); font-size:
      14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7,
      7); font-size: 14px;&quot;&gt;Dette vedtaket kan påklages til NAV Klageinstans etter reglene i
      forvaltningsloven kapittel VI. Klagen skal grunngis og fremsettes oss innen 3 uker fra dere
      mottok vedtaket.&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;
      &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size:
      14px;&quot;&gt;Med vennlig hilsen&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size:
      14px;&quot;&gt;{!$User.Signature}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong
      style=&quot;color: inherit; font-family: &amp;quot;Arial Black&amp;quot;, sans-serif;
      font-size: 12px;&quot;&gt;NAV REGISTERFORVALTNING&lt;/strong&gt;&lt;strong style=&quot;color:
      inherit; font-family: inherit; font-size: 12px;&quot;&gt;&lt;img
      src=&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABAUAAAACCAYAAAAgs2XfAAAAAXNSR0IArs4c6QAAD4RJREFUaEOtWXmcFMXZruqu6h4uRVyVLLvd1TOziMQDwSMePzkEIYqKiuIRQUWNEe9EQY0Ggxq88Yi3BuIBAa8oKiogxqiJiOJFhO2jqofFIKsYgWW6qrrr+w2K31Qv8n3+fpl/n6mj632fp973KdjiFVWaZctDRvcFdb9iseiYCrA0y1aFjO5ejzU0NPxkpx47rMmy9K2AsUPrsRbX3cMw0QqZps8EjJ5Qj5X7lA9CXeDbQsiHAhadq2GedzRG+HnOxbSARddqmOtOtCz7YS74TT6lU7R9Os5oy7Jvl4JP9xl7NDfuLBPhKVKoU4I4WFaPeXvuc5JVrV6vEj5xVSV6Ux9HHkUInZkk1QOj1avfrcdKhNyHET5PqOzQIAje0vZCyPPYQEdzlfaLomjl95hSsFTu9xYQm78I4niMdl4tLUWYZkEq01eCmI7S5mssOqYNWJZlrweMDtP238fbxyqYy6WUswNGT9XGNTW1IMtelaVyvs/Y0fWYu9d+RxaqG2ZIkVwUULpA+26H3IEsfIkQ/PCAscUaRsh0jKzJQvJRPqWv5M5kJjbxBKXS/VeG4Xsa5np3WxhdIFM5uDWK/qafszfXROaJkqu9gkrwSW69SzG2bq8m1dOjOH5cn9O92bbsyzmXE30WajEvud71FsZXSyFHt7Lwxdx6DyOMJqZS/KyV0n/qc5KnTdM8nmfpHpTSz3LY2xDCgyRQP6GU/juHLTENY3BmGs2+76/W4uCSf0EA+inT6BmG4X/qMKPoknUQACNgtAEAkG7F+vfv3726qeNrCFQUMNZSP19zc3NjAeG2LFNvBSzSeFfuXd4FFNIvVKaWBjE9QNtHsdgXAbgylenzQUyP1TnZ5yBU6Pq2SMXMgNIzczEYiZG1QMjOvCt53ngL4Vky4Ze0xvRO7UyayclWwZrNubgiYNEtWr475GJkWzO4FBOCKPpzbr2pGFm/q/LqMVEcv5DLsQewic+V1Y6D/ba2d3IxeBZjPCb9kTlWcr2/GwY8pCpFn0qlsiaXY58CAPtDjHb0ff+bOswsueRzBQAKv41dlttLG1BwB2iZDb7vJ1uxxsbGrl2w9TUAKg4YK9ePIYT0RgB+rpR6J2D0YG2+UqlsKtCapunLAaNHamdJyIEmwv+QQj7is+hsPdfdgQjhZUKKxwLGxtdjnuOMKFj2q1zIWwIWXaHnrHuqbdlPiKQ6xY/jm7S9ON6Flo3v4lV+ZlChM3M8v97C6OpE8NEhYzrvCLkWY+s6zpPjA8aezcX1B/W05JA5CKNxIqnuHa5e/XGed4ZhDFY8afbb2vK8WwkB6Gt3bOqxYt26jbm4fgyhsWd3oHZaTunXuTnXAgCsng0777ps2TKxFWtqaupim+grAMDagFFSP2ZPz9stAfDfaZq9G8b0QO2cPW93DI3PUinfC2K2v84DpwgRDtI0XRAw+nMtBs3N+1mWvVQIOTOIdU62FIvDkWG+JoS8zWfRb3L5cArC1pOcJ1cEjGm8K7ruCbZlP1XlyW8jxm6oH+e67qSuln2P4MnZPmOP6JwsXocxujbhydiQsadzMb8bY3RBksjBUUXX9pJLnkameXyWyv6tjP0rd85PIoROUVk6YFUUfZjDFpumOVQC5YZhGOu5ST4wIBywWfCGtra2L+swWHRJGwSge7NHei1ZskRuxXbbbbdu3bt0XQ+UqgSMlurn69+/v1Xd1LEeKvBlEFOnHuvb2NiQWfY6pbJlAWP71WO7u66nTBRmWfqaT+kROu/KAxECy4RMHwtYpPGuTMhIjPACLkSnO7vkusMwthZJLmb4Mb1UO5NmMs4qWHOE4FN8SnVOEvJLC1v3c8HPCyh9QI8d+R1G1tTNCR9DK/SvubheiTG6UUhxkh9F83ROFmdYyLxYSDHUp3RJjq9zkInGQZXt/VkY5jjpvmYY5nAJFImiiOna4X4MINwzhWAn2pl3yyCEAw0L77Jq1ar2HF8rSsFePJMNq1ev3rwVI4QUTAVq/G0PGG2qH9OvX7+dZTVpz5TqVNeWtqOnnue5CECaZemigLHhOY7sW0D4/VSmj/ssOl3jnecdhkz0BhfynoBFF2rn7HljMcLzhJBX+TT8g54r7iTLsu/hgl/nUzpV0w7HOadgFx4Ugp/vU3qfhrnu1QXLvl5yeUIrC5/R5txODVdyyWyE0Mm8mg6I2nK8I+SHaziHLDCROVKZRqm1tTXM8fVDCOHeXbLuvT6OP16fw2o5sCvEqGf9XVinp18EjLr1Y4YMGYIqEf1KAbAxZLQPAEBtxZuamnrZCH2pFPgwZHRA/ThCCLGgEaVZtiRgdKjGZc/bBxrbrpVLbmmYhY1FQoo7fEov0/TGcQ61LPtNKeS9Posmad/W5B5nFexnuBDXBiyapse1eBa20CMdPLmAMfbHHCevxNi6sZpUT4riWOed621HT72bLYwul6k8ojWKXtPX8x5HyDxNSjHQZ+yDXAxeNE3zyEzwsl+pBDnsfQjhvtvQU1ByCYUQugUIen8SRbV78ftf0SURBKCxp+A7LVuzpmMrMGjQIPx1e/tXQIFvgpjVYvf9bwAhPTcCuF6p7JOAsb3qsT08z02hQWF7219WPru5A2z4ZjkYs+Ndtf/0bWrqo7C1Ok2zN8OYHqbnuvNTE1mfiFQ8FTJ2Yi4fhhQQfl1IcX9A6a9yMTgWY+s5sQ3elbajpyXHG2/ZeFYi+CUh1WveskMmY9uaLqQY50fR3Nx60zHCkzcnYhStdOqdZmETjZdSDPIZe1/PP/IqMo0RXGUepZTqsfPmI9M4SgDVNwzDVh1zlxqGuZ8yjV1931+Xw3wAoLNZ8J5r6mJXuwuTTZvWAgA7YF+v+FGapcvzhWO5T58mgK2XVKaifCPR2NjY0M2yF2VALQ8onVC/6JYL0zCfy9Jscf5yK7vlgSaCfxJpOifMCWTRcQ63bPt2kYg/BjF9UA++Nxbb6BrB+SyfsdtzxP2vmwIl15uGTOOYVIpT/Tj+VFuPkCnYxKcIlU4MOzXA7q2mgUZkkh+vEXA7psB3F9HzWZotCWJ6sZbYu5DeZjf4ilJgaZgr+otNxRZkwafSVL4SMKYX9o2NjmkXXlBZ+qbP2AX1c/4fpsBkE+NThUrPDsNwqS487iSErHOTrHphFFW05r5YK/oNfAJQ8vSVUfRR/TjP9X5jI3R6lslzVkWRZrCUHXKjgcyjeJaO69SIEzIBY3yZ4HxKwNjL+pzurwuWNV4kcpofR09p8Wkm51kW/pWo8kuCNvZ6btzVFrJOSiU/Iy+eZYfcAU1jmFDZsXkCFl3vMQjU3lUphuWKUVB0yP2GAQ9OUjkq31gWHXcuMGALMIwhnU0B71UIFAwYHVHfWNZMgWRTxxIAFAsY00y1mhnXs3uPWj78M2DROTkR7Gkq8AYA4NNOJtG3Bt8LWZq+EcTsovpx/YrFvRQwHxeZeDqk9PfaeXnNh9lG4W4p+YN+7nIrue5x2LKmCiH+EFA6R8uVZu8IVEC3bOb8LpZrMkqEnIwxvlJwPjXfIJbd73KMVy+IKhXNqCsSMhUb+DgI0l90KkYdMgNhPFT92BxzvYcgBAd+vXHDyPb29s9z4lkrtpo3VqtD1q5du6kOq5kCrykAs5BFtYYgZwp48wFQvSBGQ+sLoe+K2MUAqK8CxkbXr9WnT5+dCwgvVgB+FOYKTtd1Pcswn1Pb1FN3XxNZM7nkc/ON3u6et7uCxlyZpS+GlF6Vy5UDCyZ+MJH8zxFjt+UusJEI45tFktwWxLFm2niO9wvbRpenSXp1axzO187LIRdhjCcKkZwfxLFmlpZddyKyrIuSavXyqFJ59UfpqYlGZCKnpwCAoksehRAOAu3rRgQbN36R28tfoQF678j50PqipfafEnGfBAD+tAcAgzuZAg5ZoCDstlNDr2F5U8BC6HUjA2v9nKlWKpV2hWm2MFPqvZDRs3QeNJcgws9kWdaJk98VOy9lafZ2EOtFS81Yhyaak6bZCwGLfqt9W6l0CAbGvakQj+bNuBbHGW3a9g1JktwaxfFjuXwehi3rDl4V94UVer/Oc2+sjdA1cht6WiuSMMbnC84vzRvFnut+p6fqDJ/5WjFa01PDNIbBLB2zkrEot5dppomOyaQ4xY/jFVo+uORewzAOBTw5Mm/2lAj5C1Sgb2Z20lNYcr1XAVBo4AH7D583b973JusWU6DQtaanqwNGj6tfq1bErv/yq4VGpqp+TEfm9RQpsERB8FlA6cnaHv/3fv2bz5jWBJaaS3siDJ4QWfpsmG/0PO8w20B3i1QsCCidrM1ZLO6PoflwKsSTfqw3/jUTz7btWyXnd/uMPaydJSHjMMZXbV9P5YWdTJtmcgYu4EuFEJM7PQ64xcsQMifIVPzSp/QfudjdYJpoNMjScaty5nnZdR9S0DjgPxs3jNqGntYMJdfu1m3IihUrdKOOeLMAUPualjUsbwqUXfcFBWBDksph9aZAuVy2lZCLAYDrAxZpelozBUS1+rpS6sOQMa2B356e1u7XHbv3WABV9q7PmHa/et8afHOzLH05/zDV1/MOMAz0UCLlYxGLbs3FZxTG+CZRFXfkjdSiWzzNtswrBN/G/UrIGIzxdVyI6SGls/Uaxz3LKlgXy6q4ws81GbXm5IdquJLr3myaaKTkamy4Wm8ktlfDlRxyp2EaQyRQx+TNnrLrPqEg3Ktr1mPwNkyBlwGA3e1uXQ5fsWIF3/oNNVPgh/T0xBNPNN9/d+lCAKAMvr1fvzcFyuXyDkqIJQqAIN8Ebnmo7N5jQZapd4KYnqfpsOP0NxCenaby+YCxa+ox1y0d3AUZ98lU/MmndEY91kLIAMPEs6SU8wIWXa/N2USGIBvfybm4P6zopk3Z8cYiG12TSDktivT6tOQ452LbnsST5LIwjhdpOrwdPS053oUYo7O5SieFYfj3HCd/j0x0rBT8tKBS0R/XXHIvNIxDFE+O+hF6WjMFXgIQNAHTHB4EQf5+fQ4YsLEnT4bU369bDB1KF8IMcD/WzdKaKbAB1OpT9WlAmfaIWWpsbDbswnyzfc38z+ZtbAbVTe9tNQXKvXvvAgtdFspMfRDF9AwtPo5ThCZ+VmZyUciYZuiUSqVBCBiPilTMDimdrvHHcYZbtn1bkiT3RHH80P9XT1tc9yjTsm5MpLwtyj1olRxnPLbtX3POrwwZe0nLFde9DCFrwoZqx3ltuQetIiE3IsM8CqrspJX1D8m1WsUhDxgG/Nn6behp2SW3G4ZxuErlca1xrBt1hMyEYIvJ2klPS647HwDYK4VgGKW0unWfWwzyjo6FUIEN/wNxdgroAlKmagAAAABJRU5ErkJggg==&quot;&gt;&lt;/strong&gt;&lt;strong
      style=&quot;color: inherit; font-family: &amp;quot;Arial Black&amp;quot;, sans-serif;
      font-size: 12px;&quot;&gt;&amp;nbsp;//&amp;nbsp;&amp;nbsp;ARBEIDS OG
      VELFERDSETATEN&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: inherit;
      font-family: inherit; font-size: 12px;&quot;&gt;www.nav.no&lt;/span&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>containerApplication</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size:
      16px;&quot;&gt;{!$Record.Account__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-family: serif; font-size:
      16px;&quot;&gt;{!$Record.Account__r.BillingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size:
      16px;&quot;&gt;{!$Record.Account__r.BillingPostalCode}
      {!$Record.Account__r.BillingCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color:
      rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;Organisasjonsnummer:
      {!$Record.Account__r.INT_OrganizationNumber__c}&amp;nbsp;&lt;/span&gt;&lt;span
      style=&quot;font-family: serif; font-size: 12px;&quot;&gt;
      &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size:
      12px;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-family: serif; font-size:
      12px;&quot;&gt;&amp;nbsp;Vår ref:&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size:
      12px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!$Record.Name}&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b
      style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Søknads dato:&lt;/b&gt;&lt;span
      style=&quot;font-family: serif; font-size: 12px;&quot;&gt;
      {!$Record.ApplicationSubmittedDate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-family: serif; font-size:
      12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif;
      font-size: 16px;&quot;&gt;Søknad om tilgang til arbeidsgiver- og arbeidstaker
      registeret&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b
      style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Om
      søker:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;
      color: rgb(62, 62, 60);&quot;&gt;Virksomhetsnavn:
      {!$Record.Account__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size:
      12px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;Organisasjonsnummer:
      {!$Record.Account__r.INT_OrganizationNumber__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 12px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;Sektor:
      {!$Record.Account__r.INT_SectorCode__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 12px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;Næringskode:
      {!$Record.Account__r.INT_Industry__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 12px; font-family: serif; color: rgb(62, 62,
      60);&quot;&gt;Organisasjonsform:
      {!$Record.Account__r.INT_OrganizationalStructureDesc__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b
      style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Kontaktperson som
      søker:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;
      color: rgb(62, 62, 60);&quot;&gt;Navn: {!$Record.Contact__r.FirstName}
      {!$Record.Contact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size:
      12px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;E-post:
      {!$Record.Contact__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family:
      serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b
      style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Type tilgang det søkes
      om:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; color: rgb(62, 62,
      60);&quot;&gt;{!$Record.AA_AccessText__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-family: serif; font-size:
      12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif;
      font-size: 12px;&quot;&gt;Grunnlag det søkes på:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b
      style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Hjemmel:&lt;/b&gt;&lt;span
      style=&quot;font-family: serif; font-size: 12px;&quot;&gt;
      {!legalBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif;
      font-size: 12px;&quot;&gt;Formål:&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size:
      12px;&quot;&gt; {!purposeList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family:
      serif; font-size: 12px;&quot;&gt;Behandlingsgrunnlag:&lt;/b&gt;&lt;span
      style=&quot;font-family: serif; font-size: 12px;&quot;&gt;
      {!processingBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b
      style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Kontaktperson som er lagt
      til:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size:
      12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif;
      font-size: 12px;&quot;&gt;Databehandler:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-family: serif; color: rgb(62, 62,
      60);&quot;&gt;{!$Record.DataProcessorOrganizationNumber__c}&amp;nbsp;{!$Record__Prior.DataProcessorName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Søker har godkjent bruksvilkårene.
      Dette er obligatorisk for å kunne sende inn søknaden.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Dette dokumentet er elektronisk
      generert for oversendelse til arkivet og skal ikke signeres.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>declinedDecisionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;strong
      style=&quot;font-size: 14px;&quot;&gt;&lt;img
      src=&quot;https://navdialog--c.vf.force.com/resource/1587557877000/logo?&quot;&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p
      style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size:
      14px;&quot;&gt;{!getAccountsDetail.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size:
      14px;&quot;&gt;{!getAccountsDetail.BillingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;{!getAccountsDetail.BillingPostalCode}
      {!getAccountsDetail.BillingCity}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align:
      left;&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255,
      255);&quot;&gt;{!getAccountsDetail.INT_OrganizationNumber__c}&lt;/span&gt;&lt;/p&gt;&lt;p
      style=&quot;text-align: left;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;
      &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;Vår dato: {!varToDaysDate}&lt;/span&gt;&lt;/p&gt;&lt;p
      style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;
      &amp;nbsp; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong
      style=&quot;font-size: 16px;&quot;&gt;Avslag på søknad om tilgang til
      Aa-registeret&lt;/strong&gt;&lt;span style=&quot;font-size:
      16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;Vi viser til deres søknad &lt;/span&gt;&lt;span
      style=&quot;font-size: 14px; color: rgb(8, 7, 7); background-color: rgb(255, 255,
      255);&quot;&gt;{!getApplication.Name}&lt;/span&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt; om tilgang til Arbeidsgiver- og arbeidstakerregisteret (Aa-registeret) mottatt
      &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(62, 62, 60); background-color:
      rgb(255, 255, 255);&quot;&gt;{!$Record.ApplicationSubmittedDate__c}&lt;/span&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;. Søknaden er
      avslått.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size:
      14px;&quot;&gt;Begrunnelse for&amp;nbsp;avslaget&lt;/strong&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt;Vi&amp;nbsp;avslår&amp;nbsp;søknaden&lt;/span&gt;&lt;u style=&quot;font-size:
      14px; color: rgb(136, 23, 152);&quot;&gt;&amp;nbsp;&lt;/u&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt;fordi vi ikke finner at vilkårene for tilgang til Aa-registeret er oppfylt i
      deres tilfelle.&amp;nbsp;Dere har opplyst i søknaden at formålet
      er:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60);
      background-color: rgb(255, 255, 255); font-size:
      14px;&quot;&gt;{!purposeList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt;Opplysningene i Aa-registeret er underlagt taushetsplikt etter NAV-loven §
      7&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0,
      0);&quot;&gt;[skriv&amp;nbsp;nærmere&amp;nbsp;begrunnelse for avslaget&amp;nbsp;ut
      fra&amp;nbsp;hva som
      er&amp;nbsp;grunnlaget].&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size:
      14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong
      style=&quot;font-size: 14px;&quot;&gt;Veiledning og klage&lt;/strong&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;Dersom dere har spørsmål om vedtaket, kan dere ta
      kontakt med oss for nærmere opplysninger.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;Dette vedtaket kan påklages til NAV Klageinstans etter
      reglene i forvaltningsloven kapittel VI. En grunngitt klage må være skriftlig framsatt overfor
      NAV Registerforvaltning innen 3 uker fra dette vedtaket ble
      mottatt.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong
      style=&quot;font-size: 14px;&quot;&gt;Med vennlig
      hilsen&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt;{!$User.Signature}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong
      style=&quot;color: inherit; font-family: &amp;quot;Arial Black&amp;quot;, sans-serif;
      font-size: 12px;&quot;&gt;NAV REGISTERFORVALTNING&lt;/strong&gt;&lt;strong style=&quot;color:
      inherit; font-family: inherit; font-size: 12px;&quot;&gt;&lt;img
      src=&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABAUAAAACCAYAAAAgs2XfAAAAAXNSR0IArs4c6QAAD4RJREFUaEOtWXmcFMXZruqu6h4uRVyVLLvd1TOziMQDwSMePzkEIYqKiuIRQUWNEe9EQY0Ggxq88Yi3BuIBAa8oKiogxqiJiOJFhO2jqofFIKsYgWW6qrrr+w2K31Qv8n3+fpl/n6mj632fp973KdjiFVWaZctDRvcFdb9iseiYCrA0y1aFjO5ejzU0NPxkpx47rMmy9K2AsUPrsRbX3cMw0QqZps8EjJ5Qj5X7lA9CXeDbQsiHAhadq2GedzRG+HnOxbSARddqmOtOtCz7YS74TT6lU7R9Os5oy7Jvl4JP9xl7NDfuLBPhKVKoU4I4WFaPeXvuc5JVrV6vEj5xVSV6Ux9HHkUInZkk1QOj1avfrcdKhNyHET5PqOzQIAje0vZCyPPYQEdzlfaLomjl95hSsFTu9xYQm78I4niMdl4tLUWYZkEq01eCmI7S5mssOqYNWJZlrweMDtP238fbxyqYy6WUswNGT9XGNTW1IMtelaVyvs/Y0fWYu9d+RxaqG2ZIkVwUULpA+26H3IEsfIkQ/PCAscUaRsh0jKzJQvJRPqWv5M5kJjbxBKXS/VeG4Xsa5np3WxhdIFM5uDWK/qafszfXROaJkqu9gkrwSW69SzG2bq8m1dOjOH5cn9O92bbsyzmXE30WajEvud71FsZXSyFHt7Lwxdx6DyOMJqZS/KyV0n/qc5KnTdM8nmfpHpTSz3LY2xDCgyRQP6GU/juHLTENY3BmGs2+76/W4uCSf0EA+inT6BmG4X/qMKPoknUQACNgtAEAkG7F+vfv3726qeNrCFQUMNZSP19zc3NjAeG2LFNvBSzSeFfuXd4FFNIvVKaWBjE9QNtHsdgXAbgylenzQUyP1TnZ5yBU6Pq2SMXMgNIzczEYiZG1QMjOvCt53ngL4Vky4Ze0xvRO7UyayclWwZrNubgiYNEtWr475GJkWzO4FBOCKPpzbr2pGFm/q/LqMVEcv5DLsQewic+V1Y6D/ba2d3IxeBZjPCb9kTlWcr2/GwY8pCpFn0qlsiaXY58CAPtDjHb0ff+bOswsueRzBQAKv41dlttLG1BwB2iZDb7vJ1uxxsbGrl2w9TUAKg4YK9ePIYT0RgB+rpR6J2D0YG2+UqlsKtCapunLAaNHamdJyIEmwv+QQj7is+hsPdfdgQjhZUKKxwLGxtdjnuOMKFj2q1zIWwIWXaHnrHuqbdlPiKQ6xY/jm7S9ON6Flo3v4lV+ZlChM3M8v97C6OpE8NEhYzrvCLkWY+s6zpPjA8aezcX1B/W05JA5CKNxIqnuHa5e/XGed4ZhDFY8afbb2vK8WwkB6Gt3bOqxYt26jbm4fgyhsWd3oHZaTunXuTnXAgCsng0777ps2TKxFWtqaupim+grAMDagFFSP2ZPz9stAfDfaZq9G8b0QO2cPW93DI3PUinfC2K2v84DpwgRDtI0XRAw+nMtBs3N+1mWvVQIOTOIdU62FIvDkWG+JoS8zWfRb3L5cArC1pOcJ1cEjGm8K7ruCbZlP1XlyW8jxm6oH+e67qSuln2P4MnZPmOP6JwsXocxujbhydiQsadzMb8bY3RBksjBUUXX9pJLnkameXyWyv6tjP0rd85PIoROUVk6YFUUfZjDFpumOVQC5YZhGOu5ST4wIBywWfCGtra2L+swWHRJGwSge7NHei1ZskRuxXbbbbdu3bt0XQ+UqgSMlurn69+/v1Xd1LEeKvBlEFOnHuvb2NiQWfY6pbJlAWP71WO7u66nTBRmWfqaT+kROu/KAxECy4RMHwtYpPGuTMhIjPACLkSnO7vkusMwthZJLmb4Mb1UO5NmMs4qWHOE4FN8SnVOEvJLC1v3c8HPCyh9QI8d+R1G1tTNCR9DK/SvubheiTG6UUhxkh9F83ROFmdYyLxYSDHUp3RJjq9zkInGQZXt/VkY5jjpvmYY5nAJFImiiOna4X4MINwzhWAn2pl3yyCEAw0L77Jq1ar2HF8rSsFePJMNq1ev3rwVI4QUTAVq/G0PGG2qH9OvX7+dZTVpz5TqVNeWtqOnnue5CECaZemigLHhOY7sW0D4/VSmj/ssOl3jnecdhkz0BhfynoBFF2rn7HljMcLzhJBX+TT8g54r7iTLsu/hgl/nUzpV0w7HOadgFx4Ugp/vU3qfhrnu1QXLvl5yeUIrC5/R5txODVdyyWyE0Mm8mg6I2nK8I+SHaziHLDCROVKZRqm1tTXM8fVDCOHeXbLuvT6OP16fw2o5sCvEqGf9XVinp18EjLr1Y4YMGYIqEf1KAbAxZLQPAEBtxZuamnrZCH2pFPgwZHRA/ThCCLGgEaVZtiRgdKjGZc/bBxrbrpVLbmmYhY1FQoo7fEov0/TGcQ61LPtNKeS9Posmad/W5B5nFexnuBDXBiyapse1eBa20CMdPLmAMfbHHCevxNi6sZpUT4riWOed621HT72bLYwul6k8ojWKXtPX8x5HyDxNSjHQZ+yDXAxeNE3zyEzwsl+pBDnsfQjhvtvQU1ByCYUQugUIen8SRbV78ftf0SURBKCxp+A7LVuzpmMrMGjQIPx1e/tXQIFvgpjVYvf9bwAhPTcCuF6p7JOAsb3qsT08z02hQWF7219WPru5A2z4ZjkYs+Ndtf/0bWrqo7C1Ok2zN8OYHqbnuvNTE1mfiFQ8FTJ2Yi4fhhQQfl1IcX9A6a9yMTgWY+s5sQ3elbajpyXHG2/ZeFYi+CUh1WveskMmY9uaLqQY50fR3Nx60zHCkzcnYhStdOqdZmETjZdSDPIZe1/PP/IqMo0RXGUepZTqsfPmI9M4SgDVNwzDVh1zlxqGuZ8yjV1931+Xw3wAoLNZ8J5r6mJXuwuTTZvWAgA7YF+v+FGapcvzhWO5T58mgK2XVKaifCPR2NjY0M2yF2VALQ8onVC/6JYL0zCfy9Jscf5yK7vlgSaCfxJpOifMCWTRcQ63bPt2kYg/BjF9UA++Nxbb6BrB+SyfsdtzxP2vmwIl15uGTOOYVIpT/Tj+VFuPkCnYxKcIlU4MOzXA7q2mgUZkkh+vEXA7psB3F9HzWZotCWJ6sZbYu5DeZjf4ilJgaZgr+otNxRZkwafSVL4SMKYX9o2NjmkXXlBZ+qbP2AX1c/4fpsBkE+NThUrPDsNwqS487iSErHOTrHphFFW05r5YK/oNfAJQ8vSVUfRR/TjP9X5jI3R6lslzVkWRZrCUHXKjgcyjeJaO69SIEzIBY3yZ4HxKwNjL+pzurwuWNV4kcpofR09p8Wkm51kW/pWo8kuCNvZ6btzVFrJOSiU/Iy+eZYfcAU1jmFDZsXkCFl3vMQjU3lUphuWKUVB0yP2GAQ9OUjkq31gWHXcuMGALMIwhnU0B71UIFAwYHVHfWNZMgWRTxxIAFAsY00y1mhnXs3uPWj78M2DROTkR7Gkq8AYA4NNOJtG3Bt8LWZq+EcTsovpx/YrFvRQwHxeZeDqk9PfaeXnNh9lG4W4p+YN+7nIrue5x2LKmCiH+EFA6R8uVZu8IVEC3bOb8LpZrMkqEnIwxvlJwPjXfIJbd73KMVy+IKhXNqCsSMhUb+DgI0l90KkYdMgNhPFT92BxzvYcgBAd+vXHDyPb29s9z4lkrtpo3VqtD1q5du6kOq5kCrykAs5BFtYYgZwp48wFQvSBGQ+sLoe+K2MUAqK8CxkbXr9WnT5+dCwgvVgB+FOYKTtd1Pcswn1Pb1FN3XxNZM7nkc/ON3u6et7uCxlyZpS+GlF6Vy5UDCyZ+MJH8zxFjt+UusJEI45tFktwWxLFm2niO9wvbRpenSXp1axzO187LIRdhjCcKkZwfxLFmlpZddyKyrIuSavXyqFJ59UfpqYlGZCKnpwCAoksehRAOAu3rRgQbN36R28tfoQF678j50PqipfafEnGfBAD+tAcAgzuZAg5ZoCDstlNDr2F5U8BC6HUjA2v9nKlWKpV2hWm2MFPqvZDRs3QeNJcgws9kWdaJk98VOy9lafZ2EOtFS81Yhyaak6bZCwGLfqt9W6l0CAbGvakQj+bNuBbHGW3a9g1JktwaxfFjuXwehi3rDl4V94UVer/Oc2+sjdA1cht6WiuSMMbnC84vzRvFnut+p6fqDJ/5WjFa01PDNIbBLB2zkrEot5dppomOyaQ4xY/jFVo+uORewzAOBTw5Mm/2lAj5C1Sgb2Z20lNYcr1XAVBo4AH7D583b973JusWU6DQtaanqwNGj6tfq1bErv/yq4VGpqp+TEfm9RQpsERB8FlA6cnaHv/3fv2bz5jWBJaaS3siDJ4QWfpsmG/0PO8w20B3i1QsCCidrM1ZLO6PoflwKsSTfqw3/jUTz7btWyXnd/uMPaydJSHjMMZXbV9P5YWdTJtmcgYu4EuFEJM7PQ64xcsQMifIVPzSp/QfudjdYJpoNMjScaty5nnZdR9S0DjgPxs3jNqGntYMJdfu1m3IihUrdKOOeLMAUPualjUsbwqUXfcFBWBDksph9aZAuVy2lZCLAYDrAxZpelozBUS1+rpS6sOQMa2B356e1u7XHbv3WABV9q7PmHa/et8afHOzLH05/zDV1/MOMAz0UCLlYxGLbs3FZxTG+CZRFXfkjdSiWzzNtswrBN/G/UrIGIzxdVyI6SGls/Uaxz3LKlgXy6q4ws81GbXm5IdquJLr3myaaKTkamy4Wm8ktlfDlRxyp2EaQyRQx+TNnrLrPqEg3Ktr1mPwNkyBlwGA3e1uXQ5fsWIF3/oNNVPgh/T0xBNPNN9/d+lCAKAMvr1fvzcFyuXyDkqIJQqAIN8Ebnmo7N5jQZapd4KYnqfpsOP0NxCenaby+YCxa+ox1y0d3AUZ98lU/MmndEY91kLIAMPEs6SU8wIWXa/N2USGIBvfybm4P6zopk3Z8cYiG12TSDktivT6tOQ452LbnsST5LIwjhdpOrwdPS053oUYo7O5SieFYfj3HCd/j0x0rBT8tKBS0R/XXHIvNIxDFE+O+hF6WjMFXgIQNAHTHB4EQf5+fQ4YsLEnT4bU369bDB1KF8IMcD/WzdKaKbAB1OpT9WlAmfaIWWpsbDbswnyzfc38z+ZtbAbVTe9tNQXKvXvvAgtdFspMfRDF9AwtPo5ThCZ+VmZyUciYZuiUSqVBCBiPilTMDimdrvHHcYZbtn1bkiT3RHH80P9XT1tc9yjTsm5MpLwtyj1olRxnPLbtX3POrwwZe0nLFde9DCFrwoZqx3ltuQetIiE3IsM8CqrspJX1D8m1WsUhDxgG/Nn6behp2SW3G4ZxuErlca1xrBt1hMyEYIvJ2klPS647HwDYK4VgGKW0unWfWwzyjo6FUIEN/wNxdgroAlKmagAAAABJRU5ErkJggg==&quot;&gt;&lt;/strong&gt;&lt;strong
      style=&quot;color: inherit; font-family: &amp;quot;Arial Black&amp;quot;, sans-serif;
      font-size: 12px;&quot;&gt;&amp;nbsp;//&amp;nbsp;&amp;nbsp;ARBEIDS OG
      VELFERDSETATEN&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: inherit;
      font-family: inherit; font-size:
      12px;&quot;&gt;www.nav.no&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>newLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!conGES}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>partiallyApprovedDecisionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;strong
      style=&quot;font-size: 14px;&quot;&gt;&lt;img
      src=&quot;https://navdialog--c.vf.force.com/resource/1587557877000/logo?&quot;&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p
      style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size:
      14px;&quot;&gt;{!getAccountsDetail.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size:
      14px;&quot;&gt;{!getAccountsDetail.BillingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;{!getAccountsDetail.BillingPostalCode}
      {!getAccountsDetail.BillingCity}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align:
      left;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size:
      14px;&quot;&gt;{!getAccountsDetail.INT_OrganizationNumber__c}&lt;/span&gt;&lt;/p&gt;&lt;p
      style=&quot;text-align: left;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;
      &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);
      color: rgb(68, 68, 68);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align:
      right;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Vår dato:
      {!varToDaysDate}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align:
      center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;
      &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color:
      rgb(8, 7, 7); font-size: 16px;&quot;&gt;Delvis innvilget tilgang til
      Aa-registeret&lt;/strong&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size:
      16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;Vi viser til deres søknad
      &lt;/span&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px; background-color:
      rgb(255, 255, 255);&quot;&gt;{!getApplication.Name}&lt;/span&gt;&lt;span style=&quot;color:
      rgb(8, 7, 7); font-size: 14px;&quot;&gt; om tilgang til Arbeidsgiver- og
      arbeidstakerregisteret (Aa-registeret) mottatt &lt;/span&gt;&lt;span style=&quot;color: rgb(0,
      0, 0); font-size: 14px; background-color: rgb(255, 255,
      255);&quot;&gt;{!$Record.ApplicationSubmittedDate__c}&lt;/span&gt;&lt;span style=&quot;color:
      rgb(8, 7, 7); font-size: 14px;&quot;&gt;. Søknaden er delvis
      innvilget.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;
      color: rgb(255, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;Formålet som er godkjent er knyttet
      til:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color:
      rgb(62, 62, 60); background-color: rgb(255, 255,
      255);&quot;&gt;{!purposeList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;Behandlingsgrunnlaget
      er:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color:
      rgb(62, 62, 60); background-color: rgb(255, 255,
      255);&quot;&gt;{!processingBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;Rett til å kreve opplysningene
      er&amp;nbsp;regulert&amp;nbsp;i:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px; color: rgb(62, 62, 60); background-color: rgb(255, 255,
      255);&quot;&gt;{!legalBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;Dere innvilges tilgang av
      typen:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60);
      font-size: 14px; background-color: rgb(255, 255,
      255);&quot;&gt;{!$Record.AA_AccessText__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;Vi legger til grunn at dere har et
      behov for dataelementer i Aa-registeret tilsvarende det som dere har redegjort for i vedlegget
      til søknaden.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;
      color: rgb(255, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;Formålet som er avslått er knyttet
      til:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color:
      rgb(255, 0, 0);&quot;&gt;[tekst med begrunnelse for avslaget, husk&amp;nbsp;hjemmelsgrunnlag
      for avslaget]&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(18,
      0, 0); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt;Nærmere beskrivelse av tjenestene og den tekniske løsningen finner dere på
      våre GitHub-sider, se &lt;/span&gt;&lt;a
      href=&quot;https://urldefense.com/v3/__https:/navikt.github.io/aareg/__;!!M12l6qNq_w!5mLLC1xA3UUqj77r2SDqmM0o_abmUID6YcqyoJ-7W0MWEsbc3x0Xp5jxZWDgiG1P$&quot;
      rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size:
      14px;&quot;&gt;&lt;u&gt;https://navikt.github.io/aareg/&lt;/u&gt;&lt;/a&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;. Her finner dere også en del svar på eventuelle faglige
      og tekniske spørsmål, samt
      kontaktinformasjon.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size:
      14px; color: rgb(8, 7, 7);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;[Hvis innvilget
      web-oppslag]&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt;Ytterligere informasjon om tjenesten web-oppslag&amp;nbsp;i Aa-registeret,
      se&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a
      href=&quot;https://www.nav.no/no/bedrift/tjenester-og-skjemaer/aa-registeret-og-a-meldingen/web-oppslag-i-aa-registeret&quot;
      rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0,
      255); font-size:
      14px;&quot;&gt;&lt;u&gt;https://www.nav.no/no/bedrift/tjenester-og-skjemaer/aa-registeret-og-a-meldingen/web-oppslag-i-aa-registeret&lt;/u&gt;&lt;/a&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;For å logge inn&amp;nbsp;i tjenesten web-oppslag
      Aa-registeret, se:&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a
      href=&quot;https://aa-registeret.nav.no/&quot; rel=&quot;noopener noreferrer&quot;
      target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 255); font-size:
      14px;&quot;&gt;&lt;u&gt;https://aa-registeret.nav.no/&lt;/u&gt;&lt;/a&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong
      style=&quot;font-size: 14px;&quot;&gt;Ansvar og vilkår ved bruk av opplysningene
      &lt;/strong&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7,
      7); font-size: 14px;&quot;&gt;Vi&amp;nbsp;viser til de aksepterte bruksvilkårene som dere
      godkjente i forbindelse med innsendelse av søknaden. &lt;/span&gt;&lt;span
      style=&quot;font-size: 14px;&quot;&gt;De finnes også via&amp;nbsp;&lt;/span&gt;&lt;a
      href=&quot;http://www.nav.no/&quot; rel=&quot;noopener noreferrer&quot;
      target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(0, 0,
      255);&quot;&gt;&lt;u&gt;www.nav.no&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt;, se under Samarbeidspartner/Arbeidsgiver- og arbeidstakerregisteret
      (Aa-registeret).&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7,
      7);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong
      style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;Veiledning og
      klage &lt;/strong&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size:
      14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;
      color: rgb(8, 7, 7);&quot;&gt;Dersom dere har spørsmål om vedtaket, kan dere ta kontakt med
      oss for nærmere opplysninger.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
      style=&quot;font-size: 14px; color: rgb(8, 7,
      7);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;
      color: rgb(8, 7, 7);&quot;&gt;Dette vedtaket kan påklages til NAV Klageinstans etter reglene i
      forvaltningsloven kapittel VI. Klagen skal grunngis og fremsettes oss innen 3 uker fra dere
      mottok
      vedtaket.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong
      style=&quot;font-size: 14px;&quot;&gt;Med vennlig
      hilsen&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size:
      14px;&quot;&gt;{!$User.Signature}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong
      style=&quot;color: inherit; font-family: &amp;quot;Arial Black&amp;quot;, sans-serif;
      font-size: 12px;&quot;&gt;NAV REGISTERFORVALTNING&lt;/strong&gt;&lt;strong style=&quot;color:
      inherit; font-family: inherit; font-size: 12px;&quot;&gt;&lt;img
      src=&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABAUAAAACCAYAAAAgs2XfAAAAAXNSR0IArs4c6QAAD4RJREFUaEOtWXmcFMXZruqu6h4uRVyVLLvd1TOziMQDwSMePzkEIYqKiuIRQUWNEe9EQY0Ggxq88Yi3BuIBAa8oKiogxqiJiOJFhO2jqofFIKsYgWW6qrrr+w2K31Qv8n3+fpl/n6mj632fp973KdjiFVWaZctDRvcFdb9iseiYCrA0y1aFjO5ejzU0NPxkpx47rMmy9K2AsUPrsRbX3cMw0QqZps8EjJ5Qj5X7lA9CXeDbQsiHAhadq2GedzRG+HnOxbSARddqmOtOtCz7YS74TT6lU7R9Os5oy7Jvl4JP9xl7NDfuLBPhKVKoU4I4WFaPeXvuc5JVrV6vEj5xVSV6Ux9HHkUInZkk1QOj1avfrcdKhNyHET5PqOzQIAje0vZCyPPYQEdzlfaLomjl95hSsFTu9xYQm78I4niMdl4tLUWYZkEq01eCmI7S5mssOqYNWJZlrweMDtP238fbxyqYy6WUswNGT9XGNTW1IMtelaVyvs/Y0fWYu9d+RxaqG2ZIkVwUULpA+26H3IEsfIkQ/PCAscUaRsh0jKzJQvJRPqWv5M5kJjbxBKXS/VeG4Xsa5np3WxhdIFM5uDWK/qafszfXROaJkqu9gkrwSW69SzG2bq8m1dOjOH5cn9O92bbsyzmXE30WajEvud71FsZXSyFHt7Lwxdx6DyOMJqZS/KyV0n/qc5KnTdM8nmfpHpTSz3LY2xDCgyRQP6GU/juHLTENY3BmGs2+76/W4uCSf0EA+inT6BmG4X/qMKPoknUQACNgtAEAkG7F+vfv3726qeNrCFQUMNZSP19zc3NjAeG2LFNvBSzSeFfuXd4FFNIvVKaWBjE9QNtHsdgXAbgylenzQUyP1TnZ5yBU6Pq2SMXMgNIzczEYiZG1QMjOvCt53ngL4Vky4Ze0xvRO7UyayclWwZrNubgiYNEtWr475GJkWzO4FBOCKPpzbr2pGFm/q/LqMVEcv5DLsQewic+V1Y6D/ba2d3IxeBZjPCb9kTlWcr2/GwY8pCpFn0qlsiaXY58CAPtDjHb0ff+bOswsueRzBQAKv41dlttLG1BwB2iZDb7vJ1uxxsbGrl2w9TUAKg4YK9ePIYT0RgB+rpR6J2D0YG2+UqlsKtCapunLAaNHamdJyIEmwv+QQj7is+hsPdfdgQjhZUKKxwLGxtdjnuOMKFj2q1zIWwIWXaHnrHuqbdlPiKQ6xY/jm7S9ON6Flo3v4lV+ZlChM3M8v97C6OpE8NEhYzrvCLkWY+s6zpPjA8aezcX1B/W05JA5CKNxIqnuHa5e/XGed4ZhDFY8afbb2vK8WwkB6Gt3bOqxYt26jbm4fgyhsWd3oHZaTunXuTnXAgCsng0777ps2TKxFWtqaupim+grAMDagFFSP2ZPz9stAfDfaZq9G8b0QO2cPW93DI3PUinfC2K2v84DpwgRDtI0XRAw+nMtBs3N+1mWvVQIOTOIdU62FIvDkWG+JoS8zWfRb3L5cArC1pOcJ1cEjGm8K7ruCbZlP1XlyW8jxm6oH+e67qSuln2P4MnZPmOP6JwsXocxujbhydiQsadzMb8bY3RBksjBUUXX9pJLnkameXyWyv6tjP0rd85PIoROUVk6YFUUfZjDFpumOVQC5YZhGOu5ST4wIBywWfCGtra2L+swWHRJGwSge7NHei1ZskRuxXbbbbdu3bt0XQ+UqgSMlurn69+/v1Xd1LEeKvBlEFOnHuvb2NiQWfY6pbJlAWP71WO7u66nTBRmWfqaT+kROu/KAxECy4RMHwtYpPGuTMhIjPACLkSnO7vkusMwthZJLmb4Mb1UO5NmMs4qWHOE4FN8SnVOEvJLC1v3c8HPCyh9QI8d+R1G1tTNCR9DK/SvubheiTG6UUhxkh9F83ROFmdYyLxYSDHUp3RJjq9zkInGQZXt/VkY5jjpvmYY5nAJFImiiOna4X4MINwzhWAn2pl3yyCEAw0L77Jq1ar2HF8rSsFePJMNq1ev3rwVI4QUTAVq/G0PGG2qH9OvX7+dZTVpz5TqVNeWtqOnnue5CECaZemigLHhOY7sW0D4/VSmj/ssOl3jnecdhkz0BhfynoBFF2rn7HljMcLzhJBX+TT8g54r7iTLsu/hgl/nUzpV0w7HOadgFx4Ugp/vU3qfhrnu1QXLvl5yeUIrC5/R5txODVdyyWyE0Mm8mg6I2nK8I+SHaziHLDCROVKZRqm1tTXM8fVDCOHeXbLuvT6OP16fw2o5sCvEqGf9XVinp18EjLr1Y4YMGYIqEf1KAbAxZLQPAEBtxZuamnrZCH2pFPgwZHRA/ThCCLGgEaVZtiRgdKjGZc/bBxrbrpVLbmmYhY1FQoo7fEov0/TGcQ61LPtNKeS9Posmad/W5B5nFexnuBDXBiyapse1eBa20CMdPLmAMfbHHCevxNi6sZpUT4riWOed621HT72bLYwul6k8ojWKXtPX8x5HyDxNSjHQZ+yDXAxeNE3zyEzwsl+pBDnsfQjhvtvQU1ByCYUQugUIen8SRbV78ftf0SURBKCxp+A7LVuzpmMrMGjQIPx1e/tXQIFvgpjVYvf9bwAhPTcCuF6p7JOAsb3qsT08z02hQWF7219WPru5A2z4ZjkYs+Ndtf/0bWrqo7C1Ok2zN8OYHqbnuvNTE1mfiFQ8FTJ2Yi4fhhQQfl1IcX9A6a9yMTgWY+s5sQ3elbajpyXHG2/ZeFYi+CUh1WveskMmY9uaLqQY50fR3Nx60zHCkzcnYhStdOqdZmETjZdSDPIZe1/PP/IqMo0RXGUepZTqsfPmI9M4SgDVNwzDVh1zlxqGuZ8yjV1931+Xw3wAoLNZ8J5r6mJXuwuTTZvWAgA7YF+v+FGapcvzhWO5T58mgK2XVKaifCPR2NjY0M2yF2VALQ8onVC/6JYL0zCfy9Jscf5yK7vlgSaCfxJpOifMCWTRcQ63bPt2kYg/BjF9UA++Nxbb6BrB+SyfsdtzxP2vmwIl15uGTOOYVIpT/Tj+VFuPkCnYxKcIlU4MOzXA7q2mgUZkkh+vEXA7psB3F9HzWZotCWJ6sZbYu5DeZjf4ilJgaZgr+otNxRZkwafSVL4SMKYX9o2NjmkXXlBZ+qbP2AX1c/4fpsBkE+NThUrPDsNwqS487iSErHOTrHphFFW05r5YK/oNfAJQ8vSVUfRR/TjP9X5jI3R6lslzVkWRZrCUHXKjgcyjeJaO69SIEzIBY3yZ4HxKwNjL+pzurwuWNV4kcpofR09p8Wkm51kW/pWo8kuCNvZ6btzVFrJOSiU/Iy+eZYfcAU1jmFDZsXkCFl3vMQjU3lUphuWKUVB0yP2GAQ9OUjkq31gWHXcuMGALMIwhnU0B71UIFAwYHVHfWNZMgWRTxxIAFAsY00y1mhnXs3uPWj78M2DROTkR7Gkq8AYA4NNOJtG3Bt8LWZq+EcTsovpx/YrFvRQwHxeZeDqk9PfaeXnNh9lG4W4p+YN+7nIrue5x2LKmCiH+EFA6R8uVZu8IVEC3bOb8LpZrMkqEnIwxvlJwPjXfIJbd73KMVy+IKhXNqCsSMhUb+DgI0l90KkYdMgNhPFT92BxzvYcgBAd+vXHDyPb29s9z4lkrtpo3VqtD1q5du6kOq5kCrykAs5BFtYYgZwp48wFQvSBGQ+sLoe+K2MUAqK8CxkbXr9WnT5+dCwgvVgB+FOYKTtd1Pcswn1Pb1FN3XxNZM7nkc/ON3u6et7uCxlyZpS+GlF6Vy5UDCyZ+MJH8zxFjt+UusJEI45tFktwWxLFm2niO9wvbRpenSXp1axzO187LIRdhjCcKkZwfxLFmlpZddyKyrIuSavXyqFJ59UfpqYlGZCKnpwCAoksehRAOAu3rRgQbN36R28tfoQF678j50PqipfafEnGfBAD+tAcAgzuZAg5ZoCDstlNDr2F5U8BC6HUjA2v9nKlWKpV2hWm2MFPqvZDRs3QeNJcgws9kWdaJk98VOy9lafZ2EOtFS81Yhyaak6bZCwGLfqt9W6l0CAbGvakQj+bNuBbHGW3a9g1JktwaxfFjuXwehi3rDl4V94UVer/Oc2+sjdA1cht6WiuSMMbnC84vzRvFnut+p6fqDJ/5WjFa01PDNIbBLB2zkrEot5dppomOyaQ4xY/jFVo+uORewzAOBTw5Mm/2lAj5C1Sgb2Z20lNYcr1XAVBo4AH7D583b973JusWU6DQtaanqwNGj6tfq1bErv/yq4VGpqp+TEfm9RQpsERB8FlA6cnaHv/3fv2bz5jWBJaaS3siDJ4QWfpsmG/0PO8w20B3i1QsCCidrM1ZLO6PoflwKsSTfqw3/jUTz7btWyXnd/uMPaydJSHjMMZXbV9P5YWdTJtmcgYu4EuFEJM7PQ64xcsQMifIVPzSp/QfudjdYJpoNMjScaty5nnZdR9S0DjgPxs3jNqGntYMJdfu1m3IihUrdKOOeLMAUPualjUsbwqUXfcFBWBDksph9aZAuVy2lZCLAYDrAxZpelozBUS1+rpS6sOQMa2B356e1u7XHbv3WABV9q7PmHa/et8afHOzLH05/zDV1/MOMAz0UCLlYxGLbs3FZxTG+CZRFXfkjdSiWzzNtswrBN/G/UrIGIzxdVyI6SGls/Uaxz3LKlgXy6q4ws81GbXm5IdquJLr3myaaKTkamy4Wm8ktlfDlRxyp2EaQyRQx+TNnrLrPqEg3Ktr1mPwNkyBlwGA3e1uXQ5fsWIF3/oNNVPgh/T0xBNPNN9/d+lCAKAMvr1fvzcFyuXyDkqIJQqAIN8Ebnmo7N5jQZapd4KYnqfpsOP0NxCenaby+YCxa+ox1y0d3AUZ98lU/MmndEY91kLIAMPEs6SU8wIWXa/N2USGIBvfybm4P6zopk3Z8cYiG12TSDktivT6tOQ452LbnsST5LIwjhdpOrwdPS053oUYo7O5SieFYfj3HCd/j0x0rBT8tKBS0R/XXHIvNIxDFE+O+hF6WjMFXgIQNAHTHB4EQf5+fQ4YsLEnT4bU369bDB1KF8IMcD/WzdKaKbAB1OpT9WlAmfaIWWpsbDbswnyzfc38z+ZtbAbVTe9tNQXKvXvvAgtdFspMfRDF9AwtPo5ThCZ+VmZyUciYZuiUSqVBCBiPilTMDimdrvHHcYZbtn1bkiT3RHH80P9XT1tc9yjTsm5MpLwtyj1olRxnPLbtX3POrwwZe0nLFde9DCFrwoZqx3ltuQetIiE3IsM8CqrspJX1D8m1WsUhDxgG/Nn6behp2SW3G4ZxuErlca1xrBt1hMyEYIvJ2klPS647HwDYK4VgGKW0unWfWwzyjo6FUIEN/wNxdgroAlKmagAAAABJRU5ErkJggg==&quot;&gt;&lt;/strong&gt;&lt;strong
      style=&quot;color: inherit; font-family: &amp;quot;Arial Black&amp;quot;, sans-serif;
      font-size: 12px;&quot;&gt;&amp;nbsp;//&amp;nbsp;&amp;nbsp;ARBEIDS OG
      VELFERDSETATEN&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: inherit;
      font-family: inherit; font-size: 12px;&quot;&gt;www.nav.no&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>legalBasisList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>processingBasisList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>purposeList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
