force-app/main/default/flows/AAREG_changeCasehandler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addUserId</name>
        <label>addUserId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getUsers.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughMemberIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addUserId_ForvaltningRegisterGroup</name>
        <label>addUserId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getUsers_ForvaltningRegisterGroup.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughMemberIds_RegisterForvaltning</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Application_Not_Found</name>
        <label>Application Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage_fault</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application not Found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_and_Display_Short_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Orginal_Status</name>
        <label>Orginal Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCurrentApplication.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case_handler_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCurrentApplication.Casehandler_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCasehandler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_TIl_InProgress</name>
        <label>Status TIl InProgress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case_handler_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCasehandler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Technical_Error</name>
        <label>Technical Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage_fault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_and_Display_Short_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Application_failed</name>
        <label>Update Application failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Ref_Application_Rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCurrentApplication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage_fault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>filterGroupMemberIds_caseHandlerGroup</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filterGroupMemberIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_filterGroupMemberIds_caseHandlerGroup</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getGroupMemberId</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterGroupMemberIds_caseHandlerGroup.UserOrGroupId</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <stringValue>005</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loopThroughMemberIds</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filterGroupMemberIds_RegisterForvaltningGroup</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filterGroupMemberIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_filterGroupMemberIds_caseHandlerGroup</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getGroupMemberId_in_Nav_Register_Forvaltning_Group</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterGroupMemberIds_caseHandlerGroup.UserOrGroupId</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <stringValue>005</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loopThroughMemberIds_RegisterForvaltning</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Application_Found</name>
        <label>Application Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Application_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentApplication</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>show_list</targetReference>
            </connector>
            <label>Yes found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Casse_Handler_Changed</name>
        <label>Casse Handler Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUser.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetCurrentApplication.CasehandlerOwner__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_knad_status_skal_endres</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkUserActive</name>
        <label>checkUserActive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loopThroughMemberIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>userNotActive</defaultConnectorLabel>
        <rules>
            <name>userActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUsers.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addUserId</targetReference>
            </connector>
            <label>userActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkUserActive2</name>
        <label>checkUserActive2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loopThroughMemberIds_RegisterForvaltning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>userNotActive</defaultConnectorLabel>
        <rules>
            <name>userActive2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUsers.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addUserId_ForvaltningRegisterGroup</targetReference>
            </connector>
            <label>userActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>isValid</name>
        <label>isValidChoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>getUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotValid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOutText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>-- Velg bruker --</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOutText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOutText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessage</targetReference>
            </connector>
            <label>isNotValid</label>
        </rules>
    </decisions>
    <decisions>
        <name>S_knad_status_skal_endres</name>
        <label>Søknad status skal endres til inProgress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Orginal_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isStatusNotNew</defaultConnectorLabel>
        <rules>
            <name>isStatusNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentApplication.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_TIl_InProgress</targetReference>
            </connector>
            <label>isStatusNew</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CasehandlerStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Casehandler_Status__c</picklistField>
        <picklistObject>Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Application__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>failed_for_record</name>
        <dataType>String</dataType>
        <expression>&quot;Gjelder : &quot; &amp; {!recordId}</expression>
    </formulas>
    <interviewLabel>AAREG_changeCasehandler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_changeCasehandler</label>
    <loops>
        <name>loopThroughMemberIds</name>
        <label>loopThroughMemberIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>filterGroupMemberIds_caseHandlerGroup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getUsers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getPublicGroupNavRegisterForvaltning</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopThroughMemberIds_RegisterForvaltning</name>
        <label>loopThroughMemberIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>filterGroupMemberIds_RegisterForvaltningGroup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getUsers_ForvaltningRegisterGroup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetCurrentApplication</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCurrentApplication</name>
        <label>GetCurrentApplication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Technical_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Casehandler_Status__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>applicationOwner__c</queriedFields>
        <queriedFields>CasehandlerOwner__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getGroupMemberId</name>
        <label>getGroupMemberId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filterGroupMemberIds_caseHandlerGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPublicGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getGroupMemberId_in_Nav_Register_Forvaltning_Group</name>
        <label>getGroupMemberId in Nav Register Forvaltning Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filterGroupMemberIds_RegisterForvaltningGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPublicGroupNavRegister</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch public group id for AAREG_Casehandling</description>
        <name>getPublicGroupId</name>
        <label>getPublicGroupId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getGroupMemberId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_Casehandling</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varPublicGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPublicGroupNavRegisterForvaltning</name>
        <label>getPublicGroupNavRegisterForvaltning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getGroupMemberId_in_Nav_Register_Forvaltning_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>group_4534</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varPublicGroupNavRegister</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Casse_Handler_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOutText</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUsers</name>
        <label>getUsers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkUserActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopThroughMemberIds.UserOrGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUsers_ForvaltningRegisterGroup</name>
        <label>getUsers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkUserActive2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopThroughMemberIds_RegisterForvaltning.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCasehandler</name>
        <label>updateCasehandler</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Update_Application_failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CasehandlerOwner__c</field>
            <value>
                <elementReference>getUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Casehandler_Status__c</field>
            <value>
                <elementReference>var_Case_handler_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>var_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>applicationOwner__c</field>
            <value>
                <elementReference>getUser.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>show_list</targetReference>
        </connector>
        <fields>
            <name>displayMessage</name>
            <fieldText>&lt;p&gt;Sakseier ikke valgt, vennligst velg en sakseier&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorMessage_2</name>
        <label>ErrorMessage 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>show_list</targetReference>
        </connector>
        <fields>
            <name>Use_not_changed</name>
            <fieldText>&lt;p&gt;Sakseier ikke endret; velg en annen sakseier&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>show_list</name>
        <label>show list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>isValid</targetReference>
        </connector>
        <fields>
            <name>check</name>
            <extensionName>c:checklistPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>valueString</name>
                <value>
                    <elementReference>varInText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sakseier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>GetCurrentApplication.applicationOwner__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueChosen</name>
                <value>
                    <elementReference>varOutText</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varOutText</assignToReference>
                <name>valueChosen</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fullfør</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPublicGroupId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_and_Display_Short_Message</name>
        <label>Log and Display Short Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>AAREG_Log_And_Disp_Short_Messages</flowName>
        <inputAssignments>
            <name>category</name>
            <value>
                <stringValue>AAREG_changeCasehandler</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>error_Message</name>
            <value>
                <elementReference>ErrorMessage_fault</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>failed_On_Object</name>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fault_time</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flow_Interview_Guid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>log_Level</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ref_agreement_rec</name>
        </inputAssignments>
        <inputAssignments>
            <name>ref_application_rec</name>
            <value>
                <elementReference>Ref_Application_Rec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ref_Inqury_rec</name>
        </inputAssignments>
        <inputAssignments>
            <name>source_flow</name>
            <value>
                <elementReference>failed_for_record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentItem_filterGroupMemberIds_caseHandlerGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>ErrorMessage_fault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Ref_Application_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>var_Case_handler_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used as an in varible for picklist values</description>
        <name>varInText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>-- Velg bruker --</stringValue>
        </value>
    </variables>
    <variables>
        <description>Used to hold the saved value</description>
        <name>varOutText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPublicGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPublicGroupNavRegister</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
