force-app/main/default/flows/AAREG_supportAddInternalComments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>addInternalComments</name>
        <label>addInternalComments</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varInternalCommentAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getInquiry.InternalComments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInternalCommentAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInternalCommentAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addInternalComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInternalCommentAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInternalCommentAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDateTimeUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateComment</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Used for adding newLine</description>
        <name>conGES</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <decisions>
        <name>checkComment</name>
        <label>checkComment</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>isEmpty</defaultConnectorLabel>
        <rules>
            <name>notEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addInternalComment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addInternalComments</targetReference>
            </connector>
            <label>notEmpty</label>
        </rules>
    </decisions>
    <formulas>
        <name>varDateTimeUser</name>
        <dataType>String</dataType>
        <expression>&apos;Kommentar lagt til &apos;&amp; TEXT({!$Flow.CurrentDate})&amp;&apos; av &apos;&amp;{!$User.FirstName}&amp;&apos; &apos;&amp;{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>AAREG_supportAddInternalComments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_supportAddInternalComments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getInquiry</name>
        <label>getInquiry</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addComment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inquiry__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>InternalComments__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateComment</name>
        <label>updateComment</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInquiry.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>InternalComments__c</field>
            <value>
                <elementReference>varInternalCommentAdd</elementReference>
            </value>
        </inputAssignments>
        <object>Inquiry__c</object>
    </recordUpdates>
    <screens>
        <name>addComment</name>
        <label>addComment</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkComment</targetReference>
        </connector>
        <fields>
            <name>addInternalComment</name>
            <fieldText>Add comments - only for internal use</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getInquiry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>newLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!conGES}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInternalCommentAdd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
