force-app/main/default/flows/AAREG_applicationFinished.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AccessTypeMultiSelect</name>
        <label>AccessTypeMultiSelect</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>AAREG_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loopTextCollectionMultiPicklistSelect</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>getApplication.AA_AccessTypes__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>applyCurrentStatus</name>
        <label>applyCurrentStatus</label>
        <locationX>424</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>currCaseHandlerStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.Casehandler_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isApplicationDone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAPI</name>
        <label>setAPI</label>
        <locationX>138</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>API</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTextCollectionMultiPicklistSelect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDataProcessor</name>
        <label>setDataProcessor</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>dataProcessorOrgNr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.DataProcessorOrganizationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataProcessorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.DataProcessorName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkAccessType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setExtract</name>
        <label>setExtract</label>
        <locationX>666</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>Extract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTextCollectionMultiPicklistSelect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOnline</name>
        <label>setOnline</label>
        <locationX>402</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>Online</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTextCollectionMultiPicklistSelect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setSingleAcessType</name>
        <label>setSingleAcessType</label>
        <locationX>534</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>varSingleAccessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTextCollectionMultiPicklistSelect</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkAccessTypes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkAccessType</name>
        <label>checkAccessType</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>createAgreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAccessTypesNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getApplication.AA_AccessTypes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccessTypeMultiSelect</targetReference>
            </connector>
            <label>isAccessTypesNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkAccessTypes</name>
        <label>checkAccessTypes</label>
        <locationX>534</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>loopTextCollectionMultiPicklistSelect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAPI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access API with dataprocessor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access API</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access OTP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access OTP with dataprocessor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAPI</targetReference>
            </connector>
            <label>isAPI</label>
        </rules>
        <rules>
            <name>isOnline</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Online with dataprocessor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setOnline</targetReference>
            </connector>
            <label>isOnline</label>
        </rules>
        <rules>
            <name>isExtract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setExtract</targetReference>
            </connector>
            <label>isExtract</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkDataProcessor</name>
        <label>checkDataProcessor</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>checkAccessType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotOrganizationSame</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getApplication.DataProcessorOrganizationNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>getApplication.Account__r.INT_OrganizationNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDataProcessor</targetReference>
            </connector>
            <label>isNotOrganizationSame</label>
        </rules>
    </decisions>
    <decisions>
        <name>isApplicationDone</name>
        <label>isApplicationDone</label>
        <locationX>424</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>IsNotChecked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isDone</name>
            <conditionLogic>1 AND( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>applicationDoneConfirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currCaseHandlerStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved Partially</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currCaseHandlerStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkDataProcessor</targetReference>
            </connector>
            <label>isDone</label>
        </rules>
        <rules>
            <name>isDoneDeclined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicationDoneConfirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currCaseHandlerStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordTypeid</targetReference>
            </connector>
            <label>isDoneDeclined</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsStatus</name>
        <label>IsStatus</label>
        <locationX>677</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>IsNotCorrectStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>IsStatusCorrect</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getApplication.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved Partially</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getApplication.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getApplication.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>applicationDone</targetReference>
            </connector>
            <label>IsStatusCorrect</label>
        </rules>
    </decisions>
    <formulas>
        <name>finishDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Søknaden er bekreftet ferdigbehandlet av - &quot; + {!$User.FirstName}+&apos; &apos;+{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>AAREG_applicationFinished {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_applicationFinished</label>
    <loops>
        <name>loopTextCollectionMultiPicklistSelect</name>
        <label>loopTextCollectionMultiPicklistSelect</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <collectionReference>AccessTypeMultiSelect</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setSingleAcessType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createAgreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAgreement</name>
        <label>createAgreement</label>
        <locationX>182</locationX>
        <locationY>2102</locationY>
        <assignRecordIdToReference>agreementId</assignRecordIdToReference>
        <connector>
            <targetReference>updateRelatedContacts</targetReference>
        </connector>
        <inputAssignments>
            <field>APIAccess__c</field>
            <value>
                <elementReference>API</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>getApplication.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataProcessorName__c</field>
            <value>
                <elementReference>dataProcessorName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataProcessorOrganizationNumber__c</field>
            <value>
                <elementReference>dataProcessorOrgNr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision__c</field>
            <value>
                <elementReference>getApplication.AA_CasehandlerDecisionTemplate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExtractionAccess__c</field>
            <value>
                <elementReference>Extract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OnlineAccess__c</field>
            <value>
                <elementReference>Online</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getApplication.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>account__c</field>
            <value>
                <elementReference>getApplication.Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordCreates>
    <recordCreates>
        <name>createTask</name>
        <label>createTask</label>
        <locationX>424</locationX>
        <locationY>2558</locationY>
        <connector>
            <targetReference>updateApplication</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>finishDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Søknaden er ferdigbehandlet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Ferdigbehandlet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getApplication</name>
        <label>getApplication</label>
        <locationX>677</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>APIAccess__c</queriedFields>
        <queriedFields>ExtractionAccess__c</queriedFields>
        <queriedFields>OnlineAccess__c</queriedFields>
        <queriedFields>Casehandler_Status__c</queriedFields>
        <queriedFields>AA_CasehandlerDecisionTemplate__c</queriedFields>
        <queriedFields>DataProcessorName__c</queriedFields>
        <queriedFields>DataProcessorOrganizationNumber__c</queriedFields>
        <queriedFields>AA_AccessTypes__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeid</name>
        <label>getRecordTypeid</label>
        <locationX>424</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateApplication</name>
        <label>updateApplication</label>
        <locationX>424</locationX>
        <locationY>2678</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_DecisionArchiveText__c</field>
            <value>
                <elementReference>getApplication.AA_CasehandlerDecisionTemplate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Casehandler_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DecisionDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>currCaseHandlerStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRelatedContacts</name>
        <label>updateRelatedContacts</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>getRecordTypeid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>agreementId</elementReference>
            </value>
        </inputAssignments>
        <object>RelatedContact__c</object>
    </recordUpdates>
    <screens>
        <name>applicationDone</name>
        <label>Application Done</label>
        <locationX>424</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>applyCurrentStatus</targetReference>
        </connector>
        <fields>
            <name>applicationDoneConfirmation</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes, case is finished</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>IsNotChecked</name>
        <label>IsNotChecked</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;You have not confirmed that case is finished.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>IsNotCorrectStatus</name>
        <label>IsNotCorrectStatus</label>
        <locationX>930</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>changeStatus</name>
            <fieldText>&lt;p&gt;To be able to close the application - it have to be in approved, partially approved or declined status&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getApplication</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>agreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>API</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>conDocLinkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currCaseHandlerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dataProcessorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dataProcessorOrgNr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Extract</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Online</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSingleAccessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
