force-app/main/default/flows/AAREG_deactivateAgreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>removeAccessForUser</name>
        <label>removeAccessForUser</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>AAREG_distributionAccessController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>updateStatusOnAgreement_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>refOrganizationNumber</name>
            <value>
                <elementReference>getAgreement.OrganizationNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refAccessType</name>
            <value>
                <stringValue>AAREG_TILGANG_ONLINE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceId</name>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceType</name>
            <value>
                <stringValue>DELETE</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>checkDeactivationType</name>
        <label>checkDeactivationType</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>youHaveNotSetYesToDeactivate_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isTotalDeactivation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>yesDeactivateAgreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAgreement.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>removeAccessForUser</targetReference>
            </connector>
            <label>isTotalDeactivation</label>
        </rules>
        <rules>
            <name>isNotActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAgreement.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_active_0</targetReference>
            </connector>
            <label>isNotActive</label>
        </rules>
        <rules>
            <name>isDeactivationKeepAccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAgreement.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Yes_I_want_to_deactivate_agreement_not_access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateStatusOnAgreement_0_0_0</targetReference>
            </connector>
            <label>isDeactivationKeepAccess</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varTaskDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Bruker - &apos;+{!$User.FirstName}+ &apos; &apos;+{!$User.LastName}+&apos; har deaktivert avtalen og tilhørende tilganger.&apos;</expression>
    </formulas>
    <formulas>
        <name>varTaskDescriptionKeepAccess</name>
        <dataType>String</dataType>
        <expression>&apos;Bruker - &apos;+{!$User.FirstName}+ &apos; &apos;+{!$User.LastName}+&apos; har deaktivert avtalen.&apos;</expression>
    </formulas>
    <interviewLabel>AAREG_deactivateAgreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_deactivateAgreement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create</name>
        <label>createActivityHistory</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Tilgang</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createActivityHistory</name>
        <label>createActivityHistory</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varTaskDescriptionKeepAccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varTaskSubjectKeepAccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Tilgang</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getAgreement</name>
        <label>getAgreement</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deactivateAgreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>AA_ConfirmedAgreementCancellation__c</queriedFields>
        <queriedFields>AA_ConfirmedAgreementCancellationDate__c</queriedFields>
        <queriedFields>OrganizationNumber__c</queriedFields>
        <queriedFields>isNoDeactivationAccess__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAgreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateStatusOnAgreement_0_0</name>
        <label>updateStatusOnAgreement</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_ConfirmedAgreementCancellationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AA_ConfirmedAgreementCancellation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deactivated</stringValue>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateStatusOnAgreement_0_0_0</name>
        <label>updateStatusOnAgreement</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>createActivityHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_ConfirmedAgreementCancellationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AA_ConfirmedAgreementCancellation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Deactivated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isNoDeactivationAccess__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordUpdates>
    <screens>
        <name>deactivateAgreement</name>
        <label>deactivateAgreement</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkDeactivationType</targetReference>
        </connector>
        <fields>
            <name>inActiveAgreement</name>
            <fieldText>&lt;p&gt;Deaktiver avtale&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>yesDeactivateAgreement</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Yes, I want to deactivate the agreement and access</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Yes_I_want_to_deactivate_agreement_not_access</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Yes, I want to deactivate agreement, not access</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_active_0</name>
        <label>Not active</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>notActiveMessage_0</name>
            <fieldText>&lt;p&gt;The agreement is already deactivated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>youHaveNotSetYesToDeactivate_0_0</name>
        <label>You have not choosen yes to deactivate</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noneMessage_0_0</name>
            <fieldText>&lt;p&gt;Nothing is selected&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Avtalen og tilhørende tilganger er deaktivert.</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTaskSubjectKeepAccess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Avtalen er deaktivert.</stringValue>
        </value>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Agreement deactivated</stringValue>
        </value>
    </variables>
</Flow>
