force-app/main/default/flows/AAREG_updateDecisionText.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Depending on Casehandler status</description>
        <name>ApplicationDecisionStatus</name>
        <label>ApplicationDecisionStatus</label>
        <locationX>168</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ApprovedPartiallyStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved Partially</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AA_CasehandlerDecisionTemplate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePartiallyText</targetReference>
            </connector>
            <label>ApprovedPartiallyStatus</label>
        </rules>
        <rules>
            <name>ApprovedStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AA_CasehandlerDecisionTemplate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateApprovedText</targetReference>
            </connector>
            <label>ApprovedStatus</label>
        </rules>
        <rules>
            <name>DeclinedStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AA_CasehandlerDecisionTemplate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDeclinedText</targetReference>
            </connector>
            <label>DeclinedStatus</label>
        </rules>
    </decisions>
    <description>Used to update decisiontext with text template</description>
    <interviewLabel>AAREG_updateDecisionText {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_updateDecisionText</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateApprovedText</name>
        <label>UpdateApprovedText</label>
        <locationX>689</locationX>
        <locationY>692</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_CasehandlerDecisionTemplate__c</field>
            <value>
                <elementReference>ApprovedDecisionText</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDeclinedText</name>
        <label>UpdateDeclinedText</label>
        <locationX>1139</locationX>
        <locationY>649</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_CasehandlerDecisionTemplate__c</field>
            <value>
                <elementReference>DeclinedDecisionText</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePartiallyText</name>
        <label>UpdatePartiallyText</label>
        <locationX>341</locationX>
        <locationY>684</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved Partially</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_CasehandlerDecisionTemplate__c</field>
            <value>
                <elementReference>PartiallyApprovedDecisionText</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ApplicationDecisionStatus</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved Partially</stringValue>
            </value>
        </filters>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ApprovedDecisionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 16px;&quot;&gt;Vedtak om innvilget tilgang til Aa-registeret&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Vi viser til deres søknad om tilgang til Arbeidsgiver- og arbeidstakerregisteret&amp;nbsp;(Aa-registeret) mottatt {!$Record.ApplicationSubmittedDate__c}.  Søknaden er innvilget.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Søknad &lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Av deres søknad fremkommer det at formålet med&amp;nbsp;tilgangen&amp;nbsp;er:  &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;[Flette inn formålet&amp;nbsp;fra søknad].&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Behandlingsgrunnlaget:&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 12px;&quot;&gt;[flette inn behandlingsgrunnlaget ut fra søknad].&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Hjemmel for utlevering:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 12px;&quot;&gt;[flette inn&amp;nbsp;hjemmelsgrunnlaget ut fra søknad].&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Type tilgang:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;{!$Record.AA_AccessText__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Vedtak&amp;nbsp;om tilgang&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;color: rgb(209, 52, 56); font-family: serif; font-size: 12px;&quot;&gt;Vi har innvilget søknaden deres om tilgang til Aa-registeret for&amp;nbsp;[oppgi for hvilket formål]&lt;/u&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Dere innvilges tilgang av typen&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Record.AA_AccessText__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Spørsmål av teknisk art rettes til&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;xxxxxx&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Ansvar og vilkår ved bruk av opplysningene &lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Vi viser til de aksepterte bruksvilkårene, jf.&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;xxxxxx&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Veiledning og klage &lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Dersom dere har spørsmål om vedtaket, kan dere ta&amp;nbsp;kontakt med oss for nærmere opplysninger. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt; &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Dette vedtaket kan påklages til NAV Klageinstans etter reglene i forvaltningsloven kapitel VI. Klagen skal grunngis og fremsettes oss innen 3 uker fra dere mottok vedtaket. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DeclinedDecisionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 16px;&quot;&gt;Avslag på søknad om tilgang til Aa-registeret&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Vi viser til deres søknad om tilgang til Arbeidsgiver- og arbeidstakerregisteret (Aa-registeret) mottatt {!$Record.ApplicationSubmittedDate__c}. Søknaden er avslått fordi vi ikke finner at vilkårene for tilgang til Aa-registeret er oppfylt i deres tilfelle.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: serif; font-size: 12px;&quot;&gt;&lt;u&gt;Søknad&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Av deres søknad fremkommer det at formålet med tilgangen er:&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;[Flette inn formålet fra søknad].&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Behandlingsgrunnlaget er:&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 12px;&quot;&gt;[flette inn behandlingsgrunnlaget ut fra søknad].&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Hjemmel for utlevering:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 12px;&quot;&gt;[flette inn hjemmel ut fra søknad]&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Type tilgang er:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;{!$Record.AA_AccessText__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Begrunnelse for&amp;nbsp;avslaget&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;color: rgb(209, 52, 56); font-family: serif; font-size: 12px;&quot;&gt;Vi&amp;nbsp;har avslått søknaden deres om tilgang til Aa-registeret fordi [fritekstfelt] &lt;/u&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Veiledning og klage&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt; &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Dersom dere har spørsmål om vedtaket, kan dere ta kontakt med oss for nærmere opplysninger. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Dette vedtaket kan påklages til NAV Klageinstans etter reglene i forvaltningsloven kapittel VI. En grunngitt klage må være skriftlig framsatt overfor NAV Registerforvaltning innen 3 uker fra dette vedtaket ble mottatt. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PartiallyApprovedDecisionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: serif;&quot;&gt;Vedtak om tilgang til Aa-registeret&amp;nbsp;-&amp;nbsp;delvis&amp;nbsp;innvilget&lt;/b&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt; Vi viser til deres søknad om tilgang til Arbeidsgiver- og arbeidstakerregisteret (Aa-registeret) mott&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(0, 0, 0);&quot;&gt;att {!$Record.ApplicationSubmittedDate__c}.&amp;nbsp;Søkn&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;aden er delvis innvilget.&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(255, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, &amp;quot;Times New Roman_EmbeddedFont&amp;quot;, &amp;quot;Times New Roman_MSFontService&amp;quot;, serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Søknad&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Av deres søknad fremkommer det at formålet med tilgangen er:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(255, 0, 0);&quot;&gt;[Flette inn formålet fra søknad].&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Behandlingsgrunnlaget:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(255, 0, 0);&quot;&gt;[flette inn behandlingsgrunnlaget ut fra søknad].&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Hjemmel for utlevering:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(255, 0, 0);&quot;&gt;[flette inn hjemmel&amp;nbsp;ut fra søknad]&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Type tilgang:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;{!$Record.AA_AccessText__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt; &lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Vedtak&amp;nbsp;om&amp;nbsp;tilgang &lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 12px; font-family: serif; color: rgb(209, 52, 56);&quot;&gt;Vi har innvilget søknaden deres&amp;nbsp;om&amp;nbsp;tilgang til Aa-registeret for&amp;nbsp;[oppgi&amp;nbsp;for&amp;nbsp;hvilket formål]&lt;/u&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 12px; font-family: serif; color: rgb(209, 52, 56);&quot;&gt;Vi har avslått søknaden deres om tilgang til Aa-registeret fordi [fritekstfelt] &lt;/u&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Dere&amp;nbsp;innvilges tilgang av typen &lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(255, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!$Record.AA_AccessText__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Spørsmål av teknisk art rettes&amp;nbsp;til &lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(255, 0, 0);&quot;&gt;xxxxxx&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Ansvar og vilkår ved bruk av opplysningene &lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Vi viser til de aksepterte bruksvilkårene, jf. &lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(255, 0, 0);&quot;&gt;xxxxxx&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Veiledning og klage &lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Dersom dere har spørsmål om vedtaket, kan dere ta kontakt med oss for nærmere&amp;nbsp;opplysninger.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Dette vedtaket kan påklages til NAV Klageinstans etter reglene i forvaltningsloven kapittel VI. Klagen skal grunngis og fremsettes oss innen 3 uker fra dere mottok vedtaket.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
