force-app/main/default/flows/AAREG_applicationChangingStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AAREG_setStatus</name>
        <label>Set status - venter på svar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Additional Information Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_in_progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_under_behandling</name>
        <label>Set status - under behandling</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AAREG_updateStatus</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AAREG_isWaiting</name>
        <label>Is awaiting response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_in_progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardutfall</defaultConnectorLabel>
        <rules>
            <name>isWaiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Information Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AAREG_setStatus</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>isWaiting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_in_progress</name>
        <label>Is in progress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AAREG_updateStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isInProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_under_behandling</targetReference>
            </connector>
            <label>isInProgress</label>
        </rules>
    </decisions>
    <description>Arbeidsforhold søknad - Legger til en aktivitet på record ved hver status endring.</description>
    <environments>Default</environments>
    <formulas>
        <name>var_PriorStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record__Prior.Casehandler_Status__c}, 
&apos; &apos;, &apos;Utkast&apos;,
&apos;New&apos;, &apos;Ny&apos;,
&apos;In Progress&apos;, &apos;Under arbeid&apos;,
&apos;Declined&apos;,&apos;Avslag&apos;, 
&apos;Approved Partially&apos;,&apos;Delvis innvilget&apos;,
&apos;Approved&apos;, &apos;Innvilget&apos;,
&apos;Additional Information Required&apos;, &apos;Venter på svar&apos;,
&apos;Ingen status&apos;)</expression>
    </formulas>
    <formulas>
        <name>var_Status</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Casehandler_Status__c}, 
&apos; &apos;, &apos;Utkast&apos;,
&apos;New&apos;, &apos;Ny&apos;,
&apos;In Progress&apos;, &apos;Under arbeid&apos;,
&apos;Declined&apos;,&apos;Avslag&apos;, 
&apos;Approved Partially&apos;,&apos;Delvis innvilget&apos;,
&apos;Approved&apos;, &apos;Innvilget&apos;,
&apos;Additional Information Required&apos;, &apos;Venter på svar&apos;,
&apos;Ingen status&apos;)</expression>
    </formulas>
    <formulas>
        <name>varDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Status har endret status fra: &apos;&amp;{!var_PriorStatus} &amp;&apos; til: &apos;&amp;{!var_Status}</expression>
    </formulas>
    <interviewLabel>AAREG_applicationChangingStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG Application changing status activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AAREG_updateStatus</name>
        <label>Update status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createTaskChangeStatus</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AAREG_isWaiting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>createTaskChangeStatus</name>
        <label>createTaskChangeStatus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>AAREG_subflowCreateTask</flowName>
        <inputAssignments>
            <name>varAccessRequest</name>
            <value>
                <elementReference>$Record.Access_Request__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>varTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeOfTask</name>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Endring av status</stringValue>
        </value>
    </variables>
</Flow>
