force-app/main/default/flows/AAREG_applicationFinished_RT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SplitAccessTypes</name>
        <label>SplitAccessTypes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AAREG_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopAccessTypes</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>$Record.AA_AccessTypes__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AAREG_MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds Legal Basis County value to varApplicationBasisFields.</description>
        <name>AddCountyFields</name>
        <label>AddCountyFields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopApplicationBasisCodes.LegalBasisCounty__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddProcessingBasisField</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds Legal Basis Electricity value to varApplicationBasisFields.</description>
        <name>AddElectricityFields</name>
        <label>AddElectricityFields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopApplicationBasisCodes.LegalBasisElectricitySupervision__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddProcessingBasisField</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds Legal Basis Muncipality value to varApplicationBasisFields.</description>
        <name>AddMunicipalityFields</name>
        <label>AddMunicipalityFields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopApplicationBasisCodes.LegalBasisMunicipality__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddProcessingBasisField</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the Other Legal Basis value to varApplicationBasisFields.</description>
        <name>AddOtherFields</name>
        <label>AddOtherFields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopApplicationBasisCodes.OtherLegalBasis__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddProcessingBasisField</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds Legal Basis Pension value to varApplicationBasisFields.</description>
        <name>AddPensionFields</name>
        <label>AddPensionFields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopApplicationBasisCodes.LegalBasisPension__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddProcessingBasisField</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddProcessingBasisField</name>
        <label>AddProcessingBasisField</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopApplicationBasisCodes.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopApplicationBasisCodes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds Legal Basis State value to varApplicationBasisFields.</description>
        <name>AddStateFields</name>
        <label>AddStateFields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varApplicationBasisFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopApplicationBasisCodes.LegalBasisState__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddProcessingBasisField</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAPIFlag</name>
        <label>SetAPIFlag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAPIAccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAccessTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDataProcessor</name>
        <label>SetDataProcessor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDataProcessorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DataProcessorName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDataProcessorOrgNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DataProcessorOrganizationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SplitAccessTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEventFlag</name>
        <label>SetEventFlag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEventAccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAccessTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetExtractFlag</name>
        <label>SetExtractFlag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varExtractionAccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAccessTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOnlineFlag</name>
        <label>SetOnlineFlag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOnlineAccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAccessTypes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckAccessType</name>
        <label>CheckAccessType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopAccessTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAPI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopAccessTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>API</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAPIFlag</targetReference>
            </connector>
            <label>IsAPI</label>
        </rules>
        <rules>
            <name>IsOnline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopAccessTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetOnlineFlag</targetReference>
            </connector>
            <label>IsOnline</label>
        </rules>
        <rules>
            <name>IsExtract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopAccessTypes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetExtractFlag</targetReference>
            </connector>
            <label>IsExtract</label>
        </rules>
        <rules>
            <name>IsEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopAccessTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEventFlag</targetReference>
            </connector>
            <label>IsEvent</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCountyFields</name>
        <label>CheckCountyFields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckMunicipalityFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CountyNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopApplicationBasisCodes.LegalBasisCounty__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddCountyFields</targetReference>
            </connector>
            <label>CountyNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDataProcessor</name>
        <label>CheckDataProcessor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SplitAccessTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasSeparateDataProcessor</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DataProcessorOrganizationNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DataProcessorOrganizationNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>getAccount.INT_OrganizationNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDataProcessor</targetReference>
            </connector>
            <label>HasSeparateDataProcessor</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckElectricityFields</name>
        <label>CheckElectricityFields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AddProcessingBasisField</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ElectricityNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopApplicationBasisCodes.LegalBasisElectricitySupervision__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddElectricityFields</targetReference>
            </connector>
            <label>ElectricityNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMunicipalityFields</name>
        <label>CheckMunicipalityFields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckStateFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MunicipalityNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopApplicationBasisCodes.LegalBasisMunicipality__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddMunicipalityFields</targetReference>
            </connector>
            <label>MunicipalityNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOtherFields</name>
        <label>CheckOtherFields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckCountyFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OtherFieldsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopApplicationBasisCodes.OtherLegalBasis__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOtherFields</targetReference>
            </connector>
            <label>OtherFieldsNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPensionFields</name>
        <label>CheckPensionFields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckElectricityFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PensionNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopApplicationBasisCodes.LegalBasisPension__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddPensionFields</targetReference>
            </connector>
            <label>PensionNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStateFields</name>
        <label>CheckStateFields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckPensionFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StateNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopApplicationBasisCodes.LegalBasisState__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddStateFields</targetReference>
            </connector>
            <label>StateNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusCheck</name>
        <label>StatusCheck</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ApprovedOrPartially</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved Partially</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount</targetReference>
            </connector>
            <label>ApprovedOrPartially</label>
        </rules>
        <rules>
            <name>Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <label>Declined</label>
        </rules>
    </decisions>
    <description>Record-triggered version of AAREG_applicationFinished</description>
    <environments>Default</environments>
    <interviewLabel>AAREG_applicationFinished_RT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_applicationFinished_RT</label>
    <loops>
        <name>LoopAccessTypes</name>
        <label>LoopAccessTypes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>SplitAccessTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckAccessType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAllApplicationBasisCodes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopApplicationBasisCodes</name>
        <label>LoopApplicationBasisCodes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetAllApplicationBasisCodes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckOtherFields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createAgreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createAgreement</name>
        <label>createAgreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varAgreementId</assignRecordIdToReference>
        <inputAssignments>
            <field>APIAccess__c</field>
            <value>
                <elementReference>varAPIAccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicationBasisFields__c</field>
            <value>
                <elementReference>varApplicationBasisFields</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataProcessorName__c</field>
            <value>
                <elementReference>varDataProcessorName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataProcessorOrganizationNumber__c</field>
            <value>
                <elementReference>varDataProcessorOrgNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventAccess__c</field>
            <value>
                <elementReference>varEventAccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExtractionAccess__c</field>
            <value>
                <elementReference>varExtractionAccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OnlineAccess__c</field>
            <value>
                <elementReference>varOnlineAccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>account__c</field>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckDataProcessor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllApplicationBasisCodes</name>
        <label>GetAllApplicationBasisCodes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopApplicationBasisCodes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApplicationBasisCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StatusCheck</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Path_1</name>
            <label>Scheduled Path 1</label>
            <offsetNumber>0</offsetNumber>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>varAgreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>18</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAPIAccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varApplicationBasisFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDataProcessorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDataProcessorOrgNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventAccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varExtractionAccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOnlineAccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
