force-app/main/default/flows/AAREG_afterInsertUpdateThreadOwnerId.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>setApplicationVariables</name>
        <label>setApplicationVariables</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varNameNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateThreadOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInquiryVariables</name>
        <label>setInquiryVariables</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInquiry.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNameNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInquiry.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInquiry.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateThreadOwner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkObjectType</name>
        <label>checkObjectType</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isApplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Related_Object_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getApplication</targetReference>
            </connector>
            <label>isApplication</label>
        </rules>
        <rules>
            <name>isInquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Related_Object__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inquiry__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getInquiry</targetReference>
            </connector>
            <label>isInquiry</label>
        </rules>
    </decisions>
    <description>Update Thread Owner  to portal owner, if the Thread is created from NAV.</description>
    <interviewLabel>AAREG_afterInsertUpdateThreadOwnerId {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_afterInsertUpdateThreadOwnerId</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getApplication</name>
        <label>getApplication</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setApplicationVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Related_Object__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getInquiry</name>
        <label>getInquiry</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setInquiryVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Related_Object__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inquiry__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId__c</queriedFields>
        <queriedFields>ContactId__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateThreadOwner</name>
        <label>updateThreadOwner</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>CRM_Account__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_From__c</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread_Type__c</field>
            <value>
                <stringValue>AAREG_EXP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkObjectType</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CRM_Related_Object_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Related_Object_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inquiry__c</stringValue>
            </value>
        </filters>
        <object>Thread__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNameNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
