force-app/main/default/flows/AAREG_applicationNotificationToCasehandler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendNotificationToCasehandler</name>
        <label>sendNotificationToCasehandler</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>varNotifictionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varApplicationNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>varApplicationNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setApplicationVariables</name>
        <label>setApplicationVariables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLastModUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriorStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Casehandler_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Casehandler_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CasehandlerOwner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkPriorStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRecipient</name>
        <label>setRecipient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCaseOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendNotificationToCasehandler</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If an application goes from additional information to required, and the lastmoduser on application is the application owner and notification is sent to casehandler</description>
        <name>checkPriorStatus</name>
        <label>checkPriorStatus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>isNot</defaultConnectorLabel>
        <rules>
            <name>isPriorWaiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Information Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLastModUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varOwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRecipient</targetReference>
            </connector>
            <label>isPriorWaiting</label>
        </rules>
    </decisions>
    <description>When a user is altering an application and submits - status is changing an an notification is sendt to casehandler</description>
    <environments>Default</environments>
    <formulas>
        <name>varApplicationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Søker knyttet til søknadsnummer: &apos;&amp;{!$Record.Name}&amp;&apos; har oppdatert søknad&apos;</expression>
    </formulas>
    <interviewLabel>AAREG_applicationNotificationToCasehandler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_applicationNotificationToCasehandler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getNotificationId_0</name>
        <label>getNotificationId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setApplicationVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_threadNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>varNotifictionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getNotificationId_0</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecipientID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicationNotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>varApplicationBody</elementReference>
        </value>
    </variables>
    <variables>
        <name>varApplicationNotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Søker har oppdatert søknad</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastModUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMessageUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotifictionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varThreadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
