force-app/main/default/flows/AAREG_Decision_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Oppretter en fil knyttet til vedtaksobjektet. Skal brukes til nedlasting i experience cloud</description>
        <name>AAREG_Create_content_version</name>
        <label>Create content version</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AAREG_ApplicationDecisionPDFFileService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assing_contentdocumentId</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accessRequestRecordId</name>
            <value>
                <elementReference>getApplicationRecords.Access_Request__r.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementRecordId</name>
            <value>
                <elementReference>var_agreementId</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>applicationRecordId</name>
            <value>
                <elementReference>getApplicationRecords.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>decisionFileTitle</name>
            <value>
                <stringValue>Vedtak til søknad om tilgang til Arbeidsgiver- og arbeidstaker registeret</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>decisionRecordId</name>
            <value>
                <elementReference>getDecisionRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AAREG_ApplicationDecisionPDFFileService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_legal_and_basis</name>
        <label>Add legal and basis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_ProcessingBasis</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_details_legal_and_basis.Legal_Basis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ProcessingBasis</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_details_legal_and_basis.Purpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ProcessingBasis</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_details_legal_and_basis.Processing_Basis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ProcessingBasis</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;BR&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_details_legal_and_basis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_values_to_application</name>
        <label>Add values to application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getApplicationRecords.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_DecisionStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getApplicationRecords.Casehandler_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getApplicationRecords.DecisionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDecisionRecord.Decision_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getApplicationRecords.IsFlowRunning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createAgreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_values_to_application1</name>
        <label>Add values to application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getApplicationRecords.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_DecisionStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getApplicationRecords.Casehandler_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getApplicationRecords.DecisionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDecisionRecord.Decision_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getApplicationRecords.IsFlowRunning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AAREG_Create_content_version</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_values_to_decision</name>
        <label>Add values to decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getDecisionRecord.Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Agreement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDecisionRecord.Process_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_agreementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Agreement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AAREG_Create_content_version</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_values_to_decision1</name>
        <label>Add values to decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getDecisionRecord.Process_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_values_to_application1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addValuesToAgreement</name>
        <label>Add values to agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_Agreement.account__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.Status__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.DataProcessorName__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.DataProcessorName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.DataProcessorOrganizationNumber__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.DataProcessorOrganizationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.OrganizationNumber__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.OrganizationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.Application__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.APIAccess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_APIAccess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.ExtractionAccess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ExtractionAccess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.OnlineAccess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WebAccess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.ApplicationBasisFields__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_ProcessingBasis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.accountCategory__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.OrganizationStructure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.Access_Request__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.Access_Request__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_values_to_application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_contentdocumentId</name>
        <label>Assing contentdocumentId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getDecisionRecord.ContentdocumentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AAREG_Create_content_version.contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_is_flow_running_to_false</name>
        <label>Set is flow running to false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getApplicationRecords.IsFlowRunning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_is_flow_running_checkbox</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_decision</name>
        <label>Check decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isFilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDecisionRecord.Decision_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getDecisionRecord.Decision_description__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getApplicationRecords</targetReference>
            </connector>
            <label>isFilled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check status for decision. If decision is Avslått it should not create an agreement, but close the decision and archive in public 360 when its in place</description>
        <name>checkStatus</name>
        <label>Check status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isDecisionFinished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNotAvslaat</defaultConnectorLabel>
        <rules>
            <name>isAvslaat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDecisionRecord.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_StatusAvslaat</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_finished1</targetReference>
            </connector>
            <label>isAvslaat</label>
        </rules>
    </decisions>
    <description>Arbeidsforhold vedtak - ferdigbehandler vedtak, setter status og oppretter filer, avtaler.</description>
    <environments>Default</environments>
    <formulas>
        <name>var_APIAccess</name>
        <dataType>Boolean</dataType>
        <expression>IF({!getDecisionRecord.Api_access_count__c}&gt;0,true,false)</expression>
    </formulas>
    <formulas>
        <name>var_changeStatusText</name>
        <dataType>String</dataType>
        <expression>&apos;Søknaden er ferdigbehandlet av: &apos;+ {!$User.FirstName}+&apos; &apos;+{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>var_DecisionStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!getDecisionRecord.Status__c},
&apos;Innvilget&apos;,&apos;Approved&apos;,
&apos;Delvis innvilget&apos;, &apos;Approved Partially&apos;,
&apos;Avslått&apos;,&apos;Declined&apos;,
&apos;Completed&apos;
)</expression>
    </formulas>
    <formulas>
        <name>var_ExtractionAccess</name>
        <dataType>Boolean</dataType>
        <expression>IF({!getDecisionRecord.Extract_access_count__c}&gt;0,true,false)</expression>
    </formulas>
    <formulas>
        <name>var_WebAccess</name>
        <dataType>Boolean</dataType>
        <expression>IF({!getDecisionRecord.Web_access_count__c}&gt;0,true,false)</expression>
    </formulas>
    <interviewLabel>AAREG Decision Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG Decision completed</label>
    <loops>
        <name>Check_details_legal_and_basis</name>
        <label>Check details legal and basis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_decision_details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_legal_and_basis</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>addValuesToAgreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAgreement</name>
        <label>Create agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_related_contacts</targetReference>
        </connector>
        <inputReference>rec_Agreement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_decision_details</name>
        <label>Get decision details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Decision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application_Decision_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getApplicationRecords</name>
        <label>Get application record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDecisionRecord.Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDecisionRecord</name>
        <label>Get decision record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_decision_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application_Decision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_application</name>
        <label>Update application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_is_flow_running_to_false</targetReference>
        </connector>
        <inputReference>getApplicationRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_decision</name>
        <label>Update decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_application</targetReference>
        </connector>
        <inputReference>getDecisionRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_decision_details</name>
        <label>Update decision details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_values_to_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Decision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>rec_Agreement.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Decision_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_is_flow_running_checkbox</name>
        <label>Update is flow running checkbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AAREG_create_activity_history_change_status</targetReference>
        </connector>
        <inputReference>getApplicationRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_contacts</name>
        <label>Update related contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_decision_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getApplicationRecords.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>rec_Agreement.Id</elementReference>
            </value>
        </inputAssignments>
        <object>RelatedContact__c</object>
    </recordUpdates>
    <screens>
        <name>decision_finished1</name>
        <label>decision finished</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_values_to_decision1</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_isFinishedText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;You are about to finish the decision&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>isDecisionFinished</name>
        <label>decision finished</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_details_legal_and_basis</targetReference>
        </connector>
        <fields>
            <name>isFinishedText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;You are about to finish the decision and create an agreement&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getDecisionRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Oppretter en oppgave/historikk på endring av status</description>
        <name>AAREG_create_activity_history_change_status</name>
        <label>Create activity history - change status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>AAREG_subflowCreateTask</flowName>
        <inputAssignments>
            <name>varAccessRequest</name>
            <value>
                <elementReference>getApplicationRecords.Access_Request__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>var_changeStatusText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedToId</name>
            <value>
                <elementReference>getApplicationRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>var_taskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeOfTask</name>
            <value>
                <stringValue>Ferdigbehandlet</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>rec_Agreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agreement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_agreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_changeStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Endring av status</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_ProcessingBasis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_StatusAvslaat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Avslått</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_taskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Søknaden er ferdigbehandlet</stringValue>
        </value>
    </variables>
</Flow>
