force-app/main/default/flows/AAREG_applicationAddInternalComments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <constants>
        <description>Used for adding newLine</description>
        <name>conGES</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <decisions>
        <name>checkComment</name>
        <label>checkComment</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>isEmpty</defaultConnectorLabel>
        <rules>
            <name>notEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addInternalComment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateComment</targetReference>
            </connector>
            <label>notEmpty</label>
        </rules>
    </decisions>
    <description>Add an internal comment + user and time/date</description>
    <formulas>
        <name>addDescription</name>
        <dataType>String</dataType>
        <expression>{!varDateTimeUser}&amp; BR() &amp;
{!addInternalComment}</expression>
    </formulas>
    <formulas>
        <name>varDateTimeUser</name>
        <dataType>String</dataType>
        <expression>&apos;Merknad lagt til &apos;&amp; TEXT({!$Flow.CurrentDate})&amp;&apos; av &apos;&amp;{!$User.FirstName}&amp;&apos; &apos;&amp;{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>AAREG_applicationAddInternalComments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_applicationAddInternalComments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createTask</name>
        <label>createTask</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>addDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Merknad lagt til</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Merknad</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>getApplication.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getApplication</name>
        <label>getApplication</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addComment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DecisionDescription__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordId</name>
        <label>getRecordId</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateComment</name>
        <label>updateComment</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>getRecordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getApplication.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DecisionDescription__c</field>
            <value>
                <elementReference>varAddTextTemplateComments</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <screens>
        <name>addComment</name>
        <label>addComment</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkComment</targetReference>
        </connector>
        <fields>
            <name>addInternalComment</name>
            <fieldText>Add comments - only for internal use</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getApplication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>newLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!conGES}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varAddTextTemplateComments</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varDateTimeUser}

{!addInternalComment}
**********************************************
{!getApplication.DecisionDescription__c}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInternalCommentAdd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
