force-app/main/default/flows/AAREG_deactivateAccess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AgreementNotFound</name>
        <label>Agreement Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agreement not Found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_and_Display_Short_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Technical_error</name>
        <label>Technical Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_and_Display_Short_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Agreement_failed</name>
        <label>Update Agreement failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Ref_Agreement_Rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAgreement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_and_Display_Short_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Agreement_Found</name>
        <label>Agreement Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AgreementNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAgreement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deactivateAccess</targetReference>
            </connector>
            <label>Yes found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FailedforRecord</name>
        <dataType>String</dataType>
        <expression>&quot;Gjelder &quot; &amp; {!recordId}</expression>
    </formulas>
    <interviewLabel>AAREG_deactivateAccess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_deactivateAccess</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAgreement</name>
        <label>getAgreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agreement_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Technical_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAgreement</name>
        <label>updateAgreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Update_Agreement_failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>APIAccess__c</field>
            <value>
                <elementReference>apiAccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExtractionAccess__c</field>
            <value>
                <elementReference>extractAccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OnlineAccess__c</field>
            <value>
                <elementReference>onlineAccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isAccessDeactivationThroughFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isDeactivateThroughBatch__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isNoDeactivationAccess__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordUpdates>
    <screens>
        <name>deactivateAccess</name>
        <label>Deaktiver tilgang</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateAgreement</targetReference>
        </connector>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p&gt;Fjern markering fra tilgangen som skal fjernes&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>onlineAccess</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>getAgreement.OnlineAccess__c</elementReference>
            </defaultValue>
            <fieldText>Web-oppslag</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>extractAccess</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>getAgreement.ExtractionAccess__c</elementReference>
            </defaultValue>
            <fieldText>Uttrekk</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>apiAccess</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>getAgreement.APIAccess__c</elementReference>
            </defaultValue>
            <fieldText>API</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fullfør</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAgreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_and_Display_Short_Message</name>
        <label>Log and Display Short Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>AAREG_Log_And_Disp_Short_Messages</flowName>
        <inputAssignments>
            <name>category</name>
            <value>
                <stringValue>AAREG_deactivateAccess</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>error_Message</name>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>failed_On_Object</name>
            <value>
                <stringValue>Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fault_time</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flow_Interview_Guid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>log_Level</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ref_agreement_rec</name>
            <value>
                <elementReference>Ref_Agreement_Rec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>source_flow</name>
            <value>
                <elementReference>FailedforRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Ref_Agreement_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Agreement__c</objectType>
    </variables>
</Flow>
