force-app/main/default/flows/AAREG_supportSetInternallyFlag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>checkIfNAVUser</name>
        <label>checkIfNAVUser</label>
        <locationX>380</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>isNotNavUser</defaultConnectorLabel>
        <rules>
            <name>isNavUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getNAVuserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkSubject</targetReference>
            </connector>
            <label>isNavUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSubject</name>
        <label>checkSubject</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>updateInternallyFlag_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isThisSubject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInquirySubject.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opprettelse av tilgang(er) til API</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateInternallyFlag_0_0</targetReference>
            </connector>
            <label>isThisSubject</label>
        </rules>
    </decisions>
    <description>Inquiry can be created by support. Internally flag will be set</description>
    <interviewLabel>AAREG_supportSetInternallyFlag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_supportSetInternallyFlag</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getInquirySubject</name>
        <label>getInquirySubject</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNAVuserId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inquiry__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNAVuserId</name>
        <label>getNAVuserId</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfNAVUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varNavIdent</assignToReference>
            <field>CRM_NAV_Ident__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateInternallyFlag_0</name>
        <label>updateInternallyFlag</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>isCreatedInternally__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateInternallyFlag_0_0</name>
        <label>updateInternallyFlag</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>isCreatedInternally__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getInquirySubject</targetReference>
        </connector>
        <object>Inquiry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varNavIdent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
