force-app/main/default/flows/AAREG_populateApplicationFieldAfterSubmit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Application_failed</name>
        <label>Update Application failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>AAREG_populateApplicationFieldAfterSubmit</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <stringValue>flow_interview_og_log_message</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addCodeBasisCounty</name>
        <label>addCodeBasisCounty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisCounty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeCounty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCodeBasisEL</name>
        <label>addCodeBasisEL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisElectricitySupervision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeElectricitySupervision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCodeBasisMunicipality</name>
        <label>addCodeBasisMunicipality</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisMunicipality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeMunicipality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addLegalBasisOther</name>
        <label>addLegalBasisOther</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherLegalBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherPurpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addRelatedContact</name>
        <label>addRelatedContact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>relatedContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loopThroughContacts.Name},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loopThroughContacts.Email__c},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loopThroughContacts.Phone__c},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loopThroughContacts.AgreementNotifications__c},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loopThroughContacts.ChangeNotifications__c},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loopThroughContacts.ErrorMessageNotifications__c},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughContacts.SecurityNotifications__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsCodeBasisOther</name>
        <label>IsCodeBasisOther</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherLegalBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherPurpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsCodeBasisPension</name>
        <label>IsCodeBasisPension</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisPension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposePension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsCodeBasisState</name>
        <label>IsCodeBasisState</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Used for adding newLine</description>
        <name>conGES</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkOrganizationType</name>
        <label>checkOrganizationType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCounty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>County</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisCounty__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCodeBasisCounty</targetReference>
            </connector>
            <label>IsCounty</label>
        </rules>
        <rules>
            <name>IsEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Electricity Supervision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisElectricitySupervision__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCodeBasisEL</targetReference>
            </connector>
            <label>IsEL</label>
        </rules>
        <rules>
            <name>IsMunicipality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Municipality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisMunicipality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCodeBasisMunicipality</targetReference>
            </connector>
            <label>IsMunicipality</label>
        </rules>
        <rules>
            <name>IsPension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisPension__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCodeBasisPension</targetReference>
            </connector>
            <label>IsPension</label>
        </rules>
        <rules>
            <name>IsState</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisState__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCodeBasisState</targetReference>
            </connector>
            <label>IsState</label>
        </rules>
        <rules>
            <name>IsOther</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCodeBasisOther</targetReference>
            </connector>
            <label>IsOther</label>
        </rules>
        <rules>
            <name>IsLegalBasisOther</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisCounty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisElectricitySupervision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisMunicipality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisPension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisState__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addLegalBasisOther</targetReference>
            </connector>
            <label>IsLegalBasisOther</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>flow_interview_og_log_message</name>
        <dataType>String</dataType>
        <expression>&quot;Flow Interview Guid &lt;&quot; &amp; {!$Flow.InterviewGuid} &amp; &quot;&gt;og Feil melding : &quot; &amp; {!$Flow.FaultMessage}</expression>
    </formulas>
    <formulas>
        <name>setApplicationDeadlineDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.ApplicationSubmittedDate__c}+ ( 365 / 12 )</expression>
    </formulas>
    <interviewLabel>AAREG_populateApplicationFieldAfterSubmitt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_populateApplicationFieldAfterSubmit</label>
    <loops>
        <name>loopThroughCollection</name>
        <label>loopThroughCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getCodeBasisCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkOrganizationType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getRelatedContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopThroughContacts</name>
        <label>loopThroughContacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getRelatedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addRelatedContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateApplicationField</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCodeBasisCollection</name>
        <label>getCodeBasisCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApplicationBasisCode__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrganizationType__c</queriedFields>
        <queriedFields>ProcessingBasis__c</queriedFields>
        <queriedFields>LegalBasisCounty__c</queriedFields>
        <queriedFields>PurposeCounty__c</queriedFields>
        <queriedFields>LegalBasisElectricitySupervision__c</queriedFields>
        <queriedFields>PurposeElectricitySupervision__c</queriedFields>
        <queriedFields>LegalBasisMunicipality__c</queriedFields>
        <queriedFields>PurposeMunicipality__c</queriedFields>
        <queriedFields>LegalBasisPension__c</queriedFields>
        <queriedFields>PurposePension__c</queriedFields>
        <queriedFields>LegalBasisState__c</queriedFields>
        <queriedFields>PurposeState__c</queriedFields>
        <queriedFields>OtherLegalBasis__c</queriedFields>
        <queriedFields>OtherPurpose__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedContacts</name>
        <label>getRelatedContacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RelatedContact__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <queriedFields>AgreementNotifications__c</queriedFields>
        <queriedFields>ChangeNotifications__c</queriedFields>
        <queriedFields>ErrorMessageNotifications__c</queriedFields>
        <queriedFields>SecurityNotifications__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateApplicationField</name>
        <label>updateApplicationField</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Update_Application_failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_register_application_text__c</field>
            <value>
                <elementReference>containerApplication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicationDeadlineForReply__c</field>
            <value>
                <elementReference>setApplicationDeadlineDate</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCodeBasisCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAppSentToWebsak__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>containerApplication</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;{!$Record.Account__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt;{!$Record.Account__r.BillingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;{!$Record.Account__r.BillingPostalCode} {!$Record.Account__r.BillingCity}&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;                                                                                                                                                                        &lt;/span&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-7&quot;&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Vår ref:&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!$Record.Name}&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Søknads  dato:&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt; {!$Record.ApplicationSubmittedDate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: serif;&quot;&gt;Søknad om tilgang til arbeidsgiver- og arbeidstaker registeret&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Om søker:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;Virksomhetsnavn: {!$Record.Account__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;Organisasjonsnummer: {!$Record.Account__r.INT_OrganizationNumber__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;Sektor: {!$Record.Account__r.INT_Sector__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;Næringskode: {!$Record.Account__r.INT_Industry__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;Organisasjonsform: {!$Record.Account__r.INT_OrganizationalStructureDesc__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Kontaktperson som søker:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;Navn: {!$Record.Contact__r.FirstName} {!$Record.Contact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;E-post: {!$Record.Contact__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Type tilgang det søkes om:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif;&quot;&gt;{!$Record.AA_AccessText__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Grunnlag det søkes på:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Hjemmel:&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;{!legalBasisList}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Formål:&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;{!purposeList}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Behandlingsgrunnlag:&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;{!processingBasisList}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Kontaktperson og type varsler:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;Kontaktperson navn, epost, telefon, avtale, endringer, feil, sikkerhet&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;{!relatedContactList}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Databehandler:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;Ingen databehandler lagt til hvis tom linje.&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif;&quot;&gt;{!$Record.DataProcessorOrganizationNumber__c}&amp;nbsp;{!$Record__Prior.DataProcessorName__c}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Søker har godkjent bruksvilkårene. Dette er obligatorisk for å kunne sende inn søknaden.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Dette dokumentet er elektronisk generert for oversendelse til arkivet og skal ikke signeres.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>newLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!conGES}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>legalBasisList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>processingBasisList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>purposeList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>relatedContactList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
