force-app/main/default/flows/AAREG_applicationChangeStatusAfterMessageFromUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>checkObjectType</name>
        <label>checkObjectType</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>isNotApplicationObjectType</defaultConnectorLabel>
        <rules>
            <name>isApplicationObjectType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getThreadObjectType.CRM_Related_Object_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateApplicationStatus</targetReference>
            </connector>
            <label>isApplicationObjectType</label>
        </rules>
    </decisions>
    <interviewLabel>AAREG_applicationChangeStatusAferMessageFromUser {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_applicationChangeStatusAfterMessageFromUser</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getThreadObjectType</name>
        <label>getThreadObjectType</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkObjectType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Related_Object_Type__c</queriedFields>
        <queriedFields>CRM_Related_Object__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateApplicationStatus</name>
        <label>updateApplicationStatus</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getThreadObjectType.CRM_Related_Object__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Casehandler_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getThreadObjectType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_External_Message__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
