force-app/main/default/flows/AAREG_updateDeadlineDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>Updates deadline date, creates a task with the reason</description>
    <formulas>
        <name>concatReasonAndDate</name>
        <dataType>String</dataType>
        <expression>&quot;Dato satt til: &quot;+TEXT({!deadlineDate}) +&apos; - &apos;+{!reasonForAdjustDeadline}</expression>
    </formulas>
    <interviewLabel>AAREG_updateDeadlineDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_updateDeadlineDate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createTaskOnReason</name>
        <label>createTaskOnReason</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>updataDeadlineDate</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>concatReasonAndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Endret svarfrist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Svarfrist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>updates deadline date</description>
        <name>updataDeadlineDate</name>
        <label>updataDeadlineDate</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApplicationDeadlineForReply__c</field>
            <value>
                <elementReference>deadlineDate</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <screens>
        <name>changeDeadlineDate</name>
        <label>Change deadline date</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createTaskOnReason</targetReference>
        </connector>
        <fields>
            <name>deadlineDate</name>
            <dataType>Date</dataType>
            <fieldText>Deadline Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>reasonForAdjustDeadline</name>
            <dataType>String</dataType>
            <fieldText>Reason for adjust deadline</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>changeDeadlineDate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of the record that trigger the flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
