force-app/main/default/flows/AAREG_deactivateAgreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
  <apiVersion>53.0</apiVersion>
  <decisions>
    <name>checkYesStatement</name>
    <label>checkYesStatement</label>
    <locationX>446</locationX>
    <locationY>398</locationY>
    <defaultConnector>
      <targetReference>youHaveNotSetYesToDeactivate</targetReference>
    </defaultConnector>
    <defaultConnectorLabel>isNo</defaultConnectorLabel>
    <rules>
      <name>isYes</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>yesDeactivateAgreement</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <booleanValue>true</booleanValue>
        </rightValue>
      </conditions>
      <conditions>
        <leftValueReference>getAgreement.Status__c</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <stringValue>Active</stringValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>updateStatusOnAgreement</targetReference>
      </connector>
      <label>isYes</label>
    </rules>
    <rules>
      <name>isPartially</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>partInactive</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <booleanValue>true</booleanValue>
        </rightValue>
      </conditions>
      <conditions>
        <leftValueReference>getAgreement.Status__c</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <stringValue>Active</stringValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>Unchecktheaccesstypetodeactivate</targetReference>
      </connector>
      <label>isPartially</label>
    </rules>
    <rules>
      <name>notActive</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>getAgreement.Status__c</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <stringValue>Deactivated</stringValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>Not_active</targetReference>
      </connector>
      <label>notActive</label>
    </rules>
  </decisions>
  <formulas>
    <name>varSetDescription</name>
    <dataType>String</dataType>
    <expression>{!$User.FirstName}+&apos; &apos;+{!$User.LastName} +&apos;  has deactivated the agreement&apos;</expression>
  </formulas>
  <interviewLabel>AAREG_deactivateAgreement {!$Flow.CurrentDateTime}</interviewLabel>
  <label>AAREG_deactivateAgreement</label>
  <processMetadataValues>
    <name>BuilderType</name>
    <value>
      <stringValue>LightningFlowBuilder</stringValue>
    </value>
  </processMetadataValues>
  <processMetadataValues>
    <name>CanvasMode</name>
    <value>
      <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
    </value>
  </processMetadataValues>
  <processMetadataValues>
    <name>OriginBuilderType</name>
    <value>
      <stringValue>LightningFlowBuilder</stringValue>
    </value>
  </processMetadataValues>
  <processType>Flow</processType>
  <recordLookups>
    <name>getAgreement</name>
    <label>getAgreement</label>
    <locationX>446</locationX>
    <locationY>158</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>deactivateAgreement</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>recordId</elementReference>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>Agreement__c</object>
    <queriedFields>Id</queriedFields>
    <queriedFields>Status__c</queriedFields>
    <queriedFields>AA_ConfirmedAgreementCancellation__c</queriedFields>
    <queriedFields>AA_ConfirmedAgreementCancellationDate__c</queriedFields>
    <queriedFields>APIAccess__c</queriedFields>
    <queriedFields>ExtractionAccess__c</queriedFields>
    <queriedFields>OnlineAccess__c</queriedFields>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordUpdates>
    <name>updateAccessType</name>
    <label>updateAccessType</label>
    <locationX>314</locationX>
    <locationY>638</locationY>
    <connector>
      <targetReference>createPartiallyDeactivateTask</targetReference>
    </connector>
    <inputReference>getAgreement</inputReference>
  </recordUpdates>
  <recordUpdates>
    <name>updateStatusOnAgreement</name>
    <label>updateStatusOnAgreement</label>
    <locationX>50</locationX>
    <locationY>518</locationY>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>getAgreement.Id</elementReference>
      </value>
    </filters>
    <inputAssignments>
      <field>AA_ConfirmedAgreementCancellationDate__c</field>
      <value>
        <elementReference>$Flow.CurrentDate</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>AA_ConfirmedAgreementCancellation__c</field>
      <value>
        <booleanValue>true</booleanValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <field>Status__c</field>
      <value>
        <stringValue>Deactivated</stringValue>
      </value>
    </inputAssignments>
    <object>Agreement__c</object>
  </recordUpdates>
  <screens>
    <name>deactivateAgreement</name>
    <label>deactivateAgreement</label>
    <locationX>446</locationX>
    <locationY>278</locationY>
    <allowBack>false</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>false</allowPause>
    <connector>
      <targetReference>checkYesStatement</targetReference>
    </connector>
    <fields>
      <name>inActiveAgreement</name>
      <fieldText>&lt;p&gt;Deactivate whole agreement or partially deactivate the agreement&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
    </fields>
    <fields>
      <name>yesDeactivateAgreement</name>
      <dataType>Boolean</dataType>
      <defaultValue>
        <booleanValue>false</booleanValue>
      </defaultValue>
      <fieldText>Yes, I want to deactivate the agreement</fieldText>
      <fieldType>InputField</fieldType>
      <isRequired>false</isRequired>
    </fields>
    <fields>
      <name>deactivateAgreement_Section1</name>
      <fieldType>RegionContainer</fieldType>
      <fields>
        <name>deactivateAgreement_Section1_Column1</name>
        <fieldType>Region</fieldType>
        <inputParameters>
          <name>width</name>
          <value>
            <stringValue>12</stringValue>
          </value>
        </inputParameters>
        <isRequired>false</isRequired>
      </fields>
      <isRequired>false</isRequired>
    </fields>
    <fields>
      <name>partInactive</name>
      <dataType>Boolean</dataType>
      <defaultValue>
        <booleanValue>false</booleanValue>
      </defaultValue>
      <fieldText>Yes, I want to partially deactivat agreement.</fieldText>
      <fieldType>InputField</fieldType>
      <isRequired>false</isRequired>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>false</showHeader>
  </screens>
  <screens>
    <name>Not_active</name>
    <label>Not active</label>
    <locationX>578</locationX>
    <locationY>518</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <fields>
      <name>notActiveMessage</name>
      <fieldText>&lt;p&gt;The agreement is already deactivated&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>false</showHeader>
  </screens>
  <screens>
    <name>Unchecktheaccesstypetodeactivate</name>
    <label>Uncheck access type to deactivate</label>
    <locationX>314</locationX>
    <locationY>518</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <connector>
      <targetReference>updateAccessType</targetReference>
    </connector>
    <fields>
      <fieldType>ObjectProvided</fieldType>
      <isRequired>false</isRequired>
      <objectFieldReference>getAgreement.OnlineAccess__c</objectFieldReference>
    </fields>
    <fields>
      <fieldType>ObjectProvided</fieldType>
      <isRequired>false</isRequired>
      <objectFieldReference>getAgreement.ExtractionAccess__c</objectFieldReference>
    </fields>
    <fields>
      <fieldType>ObjectProvided</fieldType>
      <isRequired>false</isRequired>
      <objectFieldReference>getAgreement.APIAccess__c</objectFieldReference>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>false</showHeader>
  </screens>
  <screens>
    <name>youHaveNotSetYesToDeactivate</name>
    <label>You have not choosen yes to deactivate</label>
    <locationX>842</locationX>
    <locationY>518</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>false</allowPause>
    <fields>
      <name>noneMessage</name>
      <fieldText>&lt;p&gt;Nothing is selected&lt;/p&gt;</fieldText>
      <fieldType>DisplayText</fieldType>
    </fields>
    <showFooter>true</showFooter>
    <showHeader>false</showHeader>
  </screens>
  <start>
    <locationX>320</locationX>
    <locationY>0</locationY>
    <connector>
      <targetReference>getAgreement</targetReference>
    </connector>
  </start>
  <status>Active</status>
  <subflows>
    <name>createPartiallyDeactivateTask</name>
    <label>createPartiallyDeactivateTask</label>
    <locationX>314</locationX>
    <locationY>758</locationY>
    <flowName>AAREG_subflowCreateTask</flowName>
    <inputAssignments>
      <name>varDescription</name>
      <value>
        <elementReference>varDescription</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <name>varRelatedToId</name>
      <value>
        <elementReference>recordId</elementReference>
      </value>
    </inputAssignments>
    <inputAssignments>
      <name>varSubject</name>
      <value>
        <stringValue>Delvis deaktivering</stringValue>
      </value>
    </inputAssignments>
    <inputAssignments>
      <name>varTypeOfTask</name>
      <value>
        <stringValue>Deaktivering</stringValue>
      </value>
    </inputAssignments>
  </subflows>
  <variables>
    <name>recordId</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>true</isOutput>
  </variables>
  <variables>
    <name>varAPI</name>
    <dataType>Boolean</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <booleanValue>false</booleanValue>
    </value>
  </variables>
  <variables>
    <name>varDescription</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <stringValue>En delvis deaktivering</stringValue>
    </value>
  </variables>
  <variables>
    <name>varSetSubject</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <stringValue>Agreement deactivated</stringValue>
    </value>
  </variables>
  <variables>
    <name>varType</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <stringValue>Agreement deactivated</stringValue>
    </value>
  </variables>
</Flow>