force-app/main/default/flows/AAREG_Decision_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_legal_and_basis</name>
        <label>Add legal and basis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_ProcessingBasis</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_details_legal_and_basis.Legal_Basis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ProcessingBasis</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_details_legal_and_basis.Purpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ProcessingBasis</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_details_legal_and_basis.Processing_Basis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ProcessingBasis</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;BR&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_details_legal_and_basis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_values_to_application</name>
        <label>Add values to application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getApplicationRecords.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_DecisionStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getApplicationRecords.Casehandler_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getApplicationRecords.DecisionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDecisionRecord.Decision_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createAgreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addValuesToAgreement</name>
        <label>Add values to agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_Agreement.account__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.Status__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.DataProcessorName__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.DataProcessorName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.DataProcessorOrganizationNumber__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.DataProcessorOrganizationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.OrganizationNumber__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.OrganizationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.Application__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.APIAccess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_APIAccess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.ExtractionAccess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ExtractionAccess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.OnlineAccess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WebAccess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.ApplicationBasisFields__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_ProcessingBasis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Agreement.accountCategory__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getApplicationRecords.OrganizationStructure__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_values_to_application</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Check status for decision. If decision is Avslått it should not create an agreement, but close the decision and archive in public 360 when its in place</description>
        <name>checkStatus</name>
        <label>Check status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isDecisionFinished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNotAvslaat</defaultConnectorLabel>
        <rules>
            <name>isAvslaat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDecisionRecord.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_StatusAvslaat</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_finished1</targetReference>
            </connector>
            <label>isAvslaat</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>var_APIAccess</name>
        <dataType>Boolean</dataType>
        <expression>IF({!getDecisionRecord.Api_access_count__c}&gt;0,true,false)</expression>
    </formulas>
    <formulas>
        <name>var_DecisionStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!getDecisionRecord.Status__c},
&apos;Innvilget&apos;,&apos;Approved&apos;,
&apos;Delvis innvilget&apos;, &apos;Approved Partially&apos;,
&apos;Completed&apos;
)</expression>
    </formulas>
    <formulas>
        <name>var_ExtractionAccess</name>
        <dataType>Boolean</dataType>
        <expression>IF({!getDecisionRecord.Extract_access_count__c}&gt;0,true,false)</expression>
    </formulas>
    <formulas>
        <name>var_WebAccess</name>
        <dataType>Boolean</dataType>
        <expression>IF({!getDecisionRecord.Web_access_count__c}&gt;0,true,false)</expression>
    </formulas>
    <interviewLabel>AAREG Decision Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG Decision completed</label>
    <loops>
        <name>Check_details_legal_and_basis</name>
        <label>Check details legal and basis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_decision_details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_legal_and_basis</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>addValuesToAgreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAgreement</name>
        <label>Create agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_related_contacts</targetReference>
        </connector>
        <inputReference>rec_Agreement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_decision_details</name>
        <label>Get decision details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AAREG_CheckList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Decision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application_Decision_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getApplicationRecords</name>
        <label>Get application record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_details_legal_and_basis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDecisionRecord.Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDecisionRecord</name>
        <label>Get decision record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_decision_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application_Decision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_application</name>
        <label>Update application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_other_decision_on_applications</targetReference>
        </connector>
        <inputReference>getApplicationRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_decision</name>
        <label>Update decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_decision_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>rec_Agreement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Decision__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_decision_details</name>
        <label>Update decision details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Decision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>rec_Agreement.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Decision_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_other_decision_on_applications</name>
        <label>update other decision on applications</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getApplicationRecords.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Process_status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Decision__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_contacts</name>
        <label>Update related contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getApplicationRecords.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>rec_Agreement.Id</elementReference>
            </value>
        </inputAssignments>
        <object>RelatedContact__c</object>
    </recordUpdates>
    <screens>
        <name>AAREG_CheckList</name>
        <label>CheckList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkStatus</targetReference>
        </connector>
        <fields>
            <name>checkList</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Sjekkliste&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>checkDecisionDate</name>
            <fieldText>&lt;p&gt;Vedtaksdato er ikke satt&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>getDecisionRecord.Decision_date__c</leftValueReference>
                    <operator>IsNull</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>checkDecisionText</name>
            <fieldText>&lt;p&gt;Begrunnelse for vedtaket er tomt.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getDecisionRecord.Decision_description__c</leftValueReference>
                    <operator>IsNull</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AAREG_decisionText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Viser oversikt over behandlinggrunnlaget.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>checkDecisionDetails</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Application_Decision_Details__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Behandlingsgrunnlag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_decision_details</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Application_Decision_Details__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_decision_details&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Approved__c&quot;,&quot;guid&quot;:&quot;column-c361&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Innvilget&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Approved&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;Legal_Basis__c&quot;,&quot;guid&quot;:&quot;column-b2dc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Hjemmel&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Legal Basis&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Purpose__c&quot;,&quot;guid&quot;:&quot;column-91cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Formål&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Purpose&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Processing_Basis__c&quot;,&quot;guid&quot;:&quot;column-0d5e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Grunnlag&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Processing Basis&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Application_Decision_Details__c&quot;,&quot;fieldReferences&quot;:[&quot;Approved__c&quot;,&quot;Legal_Basis__c&quot;,&quot;Purpose__c&quot;,&quot;Processing_Basis__c&quot;],&quot;elementReference&quot;:&quot;Get_decision_details&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>decision_finished1</name>
        <label>decision finished</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_other_decision_on_applications</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_isFinishedText</name>
            <fieldText>&lt;p&gt;You are about to finish the decision&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>isDecisionFinished</name>
        <label>decision finished</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getApplicationRecords</targetReference>
        </connector>
        <fields>
            <name>isFinishedText</name>
            <fieldText>&lt;p&gt;You are about to finish the decision and create an agreement&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getDecisionRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rec_Agreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agreement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ProcessingBasis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_StatusAvslaat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Avslag</stringValue>
        </value>
    </variables>
</Flow>
