force-app/main/default/flows/AAREG_supportSendSMSOnTypeSecurity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>setPhoneNumber</name>
        <label>setPhoneNumber</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughListOfPerson.Mobile_phone_number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkRecipient_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkRecipient_0</name>
        <label>checkRecipient</label>
        <locationX>396</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>loopThroughListOfPerson</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNull</defaultConnectorLabel>
        <rules>
            <name>isPhoneNumber_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPhoneNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createSupportSMSRecord</targetReference>
            </connector>
            <label>isPhoneNumber</label>
        </rules>
    </decisions>
    <description>When a inquiry regarding security is coming in an sms is sendt out</description>
    <formulas>
        <name>varTaskMessage</name>
        <dataType>String</dataType>
        <expression>&apos;SMS sendt til: &apos;+{!varPhoneNumber}</expression>
    </formulas>
    <interviewLabel>AAREG_supportSendSMSOnTypeSecurity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_supportSendSMSOnTypeSecurity</label>
    <loops>
        <name>loopThroughListOfPerson</name>
        <label>loopThroughListOfPerson</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>getPersonList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setPhoneNumber</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPersonList</name>
        <label>getPersonList</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughListOfPerson</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AAREG_smsSecurityBreach__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPersonList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TypeOfInquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sikkerhetsbrudd</stringValue>
            </value>
        </filters>
        <object>Inquiry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>createSupportSMSRecord</name>
        <label>createSupportSMSRecord</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>createTaskSMS</targetReference>
        </connector>
        <flowName>AAREG_subflowCreateSMS</flowName>
        <inputAssignments>
            <name>varDomain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMessage</name>
            <value>
                <elementReference>smsMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecipient</name>
            <value>
                <elementReference>loopThroughListOfPerson.Mobile_phone_number__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>createTaskSMS</name>
        <label>createTaskSMS</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>loopThroughListOfPerson</targetReference>
        </connector>
        <flowName>AAREG_subflowCreateTask</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>varTaskMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedToId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>varTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeOfTask</name>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>smsMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sikkerhetsbrudd - en henvendelse har kommet inn til brukerstøtte</stringValue>
        </value>
    </variables>
    <variables>
        <name>SMSPersonlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AAREG_smsSecurityBreach__mdt</objectType>
    </variables>
    <variables>
        <name>varPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sikkerhetsbrudd - SMS</stringValue>
        </value>
    </variables>
</Flow>
