force-app/main/default/flows/AAREG_addReasonForSuspension.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Status cannot be New and the case have to have a caseowner due to archive</description>
        <name>checkStatusAndOwner</name>
        <label>checkStatusAndOwner</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNot</defaultConnectorLabel>
        <rules>
            <name>IsOwnerAndStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOwnerAndStatus.Casehandler_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOwnerAndStatus.CasehandlerOwner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reasonForSuspension</targetReference>
            </connector>
            <label>IsOwnerAndStatus</label>
        </rules>
    </decisions>
    <description>Saksbehandling - when casehandler suspend an application, a reason must be given. Adds the reason and create a task</description>
    <interviewLabel>AAREG_addReasonForSuspension {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_addReasonForSuspension</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createTask</name>
        <label>createTask</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>suspensionText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Søknaden er henlagt av saksbehandler</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Søknad henlagt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getOwnerAndStatus</name>
        <label>getOwnerAndStatus</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkStatusAndOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Casehandler_Status__c</queriedFields>
        <queriedFields>CasehandlerOwner__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordtTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateReason</name>
        <label>updateReason</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>updateThreadCrmIsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Casehandler_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DecisionDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Suspension</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reasonForSuspension__c</field>
            <value>
                <elementReference>suspensionText</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateThreadCrmIsActive</name>
        <label>updateThreadCrmIsActive</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>getRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Related_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_isActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Thread__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>setOwnerAndStatus</name>
            <fieldText>&lt;p&gt;You have to set caseowner and status in progress before you suspend application&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>reasonForSuspension</name>
        <label>Add reason for suspension</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateReason</targetReference>
        </connector>
        <fields>
            <name>suspensionText</name>
            <dataType>String</dataType>
            <fieldText>Reason for suspension</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the reason for closing the application.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOwnerAndStatus</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>reasonForSuspensionText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordtTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
