force-app/main/default/flows/AAREG_SupportThreadUpdateAccountId.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>checkIfAccountId</name>
        <label>checkIfAccountId</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>isNotAccountId</defaultConnectorLabel>
        <rules>
            <name>isAccountId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateThread</targetReference>
            </connector>
            <label>isAccountId</label>
        </rules>
    </decisions>
    <description>When thread is created and type = inquiry__c, get account id based on organization number and update thread</description>
    <formulas>
        <name>varThreadName</name>
        <dataType>String</dataType>
        <expression>&quot;Henvendelse med saksnummer:  &quot;&amp;{!$Record.CRM_HenvendelseId__c}</expression>
    </formulas>
    <interviewLabel>AAREG_SupportThreadUpdateAccountId {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_SupportThreadUpdateAccountId</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountId</name>
        <label>getAccountId</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfAccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INT_OrganizationNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrganizationNumber</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getInquiry</name>
        <label>getInquiry</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Related_Object__c</elementReference>
            </value>
        </filters>
        <object>Inquiry__c</object>
        <outputAssignments>
            <assignToReference>varOrganizationNumber</assignToReference>
            <field>CreatedByOrganizationNumber__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateThread</name>
        <label>updateThread</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>CRM_Account__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varThreadName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getInquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Related_Object_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inquiry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Thread__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrganizationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
