force-app/main/default/flows/AAREG_populateDecisionText.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>addCodeBasisCounty</name>
        <label>addCodeBasisCounty</label>
        <locationX>774</locationX>
        <locationY>591</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisCounty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeCounty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCodeBasisEL</name>
        <label>addCodeBasisEL</label>
        <locationX>1107</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisElectricitySupervision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeElectricitySupervision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCodeBasisMunicipality</name>
        <label>addCodeBasisMunicipality</label>
        <locationX>1042</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisMunicipality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeMunicipality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addLegalBasisOther</name>
        <label>addLegalBasisOther</label>
        <locationX>1183</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherLegalBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherPurpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsCodeBasisOther</name>
        <label>IsCodeBasisOther</label>
        <locationX>1336</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherLegalBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.OtherPurpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsCodeBasisPension</name>
        <label>IsCodeBasisPension</label>
        <locationX>1322</locationX>
        <locationY>89</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisPension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposePension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsCodeBasisState</name>
        <label>IsCodeBasisState</label>
        <locationX>1436</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.LegalBasisState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.PurposeState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughCollection.ProcessingBasis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legalBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>purposeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processingBasisList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Used for adding newLine</description>
        <name>conGES</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <decisions>
        <name>applicationDecisionStatus</name>
        <label>applicationDecisionStatus</label>
        <locationX>143</locationX>
        <locationY>388</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsApprovedParially</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved Partially</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AA_CasehandlerDecisionTemplate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatePartiallyText</targetReference>
            </connector>
            <label>IsApprovedParially</label>
        </rules>
        <rules>
            <name>IsApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AA_CasehandlerDecisionTemplate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateApprovedText</targetReference>
            </connector>
            <label>IsApproved</label>
        </rules>
        <rules>
            <name>isDeclined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AA_CasehandlerDecisionTemplate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateDeclinedText</targetReference>
            </connector>
            <label>isDeclined</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkOrganizationType</name>
        <label>checkOrganizationType</label>
        <locationX>1178</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCounty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>County</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisCounty__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCodeBasisCounty</targetReference>
            </connector>
            <label>IsCounty</label>
        </rules>
        <rules>
            <name>IsEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Electricity Supervision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisElectricitySupervision__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCodeBasisEL</targetReference>
            </connector>
            <label>IsEL</label>
        </rules>
        <rules>
            <name>IsMunicipality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Municipality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisMunicipality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCodeBasisMunicipality</targetReference>
            </connector>
            <label>IsMunicipality</label>
        </rules>
        <rules>
            <name>IsPension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisPension__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCodeBasisPension</targetReference>
            </connector>
            <label>IsPension</label>
        </rules>
        <rules>
            <name>IsState</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisState__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCodeBasisState</targetReference>
            </connector>
            <label>IsState</label>
        </rules>
        <rules>
            <name>IsOther</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.OrganizationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCodeBasisOther</targetReference>
            </connector>
            <label>IsOther</label>
        </rules>
        <rules>
            <name>IsLegalBasisOther</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisCounty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisElectricitySupervision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisMunicipality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisPension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCollection.LegalBasisState__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annet - oppgi i tekstfelt under</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addLegalBasisOther</targetReference>
            </connector>
            <label>IsLegalBasisOther</label>
        </rules>
    </decisions>
    <interviewLabel>AAREG_populateDecisionText {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_populateDecisionText</label>
    <loops>
        <name>loopThroughCollection</name>
        <label>loopThroughCollection</label>
        <locationX>600</locationX>
        <locationY>354</locationY>
        <collectionReference>getCodeBasisCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkOrganizationType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>applicationDecisionStatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCodeBasisCollection</name>
        <label>getCodeBasisCollection</label>
        <locationX>658</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApplicationBasisCode__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrganizationType__c</queriedFields>
        <queriedFields>ProcessingBasis__c</queriedFields>
        <queriedFields>LegalBasisCounty__c</queriedFields>
        <queriedFields>PurposeCounty__c</queriedFields>
        <queriedFields>LegalBasisElectricitySupervision__c</queriedFields>
        <queriedFields>PurposeElectricitySupervision__c</queriedFields>
        <queriedFields>LegalBasisMunicipality__c</queriedFields>
        <queriedFields>PurposeMunicipality__c</queriedFields>
        <queriedFields>LegalBasisPension__c</queriedFields>
        <queriedFields>PurposePension__c</queriedFields>
        <queriedFields>LegalBasisState__c</queriedFields>
        <queriedFields>PurposeState__c</queriedFields>
        <queriedFields>OtherLegalBasis__c</queriedFields>
        <queriedFields>OtherPurpose__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateApprovedText</name>
        <label>updateApprovedText</label>
        <locationX>255</locationX>
        <locationY>604</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_CasehandlerDecisionTemplate__c</field>
            <value>
                <elementReference>approvedDecisionText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateDeclinedText</name>
        <label>updateDeclinedText</label>
        <locationX>475</locationX>
        <locationY>601</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_CasehandlerDecisionTemplate__c</field>
            <value>
                <elementReference>declinedDecisionText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePartiallyText</name>
        <label>updatePartiallyText</label>
        <locationX>60</locationX>
        <locationY>657</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_CasehandlerDecisionTemplate__c</field>
            <value>
                <elementReference>partiallyApprovedDecisionText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>52</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getCodeBasisCollection</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved Partially</stringValue>
            </value>
        </filters>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>approvedDecisionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 16px;&quot;&gt;Vedtak om innvilget tilgang til Aa-registeret&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Vi viser til deres søknad om tilgang til Arbeidsgiver- og arbeidstakerregisteret&amp;nbsp;(Aa-registeret) mottatt {!$Record.ApplicationSubmittedDate__c}. Søknaden er innvilget.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Søknad &lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Av deres søknad fremkommer det at formålet med&amp;nbsp;tilgangen&amp;nbsp;er:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-family: serif;&quot;&gt;{!purposeList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Behandlingsgrunnlaget:&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;{!processingBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Hjemmel for utlevering:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-family: serif;&quot;&gt;{!legalBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Type tilgang:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;{!$Record.AA_AccessText__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Vedtak&amp;nbsp;om tilgang&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;color: rgb(209, 52, 56); font-family: serif; font-size: 12px;&quot;&gt;Vi har innvilget søknaden deres om tilgang til Aa-registeret for&amp;nbsp;[oppgi for hvilket formål]&lt;/u&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Dere innvilges tilgang av typen&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.AA_AccessText__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Spørsmål av teknisk art rettes til&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;xxxxxx&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Ansvar og vilkår ved bruk av opplysningene &lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Vi viser til de aksepterte bruksvilkårene, jf.&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;xxxxxx&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Veiledning og klage &lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Dersom dere har spørsmål om vedtaket, kan dere ta&amp;nbsp;kontakt med oss for nærmere opplysninger.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Dette vedtaket kan påklages til NAV Klageinstans etter reglene i forvaltningsloven kapitel VI. Klagen skal grunngis og fremsettes oss innen 3 uker fra dere mottok vedtaket.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>containerApplication</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 16px;&quot;&gt;{!$Record.Account__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 16px;&quot;&gt;{!$Record.Account__r.BillingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 16px;&quot;&gt;{!$Record.Account__r.BillingPostalCode} {!$Record.Account__r.BillingCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: serif; font-size: 12px;&quot;&gt;Organisasjonsnummer: {!$Record.Account__r.INT_OrganizationNumber__c}&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;                                                                      &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;                                                                                                                                                                          &lt;/span&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;Vår ref:&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!$Record.Name}&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Søknads  dato:&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt; {!$Record.ApplicationSubmittedDate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 16px;&quot;&gt;Søknad om tilgang til arbeidsgiver- og arbeidstaker registeret&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Om søker:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;Virksomhetsnavn: {!$Record.Account__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;Organisasjonsnummer: {!$Record.Account__r.INT_OrganizationNumber__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;Sektor: {!$Record.Account__r.INT_SectorCode__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;Næringskode: {!$Record.Account__r.INT_Industry__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;Organisasjonsform: {!$Record.Account__r.INT_OrganizationalStructureDesc__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Kontaktperson som søker:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;Navn: {!$Record.Contact__r.FirstName} {!$Record.Contact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(62, 62, 60);&quot;&gt;E-post: {!$Record.Contact__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Type tilgang det søkes om:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; color: rgb(62, 62, 60);&quot;&gt;{!$Record.AA_AccessText__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Grunnlag det søkes på:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Hjemmel:&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt; {!legalBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Formål:&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt; {!purposeList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Behandlingsgrunnlag:&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt; {!processingBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Kontaktperson som er lagt til:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Databehandler:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; color: rgb(62, 62, 60);&quot;&gt;{!$Record.DataProcessorOrganizationNumber__c}&amp;nbsp;{!$Record__Prior.DataProcessorName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Søker har godkjent bruksvilkårene. Dette er obligatorisk for å kunne sende inn søknaden.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;Dette dokumentet er elektronisk generert for oversendelse til arkivet og skal ikke signeres.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>declinedDecisionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: serif;&quot;&gt;Avslag på søknad om tilgang til Aa-registeret&lt;/b&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Vi viser til deres søknad om tilgang til Arbeidsgiver- og arbeidstakerregisteret (Aa-registeret) mottatt {!$Record.ApplicationSubmittedDate__c}. Søknaden er avslått fordi vi ikke finner at vilkårene for tilgang til Aa-registeret er oppfylt i deres tilfelle.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Søknad&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Av deres søknad fremkommer det at formålet med tilgangen er:&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;{!purposeList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Behandlingsgrunnlaget er:&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;{!processingBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Hjemmel for utlevering:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;{!legalBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Type tilgang er:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;{!$Record.AA_AccessText__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Begrunnelse for&amp;nbsp;avslaget&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 12px; font-family: serif; color: rgb(209, 52, 56);&quot;&gt;Vi&amp;nbsp;har avslått søknaden deres om tilgang til Aa-registeret fordi [fritekstfelt] &lt;/u&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Veiledning og klage&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Dersom dere har spørsmål om vedtaket, kan dere ta kontakt med oss for nærmere opplysninger.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Dette vedtaket kan påklages til NAV Klageinstans etter reglene i forvaltningsloven kapittel VI. En grunngitt klage må være skriftlig framsatt overfor NAV Registerforvaltning innen 3 uker fra dette vedtaket ble mottatt.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>newLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!conGES}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>partiallyApprovedDecisionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: serif;&quot;&gt;Vedtak om tilgang til Aa-registeret&amp;nbsp;-&amp;nbsp;delvis&amp;nbsp;innvilget&lt;/b&gt;&lt;span style=&quot;font-size: 16px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt; Vi viser til deres søknad om tilgang til Arbeidsgiver- og arbeidstakerregisteret (Aa-registeret) mott&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(0, 0, 0);&quot;&gt;att {!$Record.ApplicationSubmittedDate__c}.&amp;nbsp;Søkn&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;aden er delvis innvilget.&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(255, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, &amp;quot;Times New Roman_EmbeddedFont&amp;quot;, &amp;quot;Times New Roman_MSFontService&amp;quot;, serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Søknad&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Av deres søknad fremkommer det at formålet med tilgangen er:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;{!purposeList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Behandlingsgrunnlaget:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;{!processingBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Hjemmel for utlevering:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;{!legalBasisList}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Type tilgang:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12px;&quot;&gt;{!$Record.AA_AccessText__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt; &lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Vedtak&amp;nbsp;om&amp;nbsp;tilgang &lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 12px; font-family: serif; color: rgb(209, 52, 56);&quot;&gt;Vi har innvilget søknaden deres&amp;nbsp;om&amp;nbsp;tilgang til Aa-registeret for&amp;nbsp;[oppgi&amp;nbsp;for&amp;nbsp;hvilket formål]&lt;/u&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 12px; font-family: serif; color: rgb(209, 52, 56);&quot;&gt;Vi har avslått søknaden deres om tilgang til Aa-registeret fordi [fritekstfelt] &lt;/u&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Dere&amp;nbsp;innvilges tilgang av typen &lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(255, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.AA_AccessText__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Spørsmål av teknisk art rettes&amp;nbsp;til &lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(255, 0, 0);&quot;&gt;xxxxxx&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Ansvar og vilkår ved bruk av opplysningene &lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Vi viser til de aksepterte bruksvilkårene, jf. &lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif; color: rgb(255, 0, 0);&quot;&gt;xxxxxx&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Veiledning og klage &lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Dersom dere har spørsmål om vedtaket, kan dere ta kontakt med oss for nærmere&amp;nbsp;opplysninger.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: serif;&quot;&gt;Dette vedtaket kan påklages til NAV Klageinstans etter reglene i forvaltningsloven kapittel VI. Klagen skal grunngis og fremsettes oss innen 3 uker fra dere mottok vedtaket.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>legalBasisList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>processingBasisList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>purposeList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
