force-app/main/default/flows/AAREG_updateDecisionText.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Depending on Casehandler status</description>
        <name>ApplicationDecisionStatus</name>
        <label>ApplicationDecisionStatus</label>
        <locationX>168</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ApprovedPartiallyStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved Partially</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AA_CasehandlerDecisionTemplate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePartiallyText</targetReference>
            </connector>
            <label>ApprovedPartiallyStatus</label>
        </rules>
        <rules>
            <name>ApprovedStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateApprovedText</targetReference>
            </connector>
            <label>ApprovedStatus</label>
        </rules>
        <rules>
            <name>DeclinedStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDeclinedText</targetReference>
            </connector>
            <label>DeclinedStatus</label>
        </rules>
    </decisions>
    <description>Used to update decisiontext with text template</description>
    <interviewLabel>AAREG_updateDecisionText {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_updateDecisionText</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateApprovedText</name>
        <label>UpdateApprovedText</label>
        <locationX>689</locationX>
        <locationY>692</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_CasehandlerDecisionTemplate__c</field>
            <value>
                <elementReference>ApprovedDecisionText</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDeclinedText</name>
        <label>UpdateDeclinedText</label>
        <locationX>1139</locationX>
        <locationY>649</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_CasehandlerDecisionTemplate__c</field>
            <value>
                <elementReference>DeclinedDecisionText</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePartiallyText</name>
        <label>UpdatePartiallyText</label>
        <locationX>341</locationX>
        <locationY>684</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved Partially</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_CasehandlerDecisionTemplate__c</field>
            <value>
                <elementReference>PartiallyApprovedDecisionText</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ApplicationDecisionStatus</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved Partially</stringValue>
            </value>
        </filters>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ApprovedDecisionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12pt;&quot;&gt;Vedtak om innvilget tilgang til Aa-registeret&amp;nbsp;- generell:&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Vi viser til deres søknad om tilgang til Aa-registeret mottatt &lt;/span&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;{!$Record.ApplicationSubmittedDate__c}&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;.  &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;SØKNAD &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Av deres søknad fremkommer det at &lt;/span&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;{!$Record.Account__r.INT_OrganizationNumber__c} {!$Record.Account__r.Name}&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt; ønsker tilgang til opplysninger i Aa-registeret. Formålet med behandlingen er:  &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt; &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 11pt;&quot;&gt;[Flette inn formålet, for eksempel “Arbeid i forbindelse med salg- og skjenkebevilling”.] &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: windowtext;&quot;&gt;Behandlingsgrunnlaget er:&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;[flette inn behandlingsgrunnlaget ut fra søknad].&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;VEDTAK &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;På bakgrunn av deres søknad, og med hjemmel i &lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;[flette inn utleveringshjemmel]&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;, gir vi dere tilgang til opplysninger i Aa-registeret. Vi konkluderer med at deres behov for tilgang til vårt register jf. over, er knyttet opp til deres oppgaveløsning&amp;nbsp;som offentlig myndighet&amp;nbsp;i henhold til&amp;nbsp;forskriftens § 3 nr.&amp;nbsp;6&amp;nbsp;. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Dere innvilges tilgang av typen&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt; [flette inn type tilgang ut fra søknad]&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 9pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Spørsmål av teknisk art rettes til&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;xxxxxx&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;ANSVAR OG VILKÅR VED BRUK AV OPPLYSNINGENE &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Vi viser til&amp;nbsp;de aksepterte bruksvilkårene, jf.&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;xxxxxx&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;VEILEDNING OG KLAGE &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Dersom dere har spørsmål om vedtaket, kan dere ta kontakt med oss for nærmere opplysninger. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt; &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Dette vedtaket kan påklages til NAV Klageinstans etter reglene i forvaltningsloven kapitel VI. Klagen skal grunngis og fremsettes oss innen 3 uker fra dere mottok vedtaket. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DeclinedDecisionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 12pt;&quot;&gt;Avslag på søknad om tilgang til Aa-registeret&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Vi viser til deres søknad om tilgang til Arbeidsgiver- og arbeidstakerregisteret (Aa-registeret) mottatt &lt;/span&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;{!$Record.ApplicationSubmittedDate__c}. &lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Søknaden er avslått fordi vi ikke finner at vilkårene for tilgang til Aa-registeret er oppfylt i deres tilfelle. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Begrunnelse for avslaget &lt;/b&gt;&lt;b style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;[må tilpasses hvert enkelt tilfelle]&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;  &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Dere opplyser i søknaden at dere ønsker tilgang til Aa-registeret for bruk i&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;personaladministrative driftsoppgaver og HR&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;.&amp;nbsp;Etter &lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;Aa-registerforskriften §&amp;nbsp;10 bokstav e, jf.&amp;nbsp;§&amp;nbsp;3 nr. 6&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;er det et vilkår for tilgang at utleveringen er nødvendig for å kunne løse offentlige oppgaver.  &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;  &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Vi kan ikke se at dere fyller vilkårene for å få tilgang til Aa-registeret &lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;da deres behov er knyttet opp mot lønn- og personaloppgaver. Dette er ikke en offentlig oppgave, men ivaretakelse av deres ansvar i rollen som arbeidsgiver. &lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Vi kan således ikke dispensere fra vår taushetsplikt i NAV-loven § 7. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Veiledning og klage&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt; &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Dersom dere har spørsmål om vedtaket, kan dere ta kontakt med oss for nærmere opplysninger. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Dette vedtaket kan påklages til NAV Klageinstans etter reglene i forvaltningsloven kapittel VI. En grunngitt klage må være skriftlig framsatt overfor NAV Registerforvaltning innen 3 uker fra dette vedtaket ble mottatt. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PartiallyApprovedDecisionText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Mal på vedtak – delvis innvilgelse&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;(aktuelt der det søkes om flere formål)&amp;nbsp;&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;VEDTAK – DELVIS INNVILGELSE&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Vi viser til deres søknad om tilgang til Aa-registeret&amp;nbsp;m&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt;ottatt&amp;nbsp;{!$Record.ApplicationSubmittedDate__c}.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;SØKNAD&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Av deres søknad fremkommer det at&amp;nbsp;{!$Record.Account__r.INT_OrganizationNumber__c} {!$Record.Account__r.Name} ønsker tilgang til opplysninger i Aa-registeret. Formålet med behandlingen er:&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 11pt;&quot;&gt;[Flette inn formål ut fra søknad, for eksempel:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;Beregne ansiennitet&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;Kontrollere riktig rapportering av egne ansatte til Aa-registeret via a-ordningen&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 11pt;&quot;&gt;·Arbeid knyttet&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;til særnamsfunksjonen].&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Behandlingsgrunnlaget er&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;[flette inn fra søknad, her kan det være flere behandlingsgrunnlag ut fra formål]&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;AVSLAG PÅ TILGANG&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;[ut fra&amp;nbsp;det&amp;nbsp;oppgitte&amp;nbsp;formål som faller utenfor forskriften, eks.:&amp;nbsp;knyttet til beregning av ansiennitet og kontroll av egen rapportering]&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Opplysningene i Aa-registeret er underlagt taushetsplikt etter NAV-loven § 7. Vi kan imidlertid dispensere fra vår taushetsplikt dersom søker har behov for opplysninger i registeret knyttet opp til deres oppgaveløsning som offentlig myndighet etter&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Aa-registerforskriften § 3 nr. 6, jf. § 10 bokstav e. Behovene som dere har oppgitt knyttet til å&amp;nbsp;[&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;beregne ansiennitet og kontroll av egen rapportering til Aa-registeret via a-ordningen]&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;er ikke behov knyttet opp til deres rolle som offentlig myndighet, men&amp;nbsp;i&amp;nbsp;deres&amp;nbsp;rolle&amp;nbsp;som arbeidsgiver. Vi kan følgelig ikke dispensere fra vår taushetsplikt&amp;nbsp;og avslår tilgang til Aa-registeret.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: serif; font-size: 11pt;&quot;&gt;[bør ha med henvisning til innsynstjenesten der det søkes om tilgang for&amp;nbsp;å kontrollere egen rapportering, eks.: «Vi gjør oppmerksom på at det er mulig å kontrollere hva dere har rapportert til&amp;nbsp;Aa-registeret&amp;nbsp;via a-ordningen&amp;nbsp;i en egen innsynstjeneste på www.nav.no, se «Min side – arbeidsgiver»].&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;INNVILGELSE AV TILGANG&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;[ut fra det oppgitte formål som&amp;nbsp;faller innenfor forskriften, eks.: knyttet til særnamsfunksjonen]&lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;På bakgrunn av deres søknad, og med hjemmel i&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;[må tilpasses ut fra&amp;nbsp;riktig hjemmel eks.&amp;nbsp;forskrift om Aa-registeret § 9 bokstav f]&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;, gir vi dere tilgang til opplysninger i Aa-registeret i forhold til formålet som gjelder arbeid knyttet&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;[må tilpasses ut fra innvilget formål, eks.&amp;nbsp;til særnamsfunksjonen]&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Til dette formålet innvilges tilgang av typen&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;[tekst flettes inn ut fra søknad eks.&amp;nbsp;online-oppslag].&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt; &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Spørsmål av teknisk art rettes til &lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;xxxxxx &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;ANSVAR OG VILKÅR VED BRUK AV OPPLYSNINGENE  &lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Vi viser til de aksepterte bruksvilkårene, jf. &lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt; color: rgb(255, 0, 0);&quot;&gt;xxxxxx&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;. &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;VEILEDNING OG KLAGE  &lt;/b&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Dersom dere har spørsmål om vedtaket, kan dere&amp;nbsp;ta kontakt med oss&amp;nbsp;for nærmere opplysninger.  &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;  &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;Dette vedtaket kan påklages til NAV Klageinstans etter reglene i forvaltningsloven kapitel VI. Klagen skal grunngis og fremsettes oss innen 3 uker fra dere mottok vedtaket.  &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
