force-app/main/default/flows/AAREG_createSupportContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>setInternallyFlag_0</name>
        <label>setInternallyFlag</label>
        <locationX>1018</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>varInternallyFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createTaskSupport_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInternallyFlagFalse</name>
        <label>setInternallyFlagFalse</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>varInternallyFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createTaskSupport</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInternallyFlagTrue</name>
        <label>setInternallyFlagTrue</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>varInternallyFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createTaskSupport</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setLastNameBasedOnEmail</name>
        <label>setLastNameBasedOnEmail</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varSetLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createContact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setLastNameBasedOnEmail_0</name>
        <label>setLastNameBasedOnEmail</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varSetLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Kontakt uten epost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createContact_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkEmail</name>
        <label>checkEmail</label>
        <locationX>446</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>setLastNameBasedOnEmail_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNotEmail</defaultConnectorLabel>
        <rules>
            <name>isEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInquiry.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setLastNameBasedOnEmail</targetReference>
            </connector>
            <label>isEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfContactIsNull</name>
        <label>checkIfContactIsNull</label>
        <locationX>666</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>updateInquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>exit</defaultConnectorLabel>
        <rules>
            <name>contactNotExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getUser.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createContact</targetReference>
            </connector>
            <label>contactNotExists</label>
        </rules>
        <rules>
            <name>contactNotExistsInternally</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getUser.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkEmail</targetReference>
            </connector>
            <label>contactNotExistsInternally</label>
        </rules>
        <rules>
            <name>contactExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getUser.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateInquiry</targetReference>
            </connector>
            <label>contactExists</label>
        </rules>
        <rules>
            <name>contactExistsInternally</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getUser.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setInternallyFlag_0</targetReference>
            </connector>
            <label>contactExistsInternally</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSubject</name>
        <label>checkSubject</label>
        <locationX>446</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>setInternallyFlagTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAutomaticallySet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInquiry.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opprettelse av tilgang(er) til API</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setInternallyFlagFalse</targetReference>
            </connector>
            <label>isAutomaticallySet</label>
        </rules>
    </decisions>
    <description>Check contactperson and add account/contact to inquiry</description>
    <environments>Default</environments>
    <formulas>
        <name>varContactName</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!getInquiry.Email__c}, FIND(&quot;@&quot;, {!getInquiry.Email__c})-1))</expression>
    </formulas>
    <interviewLabel>AA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_createSupportContact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createContact</name>
        <label>createContact</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <connector>
            <targetReference>updateInquiry</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>getInquiry.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>getUser.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>getUser.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>AA-register support</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>createContact_0</name>
        <label>createContact</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <connector>
            <targetReference>checkSubject</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>getInquiry.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varSetLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>AA-register support</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>checkContact</name>
        <label>checkContact</label>
        <locationX>666</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfContactIsNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInquiry.Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>666</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INT_OrganizationNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInquiry.CreatedByOrganizationNumber__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getInquiry</name>
        <label>getInquiry</label>
        <locationX>666</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inquiry__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedByOrganizationNumber__c</queriedFields>
        <queriedFields>AccountId__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>InquiryDescription__c</queriedFields>
        <queriedFields>Subject__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>666</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInquiry.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsPortalEnabled</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateInquiry</name>
        <label>updateInquiry</label>
        <locationX>666</locationX>
        <locationY>1943</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isCreatedInternally__c</field>
            <value>
                <elementReference>varInternallyFlag</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getInquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedThroughBatch__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Inquiry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>createTaskSupport</name>
        <label>createTaskSupport</label>
        <locationX>446</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>updateInquiry</targetReference>
        </connector>
        <flowName>AAREG_subflowCreateTask</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>getInquiry.InquiryDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedToId</name>
            <value>
                <elementReference>getInquiry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>varTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeOfTask</name>
            <value>
                <stringValue>Brukerstøtte</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>createTaskSupport_0</name>
        <label>createTaskSupport</label>
        <locationX>1018</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>updateInquiry</targetReference>
        </connector>
        <flowName>AAREG_subflowCreateTask</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>getInquiry.InquiryDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedToId</name>
            <value>
                <elementReference>getInquiry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>varTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeOfTask</name>
            <value>
                <stringValue>Brukerstøtte</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInternallyFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varLastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNavIdent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSetLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Opprettelse av henvendelse fra brukerstøtte</stringValue>
        </value>
    </variables>
</Flow>
