force-app/main/default/flows/AAREG_supportAddInternalComments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addInternalComments</name>
        <label>addInternalComments</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varInternalCommentAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInternalCommentAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDateTimeUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInternalCommentAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInternalCommentAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addInternalComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInternalCommentAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInternalCommentAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>*************************************************************</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInternalCommentAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInternalCommentAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getInquiry.InternalComments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateComment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inquiry_not_found</name>
        <label>Inquiry not found</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inquiry not Found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_creation_failed</name>
        <label>Task creation failed</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>error_message</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Failed while creating related task record</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ref_inquiry_rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInquiry</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Technical_Error</name>
        <label>Technical Error</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Inquiry_failed</name>
        <label>Update Inquiry failed</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>error_message</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Failed while updating comments.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ref_inquiry_rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInquiry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Message</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Used for adding newLine</description>
        <name>conGES</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkComment</name>
        <label>checkComment</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>isEmpty</defaultConnectorLabel>
        <rules>
            <name>notEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addInternalComment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addInternalComments</targetReference>
            </connector>
            <label>notEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inquiry_Found</name>
        <label>Inquiry Found</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Inquiry_not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInquiry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addComment</targetReference>
            </connector>
            <label>Yes Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>failed_for_Record</name>
        <dataType>String</dataType>
        <expression>&quot;Gjelder &quot; &amp; {!recordId}</expression>
    </formulas>
    <formulas>
        <name>varDateTimeUser</name>
        <dataType>String</dataType>
        <expression>&apos;Merknad lagt til &apos;&amp; TEXT({!$Flow.CurrentDate})&amp;&apos; av &apos;&amp;{!$User.FirstName}&amp;&apos; &apos;&amp;{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>varDescription</name>
        <dataType>String</dataType>
        <expression>{!varDateTimeUser}&amp; BR() &amp;
{!addInternalComment}</expression>
    </formulas>
    <interviewLabel>AAREG_supportAddInternalComments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_supportAddInternalComments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createTask</name>
        <label>createTask</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <faultConnector>
            <targetReference>Task_creation_failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Merknad lagt til</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Merknad</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>getInquiry.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getInquiry</name>
        <label>getInquiry</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inquiry_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Technical_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inquiry__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>InternalComments__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordId</name>
        <label>getRecordId</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateComment</name>
        <label>updateComment</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>getRecordId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Inquiry_failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInquiry.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>InternalComments__c</field>
            <value>
                <elementReference>varInternalCommentAdd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Changed</stringValue>
            </value>
        </inputAssignments>
        <object>Inquiry__c</object>
    </recordUpdates>
    <screens>
        <name>addComment</name>
        <label>addComment</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkComment</targetReference>
        </connector>
        <fields>
            <name>addInternalComment</name>
            <fieldText>Add comments - only for internal use</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getInquiry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Message</name>
        <label>Log Message</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <flowName>AAREG_Handle_Error_Messages</flowName>
        <inputAssignments>
            <name>category</name>
            <value>
                <stringValue>AAREG_supportAddInternalComments</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>error_Message</name>
            <value>
                <elementReference>error_message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>failed_On_Object</name>
            <value>
                <stringValue>Inquiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fault_time</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flow_Interview_Guid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>log_Level</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ref_Inqury_record</name>
            <value>
                <elementReference>ref_inquiry_rec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>source_flow</name>
            <value>
                <elementReference>failed_for_Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>newLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!conGES}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>error_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ref_inquiry_rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Inquiry__c</objectType>
    </variables>
    <variables>
        <name>varInternalCommentAdd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
