force-app/main/default/flows/AAREG_changeCasehandler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Application_updation_failed</name>
        <label>Application updation failed</label>
        <locationX>578</locationX>
        <locationY>2630</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>AAREG_changeCasehandler_failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
            <value>
                <elementReference>GetCurrentApplication</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addUserId</name>
        <label>addUserId</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varInText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getUsers.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughMemberIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addUserId_ForvaltningRegisterGroup</name>
        <label>addUserId</label>
        <locationX>270</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>varInText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getUsers_ForvaltningRegisterGroup.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughMemberIds_RegisterForvaltning</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filterGroupMemberIds_caseHandlerGroup</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filterGroupMemberIds</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_filterGroupMemberIds_RegisterForvaltningGroup</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getGroupMemberId</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterGroupMemberIds_RegisterForvaltningGroup.UserOrGroupId</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <stringValue>005</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loopThroughMemberIds</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filterGroupMemberIds_RegisterForvaltningGroup</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filterGroupMemberIds</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <assignNextValueToReference>currentItem_filterGroupMemberIds_RegisterForvaltningGroup</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getGroupMemberId_in_Nav_Register_Forvaltning_Group</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterGroupMemberIds_RegisterForvaltningGroup.UserOrGroupId</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <stringValue>005</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loopThroughMemberIds_RegisterForvaltning</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>checkUserActive</name>
        <label>checkUserActive</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>loopThroughMemberIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>userNotActive</defaultConnectorLabel>
        <rules>
            <name>userActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUsers.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addUserId</targetReference>
            </connector>
            <label>userActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkUserActive2</name>
        <label>checkUserActive2</label>
        <locationX>402</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>loopThroughMemberIds_RegisterForvaltning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>userNotActive</defaultConnectorLabel>
        <rules>
            <name>userActive2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUsers.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addUserId_ForvaltningRegisterGroup</targetReference>
            </connector>
            <label>userActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>isValid</name>
        <label>isValidChoice</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>getUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotValid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varOutText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>-- Velg bruker --</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOutText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOutText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessage</targetReference>
            </connector>
            <label>isNotValid</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CasehandlerStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Casehandler_Status__c</picklistField>
        <picklistObject>Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Application__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>AAREG_changeCasehandler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_changeCasehandler</label>
    <loops>
        <name>loopThroughMemberIds</name>
        <label>loopThroughMemberIds</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>filterGroupMemberIds_caseHandlerGroup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getUsers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getPublicGroupNavRegisterForvaltning</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopThroughMemberIds_RegisterForvaltning</name>
        <label>loopThroughMemberIds</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <collectionReference>filterGroupMemberIds_RegisterForvaltningGroup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getUsers_ForvaltningRegisterGroup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetCurrentApplication</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCurrentApplication</name>
        <label>GetCurrentApplication</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>show_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Casehandler_Status__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>applicationOwner__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getGroupMemberId</name>
        <label>getGroupMemberId</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filterGroupMemberIds_caseHandlerGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPublicGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getGroupMemberId_in_Nav_Register_Forvaltning_Group</name>
        <label>getGroupMemberId in Nav Register Forvaltning Group</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filterGroupMemberIds_RegisterForvaltningGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPublicGroupNavRegister</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch public group id for AAREG_Casehandling</description>
        <name>getPublicGroupId</name>
        <label>getPublicGroupId</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getGroupMemberId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_Casehandling</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varPublicGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPublicGroupNavRegisterForvaltning</name>
        <label>getPublicGroupNavRegisterForvaltning</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getGroupMemberId_in_Nav_Register_Forvaltning_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>group_4534</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varPublicGroupNavRegister</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>314</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateCasehandler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOutText</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUsers</name>
        <label>getUsers</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkUserActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopThroughMemberIds.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUsers_ForvaltningRegisterGroup</name>
        <label>getUsers</label>
        <locationX>402</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkUserActive2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopThroughMemberIds_RegisterForvaltning.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCasehandler</name>
        <label>updateCasehandler</label>
        <locationX>314</locationX>
        <locationY>2414</locationY>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CasehandlerOwner__c</field>
            <value>
                <elementReference>getUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Casehandler_Status__c</field>
            <value>
                <elementReference>Casehandler_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>TEST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>applicationOwner__c</field>
            <value>
                <elementReference>getUser.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>show_list</targetReference>
        </connector>
        <fields>
            <name>displayMessage</name>
            <fieldText>&lt;p&gt;You have not selected a user&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>578</locationX>
        <locationY>2522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Application_updation_failed</targetReference>
        </connector>
        <fields>
            <name>FaultText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Det skjedde en feil. Gi systemadministrator denne feilmeldingen.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>show_list</name>
        <label>show list</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>isValid</targetReference>
        </connector>
        <fields>
            <name>check</name>
            <extensionName>c:checklistPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>valueString</name>
                <value>
                    <elementReference>varInText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sakseier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>GetCurrentApplication.applicationOwner__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueChosen</name>
                <value>
                    <elementReference>varOutText</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varOutText</assignToReference>
                <name>valueChosen</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Casehandler_Status</name>
            <choiceReferences>CasehandlerStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetCurrentApplication.Casehandler_Status__c</elementReference>
            </defaultValue>
            <fieldText>Status på søknad</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ApplicationStatus</name>
            <choiceReferences>Status</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetCurrentApplication.Status__c</elementReference>
            </defaultValue>
            <fieldText>Søkers status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Dette feltet angir status på søknad som vises ut til søker. Denne vil kunne avvike fra &quot;status på søknad&quot; som benyttes internt i saksbehandlingen.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fullfør</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPublicGroupId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_filterGroupMemberIds_RegisterForvaltningGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used as an in varible for picklist values</description>
        <name>varInText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>-- Velg bruker --</stringValue>
        </value>
    </variables>
    <variables>
        <description>Used to hold the saved value</description>
        <name>varOutText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPublicGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPublicGroupNavRegister</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
