force-app/main/default/flows/AAREG_Agreement_create_distribution_access.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createAccessForUser</name>
        <label>createAccessForUser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AAREG_distributionAccessController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_activity_history_web</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>refOrganizationNumber</name>
            <value>
                <elementReference>getAgreement.OrganizationNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refAccessType</name>
            <value>
                <stringValue>AAREG_TILGANG_ONLINE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceId</name>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceType</name>
            <value>
                <stringValue>PUT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AAREG_distributionAccessController</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Inquiry_CRUD_failed</name>
        <label>Log Inquiry CRUD failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Inquiry__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <elementReference>var_FlowNameNoLongerThan32Char</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>ErrorMessage_fault</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Log_Task_CRUD_Failed</name>
        <label>Log Task CRUD Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <elementReference>var_FlowNameNoLongerThan32Char</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>ErrorMessage_fault</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Log_Thread_CRUD_failed</name>
        <label>Log Thread CRUD failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Thread__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <elementReference>var_FlowNameNoLongerThan32Char</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>ErrorMessage_fault</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Activty_history_records_add_api</name>
        <label>Activty history records add</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_TaskRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_TaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Extract_access_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Activty_history_records_add_extract</name>
        <label>Activty history records add</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_TaskRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_TaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activity_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Activty_history_records_add_web</name>
        <label>Activty history records add</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_TaskRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_TaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Api_access_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_activity_history_extract</name>
        <label>Add activity history</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_taskDescriptionExtract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_taskSubjectExtract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tilgang</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.AAREG_AccessRequest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.Access_Request__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activty_history_records_add_extract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_activity_history_web</name>
        <label>Add activity history</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_taskDescriptionWeb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_taskSubjectWeb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tilgang</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.AAREG_AccessRequest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.Access_Request__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activty_history_records_add_web</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_activity_historyAPI</name>
        <label>Add activity history</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tilgang</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_TaskRecord.AAREG_AccessRequest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.Access_Request__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activty_history_records_add_api</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Inquiry_Failed</name>
        <label>Create Inquiry Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage_fault</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Inquiry Record failed for related Agreement.  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage_fault</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>flow_interview_og_log_message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Inquiry_CRUD_failed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Task_DB_Failed</name>
        <label>Create Task Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage_fault</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Task Record failed for related Agreement. </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage_fault</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>flow_interview_og_log_message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Task_CRUD_Failed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Thread_Failed</name>
        <label>Create Thread Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage_fault</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Thread Record failed for related Agreement. </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage_fault</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Thread_CRUD_failed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Api_access_true</name>
        <label>Is Api access true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Extract_access_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isTrueAPI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAgreement.APIAccess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createInquiry</targetReference>
            </connector>
            <label>isTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Extract_access_true</name>
        <label>Is Extract access true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Activity_creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isTrueExtract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAgreement.ExtractionAccess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_activity_history_extract</targetReference>
            </connector>
            <label>isTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_web_access_true</name>
        <label>Is Web access true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Api_access_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notTrue</defaultConnectorLabel>
        <rules>
            <name>isTrueWeb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OnlineAccess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createAccessForUser</targetReference>
            </connector>
            <label>isTrue</label>
        </rules>
    </decisions>
    <description>Oppretter tilganger</description>
    <environments>Default</environments>
    <formulas>
        <name>convertAccessTextForUser</name>
        <dataType>String</dataType>
        <expression>CASE( {!varSingleAccessType}, &quot;Access API&quot;  , &quot;Tilgang til API&quot;, &quot;Access API with dataprocessor&quot; , &quot;Tilgang til API med databehandler&quot; , &quot;Access OTP&quot; , &quot;Tilgang til OTP&quot; , &quot;Access OTP with dataprocessor&quot;  , &quot;Tilgang til OTP med databehandler&quot; , &quot;Access Online&quot; , &quot;Tilgang til Web-oppslag&quot; ,  &quot;Event&quot;, &quot;Tilgang til Hendelser&quot;, &quot;Event with dataprocessor&quot;, &quot;Tilgang til Hendelser med databehandler&quot;, &quot;Extract&quot;, &quot;Tilgang til Uttrekk&quot;, &quot;Ingen tilgang&quot;)</expression>
    </formulas>
    <formulas>
        <name>flow_interview_og_log_message</name>
        <dataType>String</dataType>
        <expression>&quot;Flow Interview Guid &lt;&quot; &amp; {!$Flow.InterviewGuid} &amp; &quot;&gt;og Feil melding : &quot; &amp; {!$Flow.FaultMessage}</expression>
    </formulas>
    <formulas>
        <name>var_FlowNameNoLongerThan32Char</name>
        <dataType>String</dataType>
        <expression>LEFT(&apos;AAREG_createDistributionAccess&apos;, 32)</expression>
    </formulas>
    <formulas>
        <name>var_taskDescriptionExtract</name>
        <dataType>String</dataType>
        <expression>&apos;Bruker - &apos;+{!$User.FirstName}+ &apos; &apos;+{!$User.LastName}+&apos; : AAREG_UTTREKK. &apos;</expression>
    </formulas>
    <formulas>
        <name>var_taskDescriptionWeb</name>
        <dataType>String</dataType>
        <expression>IF({!createAccessForUser.success},&apos;Bruker - &apos;+{!$User.FirstName}+ &apos; &apos;+{!$User.LastName}+&apos; har oversendt tilgangsforespørsel: AAREG_TILGANG_ONLINE.&apos;,
&apos;En feil har skjedd under overføring av data og tilgangsforespørsel knyttet til webløsning. Sjekk med team arbeidsforhold og tilgangstyring. &apos;
)</expression>
    </formulas>
    <formulas>
        <name>var_taskSubjectExtract</name>
        <dataType>String</dataType>
        <expression>&apos;Uttrekk: AAREG_UTTREKK&apos;</expression>
    </formulas>
    <formulas>
        <name>var_taskSubjectWeb</name>
        <dataType>String</dataType>
        <expression>IF({!createAccessForUser.success}, &apos;Tilgangforespørsel sendt: AAREG_TILGANG_ONLINE&apos;, 
&apos;Feil ved opprettelse av tilgang&apos;
)</expression>
    </formulas>
    <formulas>
        <name>varConvertAccessType</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.OnlineAccess__c},&quot;AAREG_TILGANG_ONLINE&quot;,
    IF({!$Record.APIAccess__c},&quot;AAREG_TILGANG_API&quot;,
        IF({!$Record.ExtractionAccess__c},&quot;AAREG_UTTREKK&quot;,
         &quot;No Access&quot;)
    )
)</expression>
    </formulas>
    <formulas>
        <name>varDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Opprettelse av tilgang(er) til API: AAREG_TILGANG_API&quot; &amp; BR()
&amp;&quot;Vedtaksdato: &quot;&amp;TEXT(TODAY())&amp; BR()
&amp;&quot;Virksomhet: &quot;&amp;{!getApplication.Account__r.Name}&amp; BR()
&amp;&quot;Organisasjonsnummer: &quot;&amp;{!getApplication.Account__r.INT_OrganizationNumber__c}</expression>
    </formulas>
    <formulas>
        <name>varInquirySubject</name>
        <dataType>String</dataType>
        <expression>&quot;Opprettelse av tilgang(er) til API&quot;</expression>
    </formulas>
    <formulas>
        <name>varMessageFromNav</name>
        <dataType>String</dataType>
        <expression>&quot;Hei,&quot;&amp;BR()
&amp;&quot;Vedtak om API er innvilget for organisasjonsnummer: &quot;&amp;{!$Record.account__r.INT_OrganizationNumber__c}&amp;&quot;.&quot;&amp;BR()
&amp; {!convertAccessTextForUser} &amp; &quot; vil normalt være tilgjengelig etter 2 virkedager.&quot;&amp;BR()
&amp;&quot;Hilsen NAV&quot;</expression>
    </formulas>
    <formulas>
        <name>varMessageFromNavEvent</name>
        <dataType>String</dataType>
        <expression>&quot;Hei,&quot;&amp;BR()
&amp;&quot;Vedtak om Hendelser er innvilget for organisasjonsnummer: &quot;&amp;{!$Record.account__r.INT_OrganizationNumber__c}&amp;&quot;.&quot;&amp;BR()
&amp; {!convertAccessTextForUser} &amp; &quot; vil normalt være tilgjengelig etter 2 virkedager.&quot;&amp;BR()
&amp;&quot;Hilsen NAV&quot;</expression>
    </formulas>
    <formulas>
        <name>varTaskDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Bruker - &apos;+{!$User.FirstName}+ &apos; &apos;+{!$User.LastName}+&apos; har aktivert tilgangforespørsel: AAREG_TILGANG_API.&apos;</expression>
    </formulas>
    <formulas>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Tilgangsforespørsel: AAREG_TILGANG_API&apos;</expression>
    </formulas>
    <formulas>
        <name>varThreadName</name>
        <dataType>String</dataType>
        <expression>&quot;Avtale: &quot;&amp;{!$Record.Name}&amp;&quot;- opprettelse av tilgang&quot;</expression>
    </formulas>
    <interviewLabel>AAREG Agreement create distribution access {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG Agreement create distribution access</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Activity_creation</name>
        <label>Activity creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Create_Task_DB_Failed</targetReference>
        </faultConnector>
        <inputReference>rec_TaskRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createInquiry</name>
        <label>createInquiry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varInquiryId</assignRecordIdToReference>
        <connector>
            <targetReference>getInquiryName</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Inquiry_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>getApplication.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>getApplication.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>getApplication.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InquiryDescription__c</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getApplication.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>varInquirySubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeOfInquiry__c</field>
            <value>
                <stringValue>Tekniske spørsmål</stringValue>
            </value>
        </inputAssignments>
        <object>Inquiry__c</object>
    </recordCreates>
    <recordCreates>
        <name>createMessageFromNav</name>
        <label>createMessageFromNav</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_activity_historyAPI</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Message_Text__c</field>
            <value>
                <elementReference>varMessageFromNav</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>createThread</elementReference>
            </value>
        </inputAssignments>
        <object>Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createThread</name>
        <label>createThread</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createMessageFromNav</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Thread_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AAREG_Thread_Subject__c</field>
            <value>
                <stringValue>Opprettelse av tilgang(er) til API</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Account__c</field>
            <value>
                <elementReference>getApplication.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_HenvendelseId__c</field>
            <value>
                <elementReference>varInquiryName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Related_Object_Type__c</field>
            <value>
                <stringValue>Inquiry__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Related_Object__c</field>
            <value>
                <elementReference>varInquiryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread_Type__c</field>
            <value>
                <stringValue>AAREG_EXP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varThreadName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getApplication.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_AAReg_Thread_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the AAReg Thread Record Type that will be used when we are creating the new Thread record.</description>
        <name>Get_AAReg_Thread_Record_Type</name>
        <label>Get AAReg Thread Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAgreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Thread_Record_Type_Name.Value__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Thread_Record_Type_Name</name>
        <label>Get Thread Record Type Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AAReg_Thread_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ThreadRecordTypeName</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AAREG_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAgreement</name>
        <label>getAgreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getApplication</name>
        <label>getApplication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_web_access_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAgreement.Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getInquiryName</name>
        <label>getInquiryName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createThread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInquiryId</elementReference>
            </value>
        </filters>
        <object>Inquiry__c</object>
        <outputAssignments>
            <assignToReference>varInquiryName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Thread_Record_Type_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Agreement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorMessage_fault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rec_TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rec_TaskRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varInquiryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInquiryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSingleAccessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>No Access</stringValue>
        </value>
    </variables>
</Flow>
