force-app/main/default/flows/AAREG_createDistributionAccess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createAccessForUser</name>
        <label>createAccessForUser</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <actionName>AAREG_distributionAccessController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getRecordTypeId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>refOrganizationNumber</name>
            <value>
                <elementReference>getAgreement.OrganizationNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refAccessType</name>
            <value>
                <stringValue>AAREG_TILGANG_ONLINE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceId</name>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceType</name>
            <value>
                <stringValue>PUT</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>getAccessTypes</name>
        <label>getAccessTypes</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <actionName>AAREG_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loopTextCollection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>getApplication.AA_AccessTypes__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>setSingleAccessTypes</name>
        <label>setSingleAccessTypes</label>
        <locationX>396</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>varSingleAccessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTextCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkAccessType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkAccessType</name>
        <label>checkAccessType</label>
        <locationX>396</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>loopTextCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOnline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createAccessForUser</targetReference>
            </connector>
            <label>isOnline</label>
        </rules>
    </decisions>
    <formulas>
        <name>varTaskDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Access sendt&apos;</expression>
    </formulas>
    <interviewLabel>AAREG_createDistributionAccess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_createDistributionAccess</label>
    <loops>
        <name>loopTextCollection</name>
        <label>loopTextCollection</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>getAccessTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setSingleAccessTypes</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createActivtyHistory</name>
        <label>createActivtyHistory</label>
        <locationX>264</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>loopTextCollection</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Access sendt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getAgreement</name>
        <label>getAgreement</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrganizationNumber__c</queriedFields>
        <queriedFields>Application__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getApplication</name>
        <label>getApplication</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccessTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAgreement.Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AA_AccessTypes__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>264</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createActivtyHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAgreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Agreement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSingleAccessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
