force-app/main/default/flows/AAREG_removeAccessToDistribution.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>deactivateAccessForUser</name>
        <label>deactivateAccessForUser</label>
        <locationX>836</locationX>
        <locationY>1691</locationY>
        <actionName>AAREG_distributionAccessController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getRecordTypeId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>refOrganizationNumber</name>
            <value>
                <elementReference>getAgreement.OrganizationNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refAccessType</name>
            <value>
                <stringValue>AAREG_TILGANG_ONLINE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceId</name>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceType</name>
            <value>
                <stringValue>DELETE</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>getAccessTypes</name>
        <label>getAccessTypes</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <actionName>AAREG_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loopTextCollection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>getApplication.AA_AccessTypes__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>setSingleAccessTypes</name>
        <label>setSingleAccessTypes</label>
        <locationX>836</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>varSingleAccessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTextCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkValidAccessTypes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkValidAccessTypes</name>
        <label>checkValidAccessTypes</label>
        <locationX>836</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>loopTextCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOnline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAgreement.OnlineAccess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OnlineAccess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deactivateAccessForUser</targetReference>
            </connector>
            <label>isOnline</label>
        </rules>
        <rules>
            <name>isAPI</name>
            <conditionLogic>5 AND 6 AND (1 OR 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access API</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access API with dataprocessor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access OTP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access OTP with dataprocessor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAgreement.APIAccess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.APIAccess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>createInquiry</targetReference>
            </connector>
            <label>isAPI</label>
        </rules>
        <rules>
            <name>IsDeactivateAgreementOnline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAgreement.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access API with dataprocessor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deactivateAccessForUser</targetReference>
            </connector>
            <label>IsDeactivateAgreementOnline</label>
        </rules>
        <rules>
            <name>isDeactivatedAgreementAPI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAgreement.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access API</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access OTP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access OTP with dataprocessor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createInquiry</targetReference>
            </connector>
            <label>isDeactivatedAgreementAPI</label>
        </rules>
        <rules>
            <name>isEvent</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSingleAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event with dataprocessor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAgreement.EventAccess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EventAccess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>createInquiry</targetReference>
            </connector>
            <label>isEvent</label>
        </rules>
    </decisions>
    <description>If casehandler or user is deactivating the agreement a cancellation callout is sent to distribution through the integration.</description>
    <environments>Default</environments>
    <formulas>
        <name>varTaskDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Tilgang er deaktivert av  &apos;+{!$User.FirstName}+&apos; &apos;+{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>AAREG_removeAccessToDistribution {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_removeAccessToDistribution</label>
    <loops>
        <name>loopTextCollection</name>
        <label>loopTextCollection</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <collectionReference>getAccessTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setSingleAccessTypes</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createActivtyHistory</name>
        <label>createActivtyHistory</label>
        <locationX>836</locationX>
        <locationY>1931</locationY>
        <connector>
            <targetReference>loopTextCollection</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Tilgang</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>getAgreement.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createInquiry</name>
        <label>createInquiry</label>
        <locationX>880</locationX>
        <locationY>1175</locationY>
        <assignRecordIdToReference>varInquiryId</assignRecordIdToReference>
        <connector>
            <targetReference>getInquiryName</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>getApplication.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>getApplication.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>getApplication.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InquiryDescription__c</field>
            <value>
                <elementReference>varInquiryDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <stringValue>Deaktivere tilgang(er) til API</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeOfInquiry__c</field>
            <value>
                <stringValue>Tekniske spørsmål</stringValue>
            </value>
        </inputAssignments>
        <object>Inquiry__c</object>
    </recordCreates>
    <recordCreates>
        <name>createThread</name>
        <label>createThread</label>
        <locationX>880</locationX>
        <locationY>1415</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>loopTextCollection</targetReference>
        </connector>
        <inputAssignments>
            <field>AAREG_Thread_Subject__c</field>
            <value>
                <stringValue>Deaktivere tilgang(er) til API</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Account__c</field>
            <value>
                <elementReference>getApplication.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_HenvendelseId__c</field>
            <value>
                <elementReference>varInquiryName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Related_Object_Type__c</field>
            <value>
                <stringValue>Inquiry__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Related_Object__c</field>
            <value>
                <elementReference>varInquiryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varInquiryName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getApplication.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getAgreement</name>
        <label>getAgreement</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrganizationNumber__c</queriedFields>
        <queriedFields>Application__c</queriedFields>
        <queriedFields>APIAccess__c</queriedFields>
        <queriedFields>OnlineAccess__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getApplication</name>
        <label>getApplication</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordTypeId_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAgreement.Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AA_AccessTypes__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getInquiryName</name>
        <label>getInquiryName</label>
        <locationX>880</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createThread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInquiryId</elementReference>
            </value>
        </filters>
        <object>Inquiry__c</object>
        <outputAssignments>
            <assignToReference>varInquiryName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>836</locationX>
        <locationY>1811</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createActivtyHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId_0</name>
        <label>getRecordTypeId</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccessTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAgreement</targetReference>
        </connector>
        <filterLogic>4 AND (1 OR 2 OR 3)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deactivated</stringValue>
            </value>
        </filters>
        <filters>
            <field>OnlineAccess__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>APIAccess__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isNoDeactivationAccess__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varInquiryDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&quot;Deaktivere tilgang(er) til API - &quot;&amp;amp;{!varSingleAccessType} &amp;amp; BR()&lt;/p&gt;&lt;p&gt;&amp;amp;&quot;Vedtaksdato: &quot;&amp;amp;TEXT(TODAY())&amp;amp; BR()&lt;/p&gt;&lt;p&gt;&amp;amp;&quot;Virksomhet: &quot;&amp;amp;{!getApplication.Account__r.Name}&amp;amp; BR()&lt;/p&gt;&lt;p&gt;&amp;amp;&quot;Organisasjonsnummer: &quot;&amp;amp;{!getApplication.Account__r.INT_OrganizationNumber__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varThreadMessageNav</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hei&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInquiryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInquiryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varResponseStatusCode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varSingleAccessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
