force-app/main/default/flows/AAREG_supportRemoveCaseOwner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>setAfterCategory</name>
        <label>setAfterCategory</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varAfterCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TypeOfInquiry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setBeforeCategory</name>
        <label>setBeforeCategory</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>varBeforeCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.TypeOfInquiry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateInquiry</targetReference>
        </connector>
    </assignments>
    <description>If support case changes inquiry type - owner removes and status set to new</description>
    <formulas>
        <name>varDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Saken endret kategori fra &quot; +{!varBeforeCategory}+ &quot; til &quot;+{!varAfterCategory}</expression>
    </formulas>
    <interviewLabel>AAREG_SupportChange {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_supportRemoveCaseOwner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createTask</name>
        <label>createTask</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Endret kategori</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Endret kategori</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>updateInquiry</name>
        <label>updateInquiry</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>setAfterCategory</targetReference>
        </connector>
        <inputAssignments>
            <field>InquiryOwnerName__c</field>
            <value>
                <elementReference>varOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InquiryOwner__c</field>
            <value>
                <elementReference>varOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setBeforeCategory</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3)</filterLogic>
        <filters>
            <field>TypeOfInquiry__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InquiryOwner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Inquiry__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAfterCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBeforeCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
