force-app/main/default/flows/AAREG_applicationAddInternalComments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Application_updation_failed</name>
        <label>Application updation failed</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>AAREG_applicationAddInternalComments_failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
            <value>
                <elementReference>getApplication</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>Used for adding newLine</description>
        <name>conGES</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkComment</name>
        <label>checkComment</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>isEmpty</defaultConnectorLabel>
        <rules>
            <name>notEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addInternalComment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateComment</targetReference>
            </connector>
            <label>notEmpty</label>
        </rules>
    </decisions>
    <description>Saksbehandling - add an internal comment + user and time/date</description>
    <environments>Default</environments>
    <formulas>
        <name>addDescription</name>
        <dataType>String</dataType>
        <expression>{!varDateTimeUser}&amp; BR() &amp;
{!addInternalComment}</expression>
    </formulas>
    <formulas>
        <name>varDateTimeUser</name>
        <dataType>String</dataType>
        <expression>&apos;Merknad lagt til &apos;&amp; TEXT({!$Flow.CurrentDate})&amp;&apos; av &apos;&amp;{!$User.FirstName}&amp;&apos; &apos;&amp;{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>AAREG_applicationAddInternalComments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_applicationAddInternalComments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getApplication</name>
        <label>getApplication</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addComment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DecisionDescription__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateComment</name>
        <label>updateComment</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>createTaskInternalComments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getApplication.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DecisionDescription__c</field>
            <value>
                <elementReference>varAddTextTemplateComments</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <screens>
        <name>addComment</name>
        <label>addComment</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkComment</targetReference>
        </connector>
        <fields>
            <name>addInternalComment</name>
            <fieldText>Add comments - only for internal use</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Application_updation_failed</targetReference>
        </connector>
        <fields>
            <name>FaultText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Det skjedde en feil. Gi systemadministrator denne feilmeldingen.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getApplication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>createTaskInternalComments</name>
        <label>createTaskInternalComments</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <flowName>AAREG_subflowCreateTask</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>addDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedToId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>varTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeOfTask</name>
            <value>
                <stringValue>Merknad</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>newLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!conGES}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varAddTextTemplateComments</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varDateTimeUser}

{!addInternalComment}
**********************************************
{!getApplication.DecisionDescription__c}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInternalCommentAdd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Merknad lagt til</stringValue>
        </value>
    </variables>
</Flow>
