force-app/main/default/flows/AAREG_afterInsertUpdateThreadOwnerId.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>setApplicationName</name>
        <label>setApplicationName</label>
        <locationX>4</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>varApplicationName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateThreadOwner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkObjectType</name>
        <label>checkObjectType</label>
        <locationX>386</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isApplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getThread.CRM_Related_Object__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a1e</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getThread.CRM_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getApplication</targetReference>
            </connector>
            <label>isApplication</label>
        </rules>
    </decisions>
    <description>Update Thread Owner  to portal owner, if the Thread is created from NAV.</description>
    <formulas>
        <name>varThreadSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Henvendelse fra NAV - &quot;&amp; {!varApplicationName}</expression>
    </formulas>
    <interviewLabel>AAREG_afterInsertUpdateThreadOwnerId {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_afterInsertUpdateThreadOwnerId</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getApplication</name>
        <label>getApplication</label>
        <locationX>254</locationX>
        <locationY>579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setApplicationName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getThread.CRM_Related_Object__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getThread</name>
        <label>getThread</label>
        <locationX>394</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkObjectType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Account__c</queriedFields>
        <queriedFields>CRM_Contact__c</queriedFields>
        <queriedFields>CRM_Related_Object_Type__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CRM_Related_Object__c</queriedFields>
        <queriedFields>CRM_Thread_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateThreadOwner</name>
        <label>updateThreadOwner</label>
        <locationX>248</locationX>
        <locationY>776</locationY>
        <inputAssignments>
            <field>AAREG_Thread_Subject__c</field>
            <value>
                <elementReference>varThreadSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Account__c</field>
            <value>
                <elementReference>getApplication.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Contact__c</field>
            <value>
                <elementReference>getApplication.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Related_Object_Type__c</field>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread_Type__c</field>
            <value>
                <stringValue>AAREG_INT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getApplication.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <object>Thread__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>getThread</targetReference>
            </connector>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varApplicationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
