force-app/main/default/flows/AAREG_Application_update_case_owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setCaseOwner</name>
        <label>Set case owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ApplicationRecords.CasehandlerOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_chooseOwner.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationRecords.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationRecords.applicationOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_chooseOwner.selectedChoiceLabels</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCaseOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStatusInProgress</name>
        <label>Set status In Progress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ApplicationRecords.Casehandler_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationRecords.CasehandlerOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_chooseOwner.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationRecords.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationRecords.applicationOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_chooseOwner.selectedChoiceLabels</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCaseOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>technicalError</name>
        <label>Technical error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage_fault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>logAndDisplayShortMessage</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>var_CurrenUserChoice</name>
        <choiceText>{!$User.FirstName} {!$User.LastName}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </choices>
    <collectionProcessors>
        <name>filterGroupMembersIds</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter group member ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_filterGroupMembersIds</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getPublicGroupMembers</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterGroupMembersIds.UserOrGroupId</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <stringValue>005</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Transform_ids_into_collection</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>checkOwnerCheck</name>
        <label>Check owner change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOwernChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_chooseOwner.selectedChoiceValues</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_ApplicationRecords.CasehandlerOwner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkStatus</targetReference>
            </connector>
            <label>isOwnerChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkStatus</name>
        <label>Check status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>setCaseOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isStatusNotNew</defaultConnectorLabel>
        <rules>
            <name>isStatusNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_application.Casehandler_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setStatusInProgress</targetReference>
            </connector>
            <label>isStatusNew</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ccs_ActiveUserNameIN</name>
        <collectionReference>getActiveUsers1</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>AAREG Application update case owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG Application update case owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_current_application</name>
        <label>Get current application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPublicGroupIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getActiveUsers1</name>
        <label>Get active users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_owner_lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_ids_into_collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_CurrenUserChoice</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Henter gruppeid til Nav Registerforvaltning /AAREG saksbehandling public group</description>
        <name>getPublicGroupIds</name>
        <label>Get public group id&apos;s</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_public_ids_into_collection</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAREG_Casehandling</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>group_4534</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPublicGroupMembers</name>
        <label>Get public group members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filterGroupMembersIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_public_ids_into_collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCaseOwner</name>
        <label>Update case owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>technicalError</targetReference>
        </faultConnector>
        <inputReference>var_ApplicationRecords</inputReference>
    </recordUpdates>
    <screens>
        <name>Case_owner_lookup</name>
        <label>Case owner lookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkOwnerCheck</targetReference>
        </connector>
        <fields>
            <name>var_chooseOwner</name>
            <choiceReferences>var_CurrenUserChoice</choiceReferences>
            <choiceReferences>ccs_ActiveUserNameIN</choiceReferences>
            <defaultValue>
                <elementReference>$User.Id</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Choose case owner name</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>-- Velg sakseier --</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_current_application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>logAndDisplayShortMessage</name>
        <label>Log and display message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>AAREG_Log_And_Disp_Short_Messages</flowName>
        <inputAssignments>
            <name>category</name>
            <value>
                <stringValue>AAREG Appliction update case owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>error_Message</name>
            <value>
                <elementReference>ErrorMessage_fault</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>failed_On_Object</name>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fault_time</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flow_Interview_Guid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>log_Level</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>source_flow</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <transforms>
        <name>Transform_ids_into_collection</name>
        <label>Transform ids into collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getActiveUsers1</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>filterGroupMembersIds[$EachItem].UserOrGroupId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_public_ids_into_collection</name>
        <label>Transform public ids into collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPublicGroupMembers</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>getPublicGroupIds[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_filterGroupMembersIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>ErrorMessage_fault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ApplicationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
</Flow>
