force-app/main/default/flows/AAREG_agreementRevisionLoggComment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Arbeidsforhold - Muliggjør å loggføre kommentarer underveis i revisjonen</description>
    <environments>Default</environments>
    <interviewLabel>AAREG Agreement revision logg comment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG Agreement revision logg comment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>AAREG_get_agreement</name>
        <label>Get agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AAREG_addComment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AAREG_addComment</name>
        <label>Add comment on revision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AAREG_Logg_comment_during_revision</targetReference>
        </connector>
        <fields>
            <name>AAREG_loggComment</name>
            <dataType>String</dataType>
            <fieldText>Beskriv aktivitet eller legg inn kommentar (255 tegn)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;Legg til en kommentar underveis ved revisjon. &lt;/p&gt;&lt;p&gt;Det opprettes en aktivitet og kommentar logges&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AAREG_get_agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AAREG_Logg_comment_during_revision</name>
        <label>Logg comment during revision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>AAREG_subflowCreateTask</flowName>
        <inputAssignments>
            <name>varAccessRequest</name>
            <value>
                <elementReference>AAREG_get_agreement.Access_Request__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>AAREG_loggComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedToId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>var_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeOfTask</name>
            <value>
                <stringValue>Revisjon</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Loggføring av aktivitet/kommentar under revisjon</stringValue>
        </value>
    </variables>
</Flow>
