force-app/main/default/flows/AAREG_addReasonForSuspension.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Application_Not_Found</name>
        <label>Application Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage_fault</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application not Found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_and_Display_Short_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Thread_failed</name>
        <label>Create Thread failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Ref_Application_Rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOwnerAndStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage_fault</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Creation of Thread record related to Application failed. </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage_fault</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_and_Display_Short_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Technical_Error</name>
        <label>Technical Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage_fault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_and_Display_Short_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Application_failed</name>
        <label>Update Application failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage_fault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ref_Application_Rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOwnerAndStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_and_Display_Short_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Application_Found</name>
        <label>Application Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Application_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOwnerAndStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkStatusAndOwner</targetReference>
            </connector>
            <label>Yes found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Status cannot be New and the case have to have a caseowner due to archive</description>
        <name>checkStatusAndOwner</name>
        <label>checkStatusAndOwner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNot</defaultConnectorLabel>
        <rules>
            <name>IsOwnerAndStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOwnerAndStatus.Casehandler_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOwnerAndStatus.CasehandlerOwner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reasonForSuspension</targetReference>
            </connector>
            <label>IsOwnerAndStatus</label>
        </rules>
    </decisions>
    <description>Saksbehandling - when casehandler suspend an application, a reason must be given. Adds the reason and create a task</description>
    <environments>Default</environments>
    <formulas>
        <name>FailedforRecord</name>
        <dataType>String</dataType>
        <expression>&quot;Gjelder &quot; &amp; {!recordId}</expression>
    </formulas>
    <interviewLabel>AAREG_addReasonForSuspension {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG Application add reason for suspension</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getOwnerAndStatus</name>
        <label>getOwnerAndStatus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Technical_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Casehandler_Status__c</queriedFields>
        <queriedFields>CasehandlerOwner__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateReason</name>
        <label>updateReason</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>updateThreadCrmIsActive</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Application_failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AA_DecisionArchiveText__c</field>
            <value>
                <elementReference>suspensionText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Casehandler_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DecisionDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Suspension</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reasonForSuspension__c</field>
            <value>
                <elementReference>suspensionText</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateThreadCrmIsActive</name>
        <label>updateThreadCrmIsActive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createTaskSuspensionOfApplication</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Thread_failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Related_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_isActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Thread__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>setOwnerAndStatus</name>
            <fieldText>&lt;p&gt;You have to set caseowner and status in progress before you suspend application&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>reasonForSuspension</name>
        <label>Add reason for suspension</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateReason</targetReference>
        </connector>
        <fields>
            <name>suspensionText</name>
            <dataType>String</dataType>
            <fieldText>Reason for suspension</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the reason for closing the application.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOwnerAndStatus</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>createTaskSuspensionOfApplication</name>
        <label>createTaskSuspensionOfApplication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>AAREG_subflowCreateTask</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>suspensionText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRelatedToId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>varTaslSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTypeOfTask</name>
            <value>
                <stringValue>Søknad henlagt</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_and_Display_Short_Message</name>
        <label>Log and Display Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>AAREG_Log_And_Disp_Short_Messages</flowName>
        <inputAssignments>
            <name>category</name>
            <value>
                <stringValue>AAREG_addReasonForSuspension</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>error_Message</name>
            <value>
                <elementReference>ErrorMessage_fault</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>failed_On_Object</name>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fault_time</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flow_Interview_Guid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>log_Level</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ref_application_rec</name>
            <value>
                <elementReference>Ref_Application_Rec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>source_flow</name>
            <value>
                <elementReference>FailedforRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ErrorMessage_fault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reasonForSuspensionText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordtTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Ref_Application_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>varTaslSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Søknaden er henlagt av saksbehandler</stringValue>
        </value>
    </variables>
</Flow>
