force-app/main/default/flows/AAREG_sendAwaitingResponseEmailNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_EmailQueue_failed</name>
        <label>Create EmailQueue failed</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>EmailQueue__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>AAREG_sendAwaitingResponseEmailNotification_failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>AAREG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setVariables</name>
        <label>setVariables</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createEmailQueue</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>AAREG_sendAwaitingResponseEmailNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAREG_sendAwaitingResponseEmailNotification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createEmailQueue</name>
        <label>createEmailQueue</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <faultConnector>
            <targetReference>Create_EmailQueue_failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaveAsActivity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetObjectId__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TemplateName__c</field>
            <value>
                <stringValue>aaRegApplicationAwaitingAnswer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>EmailQueue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setVariables</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Casehandler_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Additional Information Required</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
